<app-header></app-header>

<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Edit NC </li>
          </ol>
        </div>
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Edit NC </h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label for="fname" class="col-md-12">Client</label>
            <select [(ngModel)]="SelClientId" class="form-control col-md-12" #clientId (change)="getProjects();">
              <option [value]="0">Please Select</option>
              <option [value]="o.clientId" *ngFor="let o of clients">
                {{o.clientName}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="fname" class="col-md-12 col-form-label">Project</label>
            <select [(ngModel)]="SelProjectId" #projectId class="form-control" (change)="getStructures();">
              <option [value]="0">Please Select</option>
              <option [value]="o.projectId" *ngFor="let o of projects">
                {{o.projectName}}
              </option>
            </select>

          </div>

          <div class="form-group col-md-4">
            <label for="fname" class="col-md-12 col-form-label">Structure</label>

            <select [(ngModel)]="SelStructureId" #structureId class="form-control col-md-12" (change)="getStages();">
              <option [value]="0">Please Select</option>
              <option [value]="o.structureId" *ngFor="let o of structures">
                {{o.structureName}}
              </option>
            </select>

          </div>

          <div class="form-group col-md-4">
            <label for="fname" class="col-md-12 col-form-label">Stage</label>

            <select [(ngModel)]="SelStageId" #stageId class="col-md-12 form-control">
              <option [value]="0">Please Select</option>
              <option [value]="o.stageId" *ngFor="let o of stages">
                {{o.stageName}}
              </option>
            </select>

          </div>

          <div class="form-group col-md-4">
            <label class="col-md-12">Trade</label>
            <select [(ngModel)]="SelTradeId"  class="form-control col-md-12" (change)="getChecklist()">
              <option [value]="trade.fkTradeId" *ngFor="let trade of allTrades">{{trade.tradeName}}</option>
            </select>
           
          </div>

          <div class="form-group col-md-4">
            <label for="fname" class="col-md-12 col-form-label">Checklist</label>

            <select [(ngModel)]="SelChecklistId" #checklistId class="col-md-12 form-control" (change)="getQuestionGroup()">
              <option [value]="0">Please Select</option>
              <option [value]="o.checkistIdChecklist" *ngFor="let o of checklists">
                {{o.checklistNameChecklist}}
              </option>
            </select>

          </div>

          <div class="form-group col-md-4">
            <label for="fname" class="col-md-12 col-form-label">Question Group</label>

            <select [(ngModel)]="SelQuestionGroupId" class="col-md-12 form-control" (change)="getQuestions()">
              <option [value]="0">Please Select</option>
              <option [value]="o.questionGroupIdQ" *ngFor="let o of questiongroups">
                {{o.questionGroupTextQ}}
              </option>
            </select>

          </div>

          <div class="form-group col-md-4">
            <label for="fname" class="col-md-12 col-form-label">Question</label>

            <select [(ngModel)]="SelQuestionId" #questionId class="col-md-12 form-control" >
              <option [value]="0">Please Select</option>
              <option [value]="o.questionIdQ" *ngFor="let o of questions">
                {{o.questionTextQ}}
              </option>
            </select>

          </div>

          <div class="form-group col-md-4">
            <label>From Date</label>
            <input  type="date" [(ngModel)]="fromDate" class="form-control"/>
          </div>

          <div class="form-group col-md-4">
            <label>To Date</label>
            <input  type="date" [(ngModel)]="toDdate" class="form-control" />
          </div>


          <div class="form-group col-md-4 mt-4">
            <button class="btn btn-primary" (click)="onSubmit()">Get List</button>
          </div>
        </div>


        <div class="form-view mt-5">
          <div class="main-header_createview">
            <div class="left-side-header">
              <div class="create-content-header">
                <h1> Edit NC List </h1>
              </div>
            </div>
          </div>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" class="row-border hover"
            style="width:100%">
            <thead>
              <tr>

                <th>Observation</th>
                <th  style="width:20%">NC description</th>
                <th style="width:10%">Remark</th>
                <th>Location</th>
                <th>Stage No</th>
                <th>Date</th>
                <th>Delete</th>
                <th>Reason</th>
                <th>Contractor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nc of editNcsList">
                <td>1</td>
                <td><textarea class="form-control">{{nc.ncDescription}}</textarea></td>
                <td><input type="text" class="form-control" [value]="nc.remark"></td>
                <td><input type="text" class="form-control" [value]="nc.location"></td>
                <td>Stage No {{nc.floorNo}}</td>
                <td>{{nc.ansDate}}</td>
                <td>
                  <div class="action-commonview">
                    <button type="text" class="Delete-modal">
                      <span class="edit-tessst">
                        <i class="lar la-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
                <td><input type="text" class="form-control"></td>
                <!-- <td>{{ getContractorName(client.contractorId) }}</td> -->
                <td> Clinet </td>
              </tr>
              
            </tbody>

          </table>
        </div>

      </div>
    </div>
    <app-footer></app-footer>