<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Checklist Group </h1>
            </div>
          </div>
          <div class="right-side-create-view ">
            <div class="create-content-operations">
              <!-- <a routerLink="/createTradegroup/-1"> -->
              <button type="button" data-toggle="modal" data-target="#exampleModalCenter"> Create Checklist Group
              </button>
              <!-- </a> -->
            </div>
          </div>
        </div>
      </div>

      

      <div class="inspector-list mt-5">
        <table class="row-border hover inspector_list_table"
          style="width:100%">
          <thead>
            <tr>
              <th>Checklist Group Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
           
          </tbody>
        </table>
      </div>


    </div>
  </div>
  <app-footer></app-footer>