<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">My Account</a>
            </li>
            <li class="breadcrumb-item active">Reset Password</li>
          </ol>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Reset Password</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form>
          <div class="row">
            <div class="form-group col-md-3">
              <label>New Password</label>
              <input type="text" id="newPassword" autocomplete="off" class="form-control" />

            </div>


            <div class="form-group col-md-3">
              <label>Confirm Password</label>
              <input type="text" id="confirmPassword" autocomplete="off" class=" form-control" />
            </div>

          </div>
          <div class="form-group col-md-12">
            <span *ngIf="passEror" class="badge badge-danger">Password must be same</span>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="resetPassword()">
              <span *ngIf="isLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="!isLoad">Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-snack-bar></app-snack-bar>
  <app-footer></app-footer>