<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> NC Reviwer </h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label for="fname" class="col-form-label">Region</label>
          <select class="form-control col-md-12" [(ngModel)]="selRegion">
            <option [value]="0">Please Select</option>
            <option [value]="o.regionName" *ngFor="let o of regions">
              {{o.regionName}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="fname" class="col-form-label">Project</label>
          <select class="form-control col-md-12" [(ngModel)]="SelProjectId" #projectId (change)="getProjectTrades()">
            <option [value]="0">Please Select</option>
            <option [value]="o.projectId" *ngFor="let o of projects">
              {{o.projectName}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="fname" class=" col-form-label">Cycle of Inspection</label>
          <select class="form-control col-md-12" [(ngModel)]="SelCycleId" #cycleId>
            <option [value]="o.cycle_id" *ngFor="let o of cycleOfInspection">
              {{o.cycle_name}}
            </option>
          </select>
        </div>



        <div class="form-group col-md-4">
          <label for="fname" class=" col-form-label">Trade</label>
          <select class="form-control col-md-12" [(ngModel)]="SelTradeId" #projectId>
            <option [value]="">Please Select</option>
            <option [value]="o.tardeId" *ngFor="let o of trades">
              {{o.tradeName}}
            </option>
          </select>
        </div>


        <div class="form-group col-md-4">
          <label for="fname" class="col-form-label">Status</label>
          <select class="form-control col-md-12" [(ngModel)]="SelStatusId" #projectId>
            <option [value]="0" selected>Please Select</option>
            <option [value]="o.statusId" *ngFor="let o of status">
              {{o.statusName}}
            </option>
          </select>
        </div>
        <div class="form-group mt-4 pt-3">
          <button class="btn btn-primary" (click)="getNCs()">Get Report</button>
        </div>
      </div>


      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <!-- Example DataTables Card-->


          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" style="width:100%">
            <thead>
              <tr>
                <th>Report No.</th>
                <th>Nc Number</th>
                <th>Project Name</th>
                <th> Trade Name</th>
                <th> NC Description </th>
                <th> Status</th>
                <th>Remark/Location </th>
                <th>View Report</th>
                <th>NC Closure </th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of ncsReports">
                <td>{{ client.idNcBeanSa }}</td>
                <td>{{ client.nc_number_nc_bean_sa }}</td>
                <td>{{ client.projectNameProjects }}</td>
                <td>{{ client.tradeNameTrade }}</td>
                <td>{{ client.nc_closure_comment_nc_bean_sa }}</td>
                <td>{{ client.statusNcBeanSa }}</td>
                <td>{{ client.locationNcBeanSa}}</td>
                <td>View</td>
                <td>{{ client.ncClosureDateNcBeanSa }}</td>

                <td>
                  <div class="action-commonview">
                    <button type="text" (click)="editReport(client.idNcBeanSa)" class="edit-modal add-modal"
                      data-toggle="modal" data-target="#exampleModalCenter">
                      <span class="edit-tessst">
                        <i class="las la-pencil-alt"></i>
                      </span>
                    </button>
                    <button type="text" (click)="deActivateProject(client.projectId)" class="Delete-modal">
                      <span class="edit-tessst">
                        <i class="lar la-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>