<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">


</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg  fixed-top myclassnav" id="mainNav">
    <a class="navbar-brand" href="index.php">
      <div class="header-view-logo">
        <img src="assets/images/cqra-logo-s-1.png">
      </div>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" routerLink="/dashboard">
           <span class="all-font-icons">  <i class="lab la-microsoft"></i> </span> 
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li> -->
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" routerLink="/users" >
            <span class="all-font-icons"> 
              <i class="las la-table"></i> </span>
            <span class="nav-link-text">User Management</span>
          </a>
        </li> -->


        <li class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="Dashboard"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item" routerLink="/dashboard">
            <span class="all-font-icons">
              <i class="fa fa-tachometer"></i>
            </span>
            <span class="nav-link-text"> Dashboard </span>
          </a>
        </li>


        <li *ngIf="(userMenu.userlog || userMenu.userMenu || userMenu.contractorMenu 
        || userMenu.supervisorMenu || userMenu.foremanMenu || userMenu.clientStaffMenu
        || userMenu.assignContractor || userMenu.manageUserAccessMenu || userMenu.userAllocationMenu)"
          class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="Users" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-user"></i>
            </span>
            <span class="nav-link-text"> User Management </span>
          </a>
          <ul class="dropdown-menu">
            <!-- <li *ngIf="userMenu.userMenu" class="dropdown-item"><a tabindex="-1" routerLink="/roles">Role</a></li> -->

            <li *ngIf="userMenu.clientStaffMenu" class="dropdown-item"><a tabindex="-1" routerLink="/clientStaff">Client
                Engineer</a></li>

            <li *ngIf="userMenu.userMenu" class="dropdown-item"><a tabindex="-1" routerLink="/pmcList">PMC</a></li>

            <li *ngIf="userMenu.contractorMenu" class="dropdown-item"><a tabindex="-1" routerLink="/contractor">Add
                Contractor (Supervisor & Foreman)</a></li>

            <li *ngIf="userMenu.userMenu" class="dropdown-item"><a tabindex="-1" routerLink="/users">Users</a></li>

            <!-- <li *ngIf="userMenu.assignContractor" class="dropdown-item"><a tabindex="-1"
                routerLink="/assign-constructor-supervisor-foreman">Assign Contractor/ PMC/ Client</a>
            </li> -->
            <li *ngIf="userMenu.assignContractor" class="dropdown-item"><a tabindex="-1"
                routerLink="/manage-contractor-allocation">Assign Contractor/ PMC/ Client</a>
            </li>
            
            <li *ngIf="userMenu.userAllocationMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/userAllocation">CQRA User Allocation</a></li>

            <!-- <li *ngIf="userMenu.userMenu" class="dropdown-item"><a tabindex="-1" routerLink="/regions">Regions</a></li> -->

            <li *ngIf="userMenu.manageUserAccessMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/userAccess">Manage User Access</a></li>

            <!-- <li *ngIf="userMenu.supervisorMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/contractorSupervisor">Contractor Supervisor</a></li>

            <li *ngIf="userMenu.foremanMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/contractorForman">Contractor Forman</a></li> -->

            <!-- <li *ngIf="userMenu.assignContractor" class="dropdown-item"><a tabindex="-1"
                routerLink="/assign-constructor-foreman">Assign Constructor's Foreman</a></li> -->

            <!-- <li class="dropdown-item"><a tabindex="-1" routerLink="/sampling">Sampling</a></li> -->

            <li class="dropdown-item"><a tabindex="-1" routerLink="/assignEquipementList">Assign And Add Equipment</a>
            </li>
          </ul>
        </li>


        <li *ngIf="(userMenu.clientMenu || userMenu.schemeMenu || userMenu.buildingMenu)" class="dropdown-submenu"
          data-toggle="tooltip" data-placement="right" title="Masters" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-building"></i>
            </span>
            <span class="nav-link-text"> Master Maintenance </span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="userMenu.userMenu" class="dropdown-item"><a tabindex="-1" routerLink="/roles">Role</a></li>
            <li *ngIf="userMenu.userMenu" class="dropdown-item"><a tabindex="-1" routerLink="/regions">Regions</a></li>
            <li *ngIf="userMenu.clientMenu" class="dropdown-item"><a tabindex="-1" routerLink="/client">Client</a></li>
            <li *ngIf="userMenu.schemeMenu" class="dropdown-item"><a tabindex="-1" routerLink="/project">Project </a>
            </li>
            <li *ngIf="userMenu.buildingMenu" class="dropdown-item"><a tabindex="-1" routerLink="/wbs">WBS </a></li>
          </ul>
        </li>


        <li *ngIf="(userMenu.tradeGroup || userMenu.tradeMenu || userMenu.subgroupMenu || userMenu.questionGroupMenu
        || userMenu.questionHeadingMenu || userMenu.questionMenu || userMenu.checklistGenerationMenu)"
          class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="Trades" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-cubes"></i>
            </span>
            <span class="nav-link-text"> Trade Maintenance </span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="userMenu.tradeMenu" class="dropdown-item"><a tabindex="-1" routerLink="/tradegroup">Trade
                Group</a></li>
            <li *ngIf="userMenu.tradeMenu" class="dropdown-item"><a tabindex="-1" routerLink="/trade">Trade </a></li>
            <li *ngIf="userMenu.subgroupMenu" class="dropdown-item"><a tabindex="-1" routerLink="/subgroup">Subgroup</a>
            </li>
            <li *ngIf="userMenu.questionGroupMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/questiongroup">Question Group</a></li>
            <li *ngIf="userMenu.questionHeadingMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/questionheading">Question Heading</a></li>
            <li class="dropdown-item"><a tabindex="-1" routerLink="/questiontitle">Question Title</a></li>
            <li *ngIf="userMenu.questionMenu" class="dropdown-item"><a tabindex="-1" routerLink="/question">Question
              </a></li>
            <li *ngIf="userMenu.checklistGenerationMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/checklist">Checklist </a></li>
          </ul>
        </li>


        <li class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="Snap Audit"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-book"></i>
            </span>
            <span class="nav-link-text">Snap Audit Reports </span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="userMenu.logMenu" class="dropdown-item"><a tabindex="-1" routerLink="/userLog">User Log</a></li>
            <li *ngIf="userMenu.nc" class="dropdown-item"><a tabindex="-1" routerLink="/editNC">Edit NC & Conformity
              </a></li>
            <li *ngIf="userMenu.ncco1" class="dropdown-item"><a tabindex="-1" routerLink="/ncCountReportList">NC
                count</a></li>
            <li *ngIf="userMenu.aHomeInspect1" class="dropdown-item"><a tabindex="-1"
                routerLink="/snaggingDocument">SingOff
                documents</a></li>
            <li *ngIf="userMenu.aInspectReport" class="dropdown-item"><a tabindex="-1"
                routerLink="/inspectionReport">Inspection report</a></li>
            <li *ngIf="userMenu.logMenu" class="dropdown-item"><a tabindex="-1" routerLink="/snaggingReport">Snagging
                report</a></li>
            <li *ngIf="userMenu.ncBeanCreater" class="dropdown-item"><a tabindex="-1" routerLink="/ncClosureSa">NC
                closure
                (SA)</a></li>
            <li *ngIf="userMenu.ncBeanReviewer" class="dropdown-item"><a tabindex="-1" routerLink="/ncReviewerSa">NC
                Reviwer
                (SA)</a></li>
            <li *ngIf="userMenu.ncBeanApprover" class="dropdown-item"><a tabindex="-1" routerLink="/ncApproverSa">NC
                Approver
                (SA)</a></li>
            <li *ngIf="userMenu.aQualityIndex" class="dropdown-item"><a tabindex="-1"
                routerLink="/qualityIndexReportList">Quality Index Report</a>
            </li>
            <!-- <li *ngIf="userMenu.aorReport" class="dropdown-item"><a tabindex="-1" routerLink="/OTRList">Observation
                Tracker Report</a></li> -->
            <li class="dropdown-item"><a tabindex="-1" routerLink="/OTRList">Observation
                Tracker Report</a></li>
          </ul>
        </li>


        <li class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="Reports"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-file-text"></i>
            </span>
            <span class="nav-link-text">Reports </span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="userMenu.qur" class="dropdown-item"><a tabindex="-1" routerLink="/qualityUpdateReport">Quality
                Update
                Report </a></li>
            <li *ngIf="userMenu.qrr" class="dropdown-item"><a tabindex="-1" routerLink="/qualityReviewReport">Quality
                Review
                Report </a></li>
            <li *ngIf="userMenu.misLink" class="dropdown-item"><a tabindex="-1" routerLink="/misReport">MIS Report</a>
            </li>
            <li *ngIf="userMenu.kickoffMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/createKickoff/-1">Kickoff
                Report</a></li>
            <li *ngIf="userMenu.trainingMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/createTraining/-1">Training
                Conducted Report</a></li>
            <li *ngIf="userMenu.ncco1" class="dropdown-item"><a tabindex="-1" routerLink="/createNcObservationCount">NC
                and
                observation Count</a>
            </li>
            <li *ngIf="userMenu.qi" class="dropdown-item"><a tabindex="-1"
                routerLink="/createQualityIndexReport/-1">Quality
                Index Report</a></li>
            <li *ngIf="userMenu.ncStatusMenu" class="dropdown-item"><a tabindex="-1"
                routerLink="/createNcsStatusReport/-1">NCs Status Report</a></li>
            <li *ngIf="userMenu.nccloseHistory" class="dropdown-item"><a tabindex="-1"
                routerLink="/createNCClosureHistoryReport/-1">NC Closure History</a>
            </li>
            <li *ngIf="userMenu.nclogMenu" class="dropdown-item"><a tabindex="-1" routerLink="/createNcLogReport/-1">NC
                Log
                Report</a></li>
          </ul>
        </li>


        <li *ngIf="(userMenu.dtmDeclaration || userMenu.inspectorDeclaration || userMenu.newInsTraining || userMenu.underInsTraining
        || userMenu.preSnapAuditForm)" class="dropdown-submenu" data-toggle="tooltip" data-placement="right"
          title="Reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-shield"></i>
            </span>
            <span class="nav-link-text">Authorisation</span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="userMenu.dtmDeclaration" class="dropdown-item"><a tabindex="-1" routerLink="/declaration">DTM
                Declarations</a></li>

            <li *ngIf="userMenu.newInsTraining" class="dropdown-item"><a tabindex="-1"
                routerLink="/inspectorTradeTraning">Inspector Traning</a></li>

            <li *ngIf="userMenu.preSnapAuditForm" class="dropdown-item"><a tabindex="-1"
                routerLink="/preSnapAuditProccess">Pre Snapaudit From</a></li>
          </ul>
        </li>


        <li class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="Reports"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-cog"></i>
            </span>
            <span class="nav-link-text">My Account</span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" routerLink="/myEquipments">My Equipment</a></li>
            <li *ngIf="userMenu.inspectorDeclaration" class="dropdown-item"><a tabindex="-1"
                routerLink="/declarationView">Inspector Declarations</a></li>
            <li *ngIf="userMenu.underInsTraining" class="dropdown-item"><a tabindex="-1"
                routerLink="/inspectorView">Inspector Traning</a></li>
            <li class="dropdown-item"><a tabindex="-1" routerLink="/reset-password">Reset Password</a></li>
          </ul>
        </li>


        <!-- <li class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="RFI">
          <a class="dropdown-item">
            <span class="all-font-icons">
              <i class="fa fa-tasks"></i>
            </span>
            <span class="nav-link-text">RFI Management</span>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" routerLink="/checklist-group-master">Checklist Group Master</a>
            </li>
            <li class="dropdown-item"><a tabindex="-1" routerLink="/checklist-master">Checklist Master</a></li>
          </ul>
        </li> -->


        <!-- <li class="dropdown-submenu" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="dropdown-item" routerLink="/wbs">
            <span class="all-font-icons"> 
              <i class="las la-sitemap"></i> 
            </span>
            <span class="nav-link-text"> Report </span>
          </a>
               
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><a tabindex="-1" href="#">QUR</a></li>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item" href="#">Audit Report</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="#">Snap Audit</a></li>
                          <li class="dropdown-submenu"><a class="dropdown-item" href="#">Quality Update Report</a>
                          <ul class="dropdown-menu">
                              <li class="dropdown-item"><a href="#">Quality Review Report</a></li>
                              <li class="dropdown-item"><a href="#">Quality Index</a></li>
                          </ul>
                        </li>
                          <li class="dropdown-item"><a href="#">Snagging Report</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="#">MIS</a></li>
                  <li class="dropdown-item"><a href="#">HomeInspect Report</a></li>
                </ul>
              </li> -->

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <div class="common-headerview navbar-nav w-100">
        <div class="navbar-nav mr-auto">
          <div class="cqra-heading_text">
            <div class="cqra-text-st"> Think <span class="cqra-auality"> Quality</span>, think <span
                class="cqra-cqra">CQRA</span>!</div>
            <div class="cqra-home-back"> <a routerLink="/home"> Home </a> </div>
          </div>

        </div>
        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <div class="user-profile-sign">
                <span> {{username}} </span>
              </div>
            </a>
            <div class="dropdown-menu add-custom-view" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                <a class="nav-link" (click)="logout()"> <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                <a class="nav-link" target="_blank"
                  href="https://docs.google.com/spreadsheets/d/1gwcWXlQwrLPZvF9VBW_x-rQcLMqHPTwCU1R2bpi4oOM/edit#gid=0"><i
                    class="fa fa-fw fa-sign-out text-danger"></i>Report Issue</a>

                <!-- <span class="nav-link text-danger" data-toggle="modal" data-target="#add-view"> <i class="fa fa-user"
                    aria-hidden="true"></i>Reset Password</span> -->

              </h6>
            </div>

          </li>

        </ul>

        <!-- <div class="modal fade" id="add-view" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Return Equipment:</h5>
                <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

              </div>
              <div class="row d-flex justify-content-end mx-3 modal-footer">
                <button class="btn btn-sm btn-success">
                  <span>submit</span>
                </button>
              </div>

            </div>
          </div>
        </div> -->
      </div>
    </div>
  </nav>