<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Manage Roles</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/createFirstNote/' + snapAuditId+'/-1'">Create First Note</a>
            </button>
          </div>
        </div>
      </div>

      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Add Roles</h1>
          </div>
        </div>
      </div>
      <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-md-4">
          <label>First Note</label>
          <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Role name is required</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <button type="submit" class="btn btn-primary mt-1">Save</button>
        </div>
      </form>

      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Manage Roles</h1>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>
      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <!-- Example DataTables Card-->
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" class="row-border hover"
            style="width:100%">
            <thead>
              <tr>

                <th>Role Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of (roles)">
                <td>{{role.name}}</td>
                <!-- <td>{{ getContractorName(client.contractorId) }}</td> -->
                <td>
                  <div class="action-commonview">
                    <button type="text" class="edit-modal add-modal" data-toggle="modal"
                      data-target="#exampleModalCenter" (click)="getRole(role.id)">
                      <span class="edit-tessst">
                        <i class="las la-pencil-alt"></i>
                      </span>
                    </button>
                    <button type="text" class="Delete-modal" (click)="deactiveRole(role.id)">
                      <span class="edit-tessst">
                        <i class="lar la-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>

        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>