<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here disabled">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Trade Group</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/tradegroup">Manage Trade Group </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create Trade Group </h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Trade Group Name</label>
              <input type="text" formControlName="tradeGroupName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.tradeGroupName.errors }" />
              <div *ngIf="submitted && f.tradeGroupName.errors" class="invalid-feedback">
                <div *ngIf="f.tradeGroupName.errors.required">TradeGroup Name is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Trade Group Number</label>
              <input type="text" formControlName="tradeGroupNumber" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.tradeGroupNumber.errors }" />
              <div *ngIf="submitted && f.tradeGroupNumber.errors" class="invalid-feedback">
                <div *ngIf="f.tradeGroupNumber.errors.required">TradeGroup number is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Trade Sequence</label>
              <input type="number" formControlName="tradeGroupSequence" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.tradeGroupSequence.errors }" />
              <div *ngIf="submitted && f.tradeGroupSequence.errors" class="invalid-feedback">
                <div *ngIf="f.tradeGroupSequence.errors.required">TradeGroup sequence is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>