.inspector_list_table th {
    /* border: 1px solid #36304a; */
    padding: 10px;
    text-align: center;
    background-color: #2d5a91;
    color: white;
}

.inspector_list_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inspector_list_table tr:nth-child(odd) {
    /* background-color: rgb(234, 228, 228); */
    background-color: white;
}

.inspector_list_table tbody td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;

}

.td{
    background-color: white !important;
    padding: 10px !important;
}