<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Manage User </h1>

            </div>
          </div>

          <div class="right-side-create-view ">
            <div class="create-content-operations">
              <a routerLink="/createUser/-1">
                <button type="button"> Create User </button>
              </a>
            </div>
          </div>
        </div>
      </div>



      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>
      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <!-- Example DataTables Card-->

          <div class="tab_main">

            <div class="tab_header">
              <div [class]="activeTab=='cqra' ? 'tab tab_active' : 'tab'" (click)="changePannel('cqra')" selected>CQRA
                <!-- <span class="badge badge-warning">{{users.length}}</span> -->

              </div>
              <div [class]="activeTab=='client' ? 'tab tab_active' : 'tab'" (click)="changePannel('client')">Client
                <!-- <span class="badge badge-warning">{{users.length}}</span> -->
              </div>

              <div [class]="activeTab=='contractor' ? 'tab tab_active' : 'tab'" (click)="changePannel('contractor')">
                Contractor
                <!-- <span class="badge badge-warning">{{users.length}}</span> -->
              </div>

              <div [class]="activeTab=='pmc' ? 'tab tab_active' : 'tab'" (click)="changePannel('pmc')">PMC
                <!-- <span class="badge badge-warning">{{users.length}}</span> -->
              </div>
            </div>


            <div *ngIf="userLoad" class="card-body"
              style="display: flex; align-items: center; justify-content: center;">
              <div class="userdeailsload row d-flex justify-content-center align-middle">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
            </div>

            <!-- CQRA Table -->
            <div *ngIf="!userLoad" class="pannel_body">
              <div [class]="activeTab=='cqra' ? 'pannel' : 'pannel_hide'">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerCqra" id="customers"
                  class="row-border hover" style="width:100%">
                  <thead>
                    <tr>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users ">
                      <td>{{user.userFullName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.mobile}}</td>
                      <td><button class="btn btn-sm btn-warning mx-1" (click)="editUser(user.id)">Edit</button>&nbsp;
                        <span role="button" class="btn btn-sm btn-danger"
                          (click)="deactivateUser(user.id)">Delete</span>&nbsp;
                        <a routerLink="/createUserAccess/{{user.id}}">
                          <span role="button" class="btn btn-sm btn-info" (click)="getUserAccess(user.id)">Access</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- client Table -->
              <div [class]="activeTab=='client' ? 'pannel' : 'pannel_hide'">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerClinet" id="customers"
                  class="row-border hover" style="width:100%">
                  <thead>
                    <tr>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of clientUers ">
                      <td>{{user.userFullName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.mobile}}</td>
                      <td><button class="btn btn-sm btn-warning mx-1" (click)="editUser(user.id)">Edit</button>&nbsp;
                        <span role="button" class="btn btn-sm btn-danger"
                          (click)="deactivateUser(user.id)">Delete</span>&nbsp;
                        <a routerLink="/createUserAccess/{{user.id}}">
                          <span role="button" class="btn btn-sm btn-info" (click)="getUserAccess(user.id)">Access</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- contractor Table -->
              <div [class]="activeTab=='contractor' ? 'pannel' : 'pannel_hide'">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerContractor" id="customers"
                  class="row-border hover" style="width:100%">
                  <thead>
                    <tr>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let user of contractorUsers ">
                      <td>{{user.userFullName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.mobile}}</td>
                      <td><button class="btn btn-sm btn-warning mx-1" (click)="editUser(user.id)">Edit</button>&nbsp;
                        <span role="button" class="btn btn-sm btn-danger"
                          (click)="deactivateUser(user.id)">Delete</span>&nbsp;
                        <a routerLink="/createUserAccess/{{user.id}}">
                          <span role="button" class="btn btn-sm btn-info" (click)="getUserAccess(user.id)">Access</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- pmc Table -->
              <div [class]="activeTab=='pmc' ? 'pannel' : 'pannel_hide'">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerPmc" id="customers"
                  class="row-border hover" style="width:100%">
                  <thead>
                    <tr>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Contact</th>
                      <th>Actions</th>
                    </tr>

                  <tbody>
                    <tr *ngFor="let user of pmcUsers ">
                      <td>{{user.userFullName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.mobile}}</td>
                      <td><button class="btn btn-sm btn-warning mx-1" (click)="editUser(user.id)">Edit</button>&nbsp;
                        <span role="button" class="btn btn-sm btn-danger"
                          (click)="deactivateUser(user.id)">Delete</span>&nbsp;
                        <a routerLink="/createUserAccess/{{user.id}}">
                          <span role="button" class="btn btn-sm btn-info" (click)="getUserAccess(user.id)">Access</span>
                        </a>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Example DataTables Card-->
        <div class=" modal fade" id="edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Traning Trades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div *ngIf="isTradeLoad; then tradeLoadTrue else tradeLoadFasle"></div>

                <ng-template #tradeLoadTrue>
                  <div class="spinner-border text-dark spinner" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </ng-template>

                <ng-template #tradeLoadFasle>
                  <div class="row" *ngFor="let trade of traningTrades">
                    <h5>{{trade.project}}</h5>
                    <div class="form-check col-md-12" *ngFor="let t of trade.trades">
                      <input class="form-check-input" type="checkbox" [value]="t.fkTradeId" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        {{t.tradeName}}
                      </label>
                    </div>
                  </div>
                </ng-template>

              </div>
              <div class="modal-footer">
                <button class="btn btn-sm btn-secondary">Save</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <app-footer></app-footer>