<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Manage NC Count Report </h1>

            </div>
          </div>

          <div class="right-side-create-view ">
            <div class="create-content-operations">
              <a routerLink="/ncCountReport/-1">
                <button type="button"> Create Nc Count Report </button>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>

      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  id="customers" style="width:100%">
            <thead>
              <tr>

                <th>Client Name</th>
                <th>Project Name</th>
                <th>Structure Name</th>
                <th>Remark</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nc of ncCountData">
                <td>{{ nc.projectName }}</td>
                <td>{{ nc.clientName }}</td>
                <td>{{ nc.structureName }}</td>
                <td>{{ nc.remark }}</td>
                <td>
                  <div class="action-commonview">
                    <button type="text" (click)="editProject(nc.projectId)" class="edit-modal add-modal"
                      data-toggle="modal" data-target="#exampleModalCenter">
                      <span class="edit-tessst">
                        <i class="las la-pencil-alt"></i>
                      </span>
                    </button>
                    <button type="text" (click)="deActivateProject(nc.projectId)" class="Delete-modal">
                      <span class="edit-tessst">
                        <i class="lar la-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>