<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Assign Equipment</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <!-- <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#sendPolicy">Send policy</button> -->
            <button type="button"> <a [routerLink]="'/addEquipment/-1'" style="text-decoration: none; color: white;">Add Eupiment</a> </button>

            <!-- <div class="modal fade" [id]="'sendPolicy'" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Send Policy</h5>
                    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="form-group">
                      <label>Select User:</label>
                      <select id="policyMailSelect" class="form-control">
                        <option>Select User</option>
                        <option *ngFor="let user of users" [value]="user.userId">{{user.userFullName}}</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label>Email: </label>
                      <input type="email" id="email" class="form-control">
                    </div>

                    <div class="form-group">
                      <label>CC Mail: </label>
                      <input type="email" id="cc_mail" class="form-control">
                    </div>

                    <div class="form-group">
                      <label>Mail Body: </label>
                      <textarea name="email_body" class="form-control" id="email_body" cols="30" rows="10"></textarea>
                    </div>

                    <div class="modal-footer">
                      <button class="btn btn-sm btn-success" type="submit" (click)="sendPolicy()">
                        <span *ngIf="sendPolicyLoad" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                        <span *ngIf="!sendPolicyLoad">Send</span>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Assign Equipment</h1>
          </div>
        </div>
      </div>

      <div *ngIf="eqload then load"></div>
      <ng-template #load>
        <app-loader></app-loader>
      </ng-template>
      <div class="tab_main">
        <div class="tab_header">
          <div [class]="activeTab=='activate' ? 'tab tab_active' : 'tab'" (click)="changePannel('activate')">Activate
          </div>
          <div [class]="activeTab=='deactivate' ? 'tab tab_active' : 'tab'" (click)="changePannel('deactivate')">
            Deactivate</div>
        </div>
        <div class="tab_body">

          <div [class]="activeTab=='activate' ? 'pannel' : 'pannel_hide'">
            <div class="row m-0">
              <div class="col-xl-12 col-sm-12 mb-3">
                <!-- Example DataTables Card-->
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="row-border hover inspector_list_table" style="width:100%">
                  <thead>
                    <tr>
                      <th>Sr no</th>
                      <th>Asset Type</th>
                      <th>Asset Name</th>
                      <th>CQRA Id</th>
                      <th [width]="'10%'">Cost</th>
                      <th>Asset Number</th>
                      <th>Current User</th>
                      <th>Assign</th>
                      <th>Assign Date</th>
                      <th [width]="'13%'">Actions</th>
                      <th>Return</th>
                      <th>Remark</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let equipment of (activateEquipment); index as i">
                      <td  [class]="equipment.assignTo ? 'assign_bg' : ''">{{i+1}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.assetnameme}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.assettname}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.cqraAssetId}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">₹ {{equipment.cost}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.assetSerialNo}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.assignTo ? equipment.username :
                        ''}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">
                        <span *ngIf="!equipment.assignTo" class="badge badge-primary" role="button" data-toggle="modal"
                          [attr.data-target]="'#trade-user-list-'+equipment.equipmentId">New assign</span>
                        <span *ngIf="equipment.assignTo" class="badge badge-success">Assigned</span>
                      </td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.dateOfAssign}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">
                        <div class="row" style="display: flex; justify-content: left; padding-left: 15%;">
                          <button type="text" class="edit-modal add-modal btn btn-sm btn-primary" data-toggle="modal"
                            data-target="#exampleModalCenter" (click)="editEquipment(equipment.equipmentId)">
                            <span class="edit-tessst">
                              <i class="las la-pencil-alt"></i>
                            </span>
                          </button>
                          <button type="text" data-toggle="modal" class="btn btn-sm btn-danger"
                            [attr.data-target]="'#deactivate'+equipment.equipmentId">
                            <span class="edit-tessst">
                              <i class="lar la-trash-alt"></i>
                            </span>
                          </button>

                          <div class="modal fade" [id]="'deactivate'+equipment.equipmentId" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Deactivate:</h5>
                                  <button type="button" class="close" #closebutton data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <label>Remark:</label>
                                  <input class="form-control" [id]="'deactivateRemark'+equipment.equipmentId">
                                </div>
                                <div class="row d-flex justify-content-end mx-3 modal-footer">
                                  <button class="btn btn-danger deactivate_btn"
                                    (click)="deActivate(equipment.equipmentId)">
                                    <span *ngIf="deActivateLoad" class="spinner-border spinner-border-sm"
                                      aria-hidden="true"></span>
                                    <span *ngIf="!deActivateLoad">Deactivate</span>
                                  </button>
                                </div>

                              </div>
                            </div>
                          </div>

                          <span *ngIf="equipment.assignTo" class="badge badge-secondary" role="button" (click)="downloadPolicy(equipment.equipmentId, equipment.assignTo)">
                            <span *ngIf="!policyLoad[equipment.equipmentId]">Policy</span>
                            <span *ngIf="policyLoad[equipment.equipmentId] && policyLoad[equipment.equipmentId].load" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <a *ngIf="policyLoad[equipment.equipmentId] && policyLoad[equipment.equipmentId].url !='' "[href]="policyLoad[equipment.equipmentId].url" target="_blank" style="text-decoration: none; color: white;">view</a>
                          </span>
                        </div>
                      </td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">
                        <span class="badge badge-warning" data-toggle="modal"
                          [attr.data-target]="'#returnEq'+equipment.equipmentId" role="button"
                          *ngIf="equipment.assignTo">Return</span>
                        <div class="modal fade" [id]="'returnEq'+equipment.equipmentId" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Return Equipment:</h5>
                                <button type="button" class="close" #closebutton data-dismiss="modal"
                                  aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <label>Select Reason:</label>
                                <select class="form-control" [id]="'returnReason'+equipment.equipmentId">
                                  <option value="">Select reason</option>
                                  <option [value]="1">Employee Left</option>
                                  <option [value]="2">Damage</option>
                                  <option [value]="3">Missing</option>
                                  <option [value]="4">Faulty</option>
                                  <option [value]="5">Calibration</option>
                                  <option [value]="6">Any other</option>
                                </select>

                                <label>Remark:</label>
                                <input class="form-control" [id]="'returnRemark'+equipment.equipmentId">

                                <label>Date:</label>
                                <input type="date" class="form-control" [id]="'returnDate'+equipment.equipmentId">
                              </div>
                              <div class="row d-flex justify-content-end mx-3 modal-footer">
                                <button class="btn btn-sm btn-success"
                                  (click)="submitReturnEquipment(equipment.equipmentId, equipment.assignTo)">
                                  <span *ngIf="returnLoad" class="spinner-border spinner-border-sm"
                                    aria-hidden="true"></span>
                                  <span *ngIf="!returnLoad">submit</span>
                                </button>
                              </div>

                            </div>
                          </div>
                        </div>
                      </td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.remark}}</td>

                      <div class="modal fade" [id]="'trade-user-list-'+equipment.equipmentId" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Assign Asset</h5>
                              <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">

                              <label *ngIf="equipment.assignTo">Current user: </label>
                              <label *ngIf="!equipment.assignTo">Select user: </label>
                              <select [id]="'newUserSelect_'+equipment.equipmentId" class="form-control">
                                <option *ngIf="equipment.assignTo" [value]="0">Revert</option>
                                <option *ngIf="!equipment.assignTo">Select user</option>
                                <option *ngFor="let user of users" [value]="user.userId"
                                  [selected]="equipment.assignTo==user.userId">{{user.userFullName}}</option>
                              </select>

                              <label>Date:</label>
                              <input class="form-control" [id]="'newUserDate_'+equipment.equipmentId" type="date">
                              <div class="modal-footer">
                                <button class="btn btn-sm btn-success" type="submit"
                                  (click)="assignNewUser(equipment.equipmentId)">
                                  <span *ngIf="assignEqLoad" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                  <span *ngIf="!assignEqLoad">Save</span>
                                </button>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </tr>
                  </tbody>

                </table>

              </div>


            </div>
          </div>

          <div [class]="activeTab=='deactivate' ? 'pannel' : 'pannel_hide'">
            <div class="row m-0">
              <div class="col-xl-12 col-sm-12 mb-3">
                <!-- Example DataTables Card-->
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="row-border hover inspector_list_table" style="width:100%">
                  <thead>
                    <tr>
                      <th>Asset Type</th>
                      <th>Asset Name</th>
                      <th>Asset Number</th>
                      <th>Remark</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let equipment of (deActivateEquipment)">
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.assetnameme}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.assettname}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.assetSerialNo}}</td>
                      <td [class]="equipment.assignTo ? 'assign_bg' : ''">{{equipment.remark}}</td>
                      <td>
                        <span class="badge badge-warning" role="button"
                          (click)="restore(equipment.equipmentId)">Restore</span>
                      </td>

                    </tr>
                  </tbody>

                </table>

              </div>


            </div>
          </div>
        </div>
      </div>


      <!-- Example DataTables Card-->
      <app-snack-bar></app-snack-bar>
    </div>
  </div>
  <app-footer></app-footer>