/* #customers_wrapper{
  overflow-x: auto !important;

} */
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* overflow-x: auto !important; */

}


table.dataTable td,
table.dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}


#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2d5a91 !important;
  color: white;
}

table.dataTable thead {
  background-color: #2d5a91 !important;
  color: white;

}

.inspector_list_table head {
  height: 50px !important;
  border-radius: 10px 10px 0 0;
}

.inspector_list_table th {
  /* border: 1px solid #36304a; */
  padding: 10px;
  text-align: center;
  /* background-color: #36304a; */
  background-color: #006699;

  color: aliceblue;
}

.inspector_list_table thead th:first-child {
  border-radius: 7px 0 0 0;
}


.inspector_list_table thead th:last-child {
  border-radius: 0 7px 0 0;
}

.assign_bg {
  background-color: #91dfa6ba;
}


.tab_main {
  width: 100%;
  height: auto;
  min-height: 70vh;
  background-color: rgb(248, 248, 248);
  /* border-radius:; */
  padding: 10px;
}

.tab_header {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.pannel {
  display: inline;
}

.pannel_hide {
  display: none;
}

.tab {
  padding: 5px 10px;
  background-color: rgb(230, 227, 227);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.tab_active {
  background-color: #006699;
  color: white;
}

.tab_body {
  padding: 1rem;
  background-color: transparent;

}

.deactivate_btn {
  padding: 10px;
}