.snak_main {
    width: 300px;
    height: 50px;
    background-color: rgb(63, 62, 62);
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 85vh;
    left: 5vw;
    padding: 5px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: 0.; */
    animation: smooth 0.1s linear;
    z-index: 2000;
}

@keyframes smooth {
    0% {
        left: -10vw;
    }

    100% {
        left: 5vw;
    }
}