.ckechbox-select{
    height: 250px;
    overflow: auto;
    background-color: white;
    border: 5px;
}
.spinner-border{
    position: relative;
    top: 50%;
    left: 0;
}

input[type=checkbox]{
    accent-color: rgb(41, 120, 204);
}

input[id=moveStage]{
    accent-color: rgb(86, 70, 231);
}

input[id=moveUnit]{
    accent-color: rgb(86, 70, 231);
}

.t-bold{
    font-weight: 700;
}