<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Manage Subgroup </h1>
            </div>
          </div>
          <div class="right-side-create-view ">
            <div class="create-content-operations">
              <a routerLink="/createSubgroup/-1"> 
                <button type="button"> Create Subgroup </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" id="customers"  class="row-border hover" style="width:100%">
            <thead>
              <tr>
                <th>Subgroup Name</th>
                <th>Trade Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of subgroupsView">
                <td>{{ client.subgroupName }}</td>
                <td>{{ client.tardeName }}</td>
                <td> 
                  <div class="action-commonview"> 
                    <button type="text" (click) = "editSubgroup(client.subgroupId)" class="edit-modal add-modal"data-toggle="modal" data-target="#exampleModalCenter"> 
                      <span class="edit-tessst"> 
                      <i class="las la-pencil-alt"></i>
                      </span> 
                    </button>
                    <button type="text" (click) = "deActive(client.subgroupId)" class="Delete-modal"> 
                      <span class="edit-tessst"> 
                        <i class="lar la-trash-alt"></i>
                      </span> 
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>