<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Checklist </h1>
            </div>
          </div>
          <div class="right-side-create-view ">
            <div class="create-content-operations">
              <!-- <a routerLink="/createTradegroup/-1"> -->
              <button type="button" data-toggle="modal" data-target="#exampleModalCenter"> Create Checklist
              </button>
              <!-- </a> -->
            </div>
          </div>
        </div>
      </div>

  

      <div class="inspector-list mt-5">
        
      </div>



      <!-- Modal -->
     
    </div>
  </div>
  <app-footer></app-footer>