<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Manage Name of Assessor </h1>

            </div>
          </div>

          <div class="right-side-create-view ">
            <div class="create-content-operations">
              <a [routerLink]="'/createAssessorName/'+snapAduditId+'/-1'">
                <button type="button"> Create Assessor Name</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>
      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <!-- Example DataTables Card-->
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" class="row-border hover"
            style="width:100%">
            <thead>
              <tr>

                <th>Assessor Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assessor of assessorNameList">
                <td>{{assessor.assessordName}}</td>
                <!-- <td>{{ getContractorName(client.contractorId) }}</td> -->
                <td>
                  <div class="action-commonview">
                    <button type="text" class="edit-modal add-modal" data-toggle="modal"
                      data-target="#exampleModalCenter" (click)="editAssessorName(assessor.assessorsId)">
                      <span class="edit-tessst">
                        <i class="las la-pencil-alt"></i>
                      </span>
                    </button>
                    <button type="text" class="Delete-modal" (click)="deActivate(assessor.assessorsId)">
                      <span class="edit-tessst">
                        <i class="lar la-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>

        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>