<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Question</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/question" style="color: white;">Manage Question</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create Question</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="questionFrom" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Select Trade</label>
              <select formControlName="tradeId" class="form-control" [(ngModel)]="SelTrade" (change)="getSubgroups()">
                <option [value]="0">Please Select</option>
                <option [value]="o.tardeId" *ngFor="let o of trades">
                  {{o.tradeName}}
                </option>
              </select>
              <div *ngIf="submitted && f.tradeId.errors" class="invalid-feedback">
                <div *ngIf="f.tradeId.errors.required">Trade Group is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Select Sub Group</label>
              <select formControlName="subgroupId" class="form-control" [(ngModel)]="SelSubgroup"
                (change)="getQuestionGroup()">
                <option [value]="0">Please Select</option>
                <option [value]="o.subgroupId" *ngFor="let o of subgroups">
                  {{o.subgroupName}}
                </option>
              </select>
              <div *ngIf="submitted && f.subgroupId.errors" class="invalid-feedback">
                <div *ngIf="f.subgroupId.errors.required">Sub Trade is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Select Question Group</label>
              <select formControlName="questionGroupId" class="form-control" [(ngModel)]="SelQuestionGroup"
                (change)="getQuestionHeading()">
                <option [value]="0">Please Select</option>
                <option [value]="o.questionGroupId" *ngFor="let o of questionGroups">
                  {{o.questionGroupText}}
                </option>
              </select>
              <div *ngIf="submitted && f.questionGroupId.errors" class="invalid-feedback">
                <div *ngIf="f.questionGroupId.errors.required">Sub Trade is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Select Question Heading</label>
              <select formControlName="questionHeadingId" class="form-control">
                <option [value]="0">Please Select</option>
                <option [value]="o.questionHeadingId" *ngFor="let o of questionHeading">
                  {{o.questionHeadingText}}
                </option>
              </select>
              <div *ngIf="submitted && f.questionHeadingId.errors" class="invalid-feedback">
                <div *ngIf="f.questionHeadingId.errors.required">Sub Trade is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Select Question Type</label>
              <select [(ngModel)]="selQuestionType" class="form-control" formControlName="questionType"
                (change)="showOptions()">
                <option [value]="0" selected>Please Select</option>
                <option [value]="1">Non-comformity/conformity</option>
                <option [value]="2">MCQ</option>
                <option [value]="3">n/m</option>
                <option [value]="4">n</option>
                <option [value]="5">nm ></option>
                <option [value]="6">nm < </option>
                <option [value]="7">External NC</option>
              </select>
              <div *ngIf="submitted && f.questionType.errors" class="invalid-feedback">
                <div *ngIf="f.questionType.errors.required">Question Type is required</div>
              </div>
            </div>


            <div class="form-group col-md-4">
              <label>Quality Requirement </label>
              <input type="text" formControlName="questionText" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.questionText.errors }" />
              <div *ngIf="submitted && f.questionText.errors" class="invalid-feedback">
                <div *ngIf="f.questionText.errors.required">Quality rectification is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>NC Description</label>
              <input type="text" formControlName="ncDescription" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.ncDescription.errors }" />
              <div *ngIf="submitted && f.ncDescription.errors" class="invalid-feedback">
                <div *ngIf="f.ncDescription.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Reference/Standard Practice</label>
              <input type="text" formControlName="refStdPract" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.refStdPract.errors }" />
              <div *ngIf="submitted && f.refStdPract.errors" class="invalid-feedback">
                <div *ngIf="f.refStdPract.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Type of Check</label>
              <input type="text" formControlName="typeOfCheck" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.typeOfCheck.errors }" />
              <div *ngIf="submitted && f.typeOfCheck.errors" class="invalid-feedback">
                <div *ngIf="f.typeOfCheck.errors.required">Question Group Description is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Work Instruction</label>
              <input type="text" formControlName="workInstruction" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.workInstruction.errors }" />
              <div *ngIf="submitted && f.workInstruction.errors" class="invalid-feedback">
                <div *ngIf="f.workInstruction.errors.required">Question Group Description is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Sample Unit</label>
              <input type="text" formControlName="sampleUnit" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.sampleUnit.errors }" />
              <div *ngIf="submitted && f.sampleUnit.errors" class="invalid-feedback">
                <div *ngIf="f.sampleUnit.errors.required"> Sample unit is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Sample Size</label>
              <input type="text" formControlName="sampleSize" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.sampleSize.errors }" />
              <div *ngIf="submitted && f.sampleSize.errors" class="invalid-feedback">
                <div *ngIf="f.sampleSize.errors.required">Question Group Description is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Tolerance</label>
              <input type="text" formControlName="tolerance" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.tolerance.errors }" />
              <div *ngIf="submitted && f.tolerance.errors" class="invalid-feedback">
                <div *ngIf="f.tolerance.errors.required">Question Group Description is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Minimum Observations</label>
              <input type="number" formControlName="minimumobservation" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.minimumobservation.errors }" [value]="1" />
              <div *ngIf="submitted && f.minimumobservation.errors" class="invalid-feedback">
                <div *ngIf="f.minimumobservation.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Impact of NC</label>
              <input type="text" formControlName="impactOnQuality" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.impactOnQuality.errors }" />
              <div *ngIf="submitted && f.impactOnQuality.errors" class="invalid-feedback">
                <div *ngIf="f.impactOnQuality.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>NC Rectification</label>
              <input type="text" formControlName="ncRectification" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.ncRectification.errors }" />
              <div *ngIf="submitted && f.ncRectification.errors" class="invalid-feedback">
                <div *ngIf="f.ncRectification.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Sub-Section</label>
              <input type="text" formControlName="subSection" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.subSection.errors }" />
              <div *ngIf="submitted && f.subSection.errors" class="invalid-feedback">
                <div *ngIf="f.subSection.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Category</label>
              <input type="text" formControlName="category" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.category.errors }" />
              <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Good Image 1</label>
              <input type="file" formControlName="goodImage1" class="form-control" />
              <!-- <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                <div *ngIf="f.clientName.errors.required">Question Group Description is required</div>
              </div> -->
            </div>
            <div class="form-group col-md-4">
              <label>Good Image 2</label>
              <input type="file" formControlName="goodImage2" class="form-control" />

            </div>
            <div class="form-group col-md-4">
              <label>Bad Image 1</label>
              <input type="file" formControlName="ncImage1" class="form-control" />

            </div>
            <div class="form-group col-md-4">
              <label>Bad Image 2</label>
              <input type="file" formControlName="ncImage2" class="form-control" />

            </div>
            <div class="form-group col-md-4">
              <label>Data to be Captured</label>
              <select class="form-control" formControlName="dataToBeCaptured"
                [ngClass]="{ 'is-invalid': submitted && f.dataToBeCaptured.errors }">
                <option [value]="0">All</option>
                <option [value]="1">L1</option>
                <option [value]="2">L2</option>
                <option [value]="3">L3</option>
              </select>
              <div *ngIf="submitted && f.dataToBeCaptured.errors" class="invalid-feedback">
                <div *ngIf="f.dataToBeCaptured.errors.required">Question Group Description is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Unit of Measurement</label>
              <select class="form-control" formControlName="unitOfMeasurement">
                <option value="Number">Number</option>
                <option value="Square feet">Square feet</option>
                <option value="Meeer">Meter</option>
                <option value="Running meter">Running meter</option>
                <option value="Lamb sum">Lamb sum</option>
                <option value="Square meter">Square meter</option>
              </select>
            </div>
          </div>


          <div *ngIf="isOptionShow" class="row">
            <div class="form-group col-md-4">
              <label>Nil</label>
              <input type="text" formControlName="nil" class="form-control" />
            </div>

            <div class="form-group col-md-4">
              <label>Mild</label>
              <input type="text" formControlName="mild" class="form-control" />
            </div>

            <div class="form-group col-md-4">
              <label>Moderate</label>
              <input type="text" formControlName="modrate" class="form-control" />
            </div>

            <div class="form-group col-md-4">
              <label>Severe</label>
              <input type="text" formControlName="severe" class="form-control" />
            </div>

            <div class="form-group col-md-4">
              <label>Very Severe</label>
              <input type="text" formControlName="verySevere" class="form-control" />
            </div>

            <div class="form-group col-md-4">
              <label>Critical/Extreme</label>
              <input type="text" formControlName="critical" class="form-control" />
            </div>
          </div>


          <!-- options -->
          <!-- <div *ngIf="isOptionShow" class="row">
            <div class="form-group col-md-4">
              <label>Option1</label>
              <input type="text" formControlName="option1" class="form-control" />
            </div>
            <div class="form-group col-md-4">
              <label>Option2</label>
              <input type="text" formControlName="option2" class="form-control" />
            </div>
            <div class="form-group col-md-4">
              <label>Option3</label>
              <input type="text" formControlName="option3" class="form-control" />
            </div>
            <div class="form-group col-md-4">
              <label>Option4</label>
              <input type="text" formControlName="option4" class="form-control" />
            </div>
            <div class="form-group col-md-4">
              <label>Option5</label>
              <input type="text" formControlName="option5" class="form-control" />
            </div>
            <div class="form-group col-md-4">
              <label>Option6</label>
              <input type="text" formControlName="option6" class="form-control" />
            </div>
          </div> -->

          <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="mandatory">
            <label class="form-check-label" for="flexCheckDefault">
              Mandatory
            </label>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">
              <span *ngIf="submitLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="!submitLoad">Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-snack-bar></app-snack-bar>
  <app-footer></app-footer>