<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Sampling</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/sampling'">Manage Sampling </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create Sampling</h1>
          </div>
        </div>
      </div>

      <div class="create-viewform">
        <form [formGroup]="samplingForm">
          <!-- <div class="form-group">
            <label for="fname" class="col-form-label">Client</label>
            <select class="form-control" formControlName="clientId" [(ngModel)]="SelClientId" #clientId
              (change)="getProjects()" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }">
              <option [value]="0">Please Select</option>
              <option [value]="o.clientId" *ngFor="let o of clients">
                {{o.clientName}}
              </option>
            </select>
            <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
              <div *ngIf="f.clientId.errors.required">Client is required</div>
            </div>
          </div> -->

          <div class="form-group">
            <div class="form-group">
              <label>Sampling Type</label>
              <select [(ngModel)]="samplingType" formControlName="samplingType" class="form-control">
                <option [value]="1" [selected]="true">Client wise</option>
                <option [value]="2">Contractor wise</option>
              </select>

            </div>
            <label>Project Name</label>
            <select [(ngModel)]="SelProject" formControlName="projectId" class="form-control" (change)="getStructure()"
              [ngClass]="{ 'is-invalid': submitted && f.projectId.errors }">
              <option [value]="project.projectId" *ngFor="let project of projects">
                {{project.projectName}}
              </option>
            </select>
            <div *ngIf="submitted && f.projectId.errors" class="invalid-feedback">
              <div *ngIf="f.projectId.errors.required">Project is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Structure Name</label>
            <select [(ngModel)]="SelStructure" formControlName="structureId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.structureId.errors }" (change)="getStages()">
              <option [value]="0">Please Select</option>
              <option [value]="o.structureId" *ngFor="let o of structures">
                {{o.structureName}}
              </option>
            </select>
            <div *ngIf="submitted && f.structureId.errors" class="invalid-feedback">
              <div *ngIf="f.structureId.errors.required">Structure is required</div>
            </div>
          </div>


          <!-- <div class="form-group">
            <label>Select Stage: </label>
            <select [(ngModel)]="SelStage" formControlName="stageId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.structureId.errors }" multiple>
              <option [value]="o.stageId" *ngFor="let o of stages">
                {{o.stageName}}
              </option>
            </select>
            <div *ngIf="submitted && f.structureId.errors" class="invalid-feedback">
              <div *ngIf="f.structureId.errors.required">Structure is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Trade Group</label>
            <select [(ngModel)]="selTrade" formControlName="tradeGroupId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tradeGroupId.errors }" (change)="getQuestionGroup()">
              <option [value]="trade.tardeId" *ngFor="let trade of trades" >
                {{trade.tradeName}}
              </option>
            </select>
            <div *ngIf="submitted && f.tradeGroupId.errors" class="invalid-feedback">
              <div *ngIf="f.tradeGroupId.errors.required">Trade group is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Trade</label>
            <select formControlName="tradeId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.tradeId.errors }">
              <option [value]="o.questionGroupId" *ngFor="let o of questionGroup">
                {{o.questionGroupText}}
              </option>
            </select>
            <div *ngIf="submitted && f.tradeId.errors" class="invalid-feedback">
              <div *ngIf="f.tradeId.errors.required">Trade is required</div>
            </div>
          </div>

         
          <div class="form-group">
            <label>Persentage %</label>
            <input type="text" formControlName="completePercentage" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.completePercentage.errors }">
            <div *ngIf="submitted && f.completePercentage.errors" class="invalid-feedback">
              <div *ngIf="f.completePercentage.errors.required">Persantage % is required</div>
            </div>
          </div> -->

          <!-- SAMPLING STEP 1 -->
          <div id="samplingStep1">
            <table>
              <thead>
                <th>Srno</th>
                <th>TradeGroup</th>
                <th>Trade</th>
                <th>Work complete status</th>
                <th>Floor Before</th>
                <th>Allocated Area</th>
              </thead>
              <tbody>
                <tr *ngFor="let tg of testTG">
                  <td>1</td>
                  <td>{{tg.tradegroupName}}</td>
                  <td>
                    <span class="tradename" *ngFor="let t of testTrade[tg.id]" [attr.title]="t.tradeId">
                      <!-- <span>-</span> -->
                      {{t.tradeNane}}
                    </span>
                  </td>

                  <td>
                    <select [class]="'tradeStatusSelect_'+t.tradeId" *ngFor="let t of testTrade[tg.id]">
                      <option [value]="status.id" *ngFor="let status of statusData"
                        [selected]="status.id === 'notStarted'">{{status.name}}</option>
                    </select>
                  </td>

                  <td>
                    <div *ngFor="let t of testTrade[tg.id]">
                      <span class="btn btn-sm btn-success" data-toggle="modal"
                        [attr.data-target]="'#step1-add-stage_'+t.tradeId">+</span>
                      <!-- <span></span> -->
                      <div class="modal fade" [id]="'step1-add-stage_'+t.tradeId" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Add Stage</h5>
                              <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="form-check" *ngFor="let o of stages">
                                <input class="form-check-input" [class]="'step2StagesCheckbox_'+t.tradeId"
                                  type="checkbox" [value]="o.stageId" id="flexCheckDefault"
                                  (change)="addStep1WorkArea($event, t.tradeId)">
                                <label class="form-check-label" for="flexCheckDefault">{{o.stageName}}</label>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </td>

                  <td>
                    <span *ngFor="let t of testTrade[tg.id]">
                      {{workArea[t.tradeId] ? workArea[t.tradeId].length : 0 }}
                    </span>
                  </td>

                </tr>

              </tbody>
            </table>
            <div class="form-group my-2">
              <button class="btn btn-primary" [disabled]="!isStepFirstFormField"
                (click)="samplingStepFirstSubmit()">Submit
                And Next</button>
            </div>
          </div>

          <!-- SAMPLING STEP 2 -->
          <div *ngIf="steptracker.step2.status; then step2Block"></div>
          <ng-template #step2Block>
            <div id="samplingStep2" *ngIf="steptracker.step2.status">
              <h5>{{title}}</h5>
              <table>
                <thead>
                  <!-- <th>Srno</th> -->
                  <th>TradeGroup</th>
                  <th>Trade</th>
                  <th>Work Complete Status</th>
                  <th>Contractor</th>
                  <th>Representative</th>
                  <th>Work Area</th>
                </thead>
                <tbody>
                  <tr *ngFor="let tg of testTG">
                    <!-- <td>1</td> -->
                    <td *ngIf="step2formRenderData[tg.id].length">{{tg.tradegroupName}}</td>
                    <td *ngIf="step2formRenderData[tg.id].length">
                      <span class="step2Tradename" *ngFor="let t of step2formRenderData[tg.id]"
                        [attr.title]="t.tradeId">
                        {{t.tradeNane}}
                      </span>
                    </td>

                    <td *ngIf="step2formRenderData[tg.id].length">
                      <!-- step2TradeStatusSelect_ -->
                      <select [class]="'step2TradeStatusSelect_'+t.tradeId"
                        *ngFor="let t of step2formRenderData[tg.id]">
                        <option [value]="status.id" *ngFor="let status of statusData"
                          [selected]="step2StatusData[t.tradeId].id === status.id">{{status.name}}</option>
                        >
                      </select>
                    </td>

                    <!-- Check for sampling type -->
                    <div *ngIf="samplingType != 1; then thenBlock else elseBolck"></div>
                    <ng-template #thenBlock>
                      <td *ngIf="step2formRenderData[tg.id].length">
                        <select [class]="'step2ContractorSelect_'+t.tradeId" *ngFor="let t of step2formRenderData[tg.id]">
                          <option [value]="contractor.contractorId" *ngFor="let contractor of contractorDataTradeWise[t.tradeId]">
                            {{contractor.contractorName}}</option>
                        </select>
                      </td>
  
                      <td *ngIf="step2formRenderData[tg.id].length">
                        <select [class]="'step2StaffSelect_'+t.tradeId" *ngFor="let t of step2formRenderData[tg.id]">
                          <option [value]="staff.clientStaffId" *ngFor="let staff of staffData">{{staff.clientName}}
                          </option>
  
                        </select>
                      </td>
                    </ng-template>
                    <ng-template #elseBolck>
                      <td *ngIf="step2formRenderData[tg.id].length">
                        <select [class]="'step2ContractorSelect_'+t.tradeId" *ngFor="let t of step2formRenderData[tg.id]">
                          <option [value]="client.clientId" *ngFor="let client of clients">
                            {{client.clientName}}</option>
                        </select>
                      </td>
  
                      <td *ngIf="step2formRenderData[tg.id].length">
                        <select [class]="'step2StaffSelect_'+t.tradeId" *ngFor="let t of step2formRenderData[tg.id]">
                          <option [value]="client.clientId" *ngFor="let client of clients">
                            {{client.clientName}}</option>
                        </select>
                      </td>
                    </ng-template>
                    
                    <td *ngIf="step2formRenderData[tg.id].length">
                      <span class="add-stages" *ngFor="let t of step2formRenderData[tg.id]">
                        {{step2workArea[t.tradeId] ? step2workArea[t.tradeId].length : 0}}
                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal"
                          [attr.data-target]="'#step2Add-stage_'+t.tradeId">+</button>

                        <div class="modal fade" [id]="'step2Add-stage_'+t.tradeId" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Allocate Stage step2</h5>
                                <button type="button" class="close" #closebutton data-dismiss="modal"
                                  aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="form-check" *ngFor="let o of stages">
                                  <input *ngIf="workArea[t.tradeId].includes(o.stageId)" class="form-check-input"
                                    [class]="'step2StagesCheckbox_'+t.tradeId" type="checkbox" [value]="o.stageId"
                                    id="flexCheckDefault" (change)="addStep2WorkArea($event, t.tradeId)">
                                  <label *ngIf="workArea[t.tradeId].includes(o.stageId)" class="form-check-label"
                                    for="flexCheckDefault">{{o.stageName}}</label>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </span>
                    </td>

                  </tr>

                </tbody>
              </table>
              <div class="form-group my-2">
                <button class="btn btn-primary" [disabled]="!isStepSecondFormField"
                  (click)="samplingStepSeceondSubmit()">Submit
                  And Next</button>
              </div>
            </div>
          </ng-template>


        </form>
        <div *ngIf="isThirdStep;then step3Block"></div>
        <ng-template #step3Block>
          <div class="form-group my-2">
            <a [routerLink]="'/createSamplingStep3'"><button class="btn btn-success">Procced Final Step</button></a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <app-footer></app-footer>