.main-container{
    display: flex;
    flex-direction: column;
}

.nav-tabs {
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
}

.nav-link{
    border-bottom: 1px solid #000000;

}

.active-link{
    background-color: rgb(64, 90, 163) !important;
    color: #dee2e6;
    border-bottom: 1px solid #000000;

}



thead, th, tr, td{
    border: 1px solid black;
}
table{
    width: 80vw;
}

tbody{
    background-color: white;
}

td span{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid black;
    /* align-items: center; */
}

.type1-table td span{
    display: flex;
    min-height: 85px;
    width: 100%;
    border-bottom: 1px solid black;
}

.type1-table button{
    width: 100%;
    padding: 0;
    height: 32px;
    font-size: 10px;

}
td span:last-child{
    border-bottom: none;

}

td select{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border-bottom: 1px solid black;
    margin-bottom: 6px;
}

.step-2 td select{
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
}

td .add-stages{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
}

thead th{
    background-color: #006699;
    padding: 5px;
    color: white;

}
.btn{
    margin-bottom: 2px;
}
/* tbody tr td{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nav-tabs[_ngcontent-c1]{
    margin-bottom: 1rem;
}

.innerTable{
    width: 100% !important;
}