<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Manage First Note</li>
          </ol>
        </div>
        <div class="form-group row">
          <div class="form-group col-md-4">
            <label>Sampling Type</label>
            <select [(ngModel)]="samplingType" class="form-control">
              <option [value]="1" [selected]="true">Client wise</option>
              <option [value]="2">Contractor wise</option>
            </select>

          </div>
          <div class="form-group col-md-4">
            <label>Project Name</label>
            <select [(ngModel)]="SelProject" class="form-control" (change)="getStructure()"
              [ngClass]="{ 'is-invalid': submitted && f.projectId.errors }">
              <option [value]="project.projectId" *ngFor="let project of projects">
                {{project.projectName}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label>Structure Name</label>
            <select [(ngModel)]="SelStructure" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.structureId.errors }" (change)="getStages()">
              <option [value]="0">Please Select</option>
              <option [value]="o.structureId" *ngFor="let o of structures">
                {{o.structureName}}
              </option>
            </select>
            <div *ngIf="submitted && f.structureId.errors" class="invalid-feedback">
              <div *ngIf="f.structureId.errors.required">Structure is required</div>
            </div>
          </div>
          <div class="row m-0 main-container col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active-link" id="nav-step-1" type="button" role="tab" aria-controls="nav-home"
                  aria-selected="true" (click)="nextStep(1)">Step 1</button>
                <button class="nav-link" id="nav-step-2" type="button" role="tab" aria-controls="nav-profile"
                  aria-selected="false" (click)="nextStep(2)">Step 2</button>
                <button class="nav-link" id="nav-step-3" type="button" role="tab" aria-controls="nav-contact"
                  aria-selected="false" (click)="nextStep(3)">Step 3</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade mb-3 show active" id="step1" role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- SAMPLING STEP 1 -->
                <div id="samplingStep1 mt-3">
                  <table>
                    <thead>
                      <th>Srno</th>
                      <th>TradeGroup</th>
                      <th>Trade</th>
                      <th>Work complete status</th>
                      <th>Floor Before</th>
                      <th>Allocated Area</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tg of testTG">
                        <td>1</td>
                        <td>{{tg.tradegroupName}}</td>
                        <td>
                          <span class="tradename" *ngFor="let t of testTrade[tg.id]" [attr.title]="t.tradeId">
                            <!-- <span>-</span> -->
                            {{t.tradeNane}}
                          </span>
                        </td>

                        <td>
                          <select [class]="'tradeStatusSelect_'+t.tradeId" *ngFor="let t of testTrade[tg.id]">
                            <option [value]="status.id" *ngFor="let status of statusData"
                              [selected]="status.id === 'notStarted'">{{status.name}}</option>
                          </select>
                        </td>

                        <td>
                          <div *ngFor="let t of testTrade[tg.id]">
                            <span class="btn btn-sm btn-success" data-toggle="modal"
                              [attr.data-target]="'#step1-add-stage_'+t.tradeId">+</span>
                            <!-- <span></span> -->
                            <div class="modal fade" [id]="'step1-add-stage_'+t.tradeId" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Stage</h5>
                                    <button type="button" class="close" #closebutton data-dismiss="modal"
                                      aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <input class="form-check" type="checkbox"
                                      (change)="step1SelectAll($event,t.tradeId)">
                                    <label class="form-check-label" for="flexCheckDefault">Select All</label>
                                    <div class="form-check" *ngFor="let o of stages">
                                      <input class="form-check-input" [class]="'step2StagesCheckbox_'+t.tradeId"
                                        type="checkbox" [value]="o.stageId" id="flexCheckDefault"
                                        (change)="addStep1WorkArea($event, t.tradeId)">
                                      <label class="form-check-label" for="flexCheckDefault">{{o.stageName}}</label>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </td>

                        <td>
                          <span *ngFor="let t of testTrade[tg.id]">
                            {{workArea[t.tradeId] ? workArea[t.tradeId].length : 0 }}
                          </span>
                        </td>

                      </tr>

                    </tbody>
                  </table>
                  <div class="form-group my-2">
                    <button class="btn btn-primary" [disabled]="!isStepFirstFormField"
                      (click)="samplingStepFirstSubmit()">Submit
                      And Next</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div *ngIf="steptracker.step2.status; then step2Block"></div>
                <ng-template #step2Block>
                  <div id="samplingStep2" *ngIf="steptracker.step2.status">
                    <h5>{{title}}</h5>
                    <table>
                      <thead>
                        <!-- <th>Srno</th> -->
                        <th>TradeGroup</th>
                        <th>Trade</th>
                        <th>Work Complete Status</th>
                        <th>Representative</th>
                        <th>Contractor <a [routerLink]="'/createContractor/-1'">+</a></th>
                        <th>Work Area</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let tg of testTG">
                          <!-- <td>1</td> -->
                          <td *ngIf="step2formRenderData[tg.id].length">{{tg.tradegroupName}}</td>
                          <td *ngIf="step2formRenderData[tg.id].length">
                            <span class="step2Tradename" *ngFor="let t of step2formRenderData[tg.id]"
                              [attr.title]="t.tradeId">
                              {{t.tradeNane}}
                            </span>
                          </td>

                          <td *ngIf="step2formRenderData[tg.id].length">
                            <!-- step2TradeStatusSelect_ -->
                            <select [class]="'step2TradeStatusSelect_'+t.tradeId"
                              *ngFor="let t of step2formRenderData[tg.id]">
                              <option [value]="status.id" *ngFor="let status of statusData"
                                [selected]="step2StatusData[t.tradeId].id === status.id">{{status.name}}</option>
                              >
                            </select>
                          </td>

                          <!-- Check for sampling type -->
                          <div *ngIf="samplingType != 1; then thenBlock else elseBolck"></div>
                          <ng-template #thenBlock>
                            <td *ngIf="step2formRenderData[tg.id].length">
                              <select [class]="'step2StaffSelect_'+t.tradeId"
                                *ngFor="let t of step2formRenderData[tg.id]">
                                <option [value]="staff.clientStaffId" *ngFor="let staff of staffData">
                                  {{staff.clientName}}
                                </option>

                              </select>
                            </td>
                            <td *ngIf="step2formRenderData[tg.id].length">

                              <div *ngFor="let t of step2formRenderData[tg.id]"
                                style="margin-bottom: 10px; display: flex; flex-direction: column;">
                                <input [class]="'step2ContractorSelect_'+t.tradeId" [value]="contractor.contractorName"
                                  [attr.title]="contractor.contractorId"
                                  *ngFor="let contractor of contractorDataTradeWise[t.tradeId]">
                              </div>
                            </td>
                          </ng-template>
                          <ng-template #elseBolck>
                            <td *ngIf="step2formRenderData[tg.id].length">
                              <select [class]="'step2ContractorSelect_'+t.tradeId"
                                *ngFor="let t of step2formRenderData[tg.id]">
                                <option [value]="client.clientId" *ngFor="let client of clients">
                                  {{client.clientName}}</option>
                              </select>
                            </td>

                            <td *ngIf="step2formRenderData[tg.id].length">
                              <select [class]="'step2StaffSelect_'+t.tradeId"
                                *ngFor="let t of step2formRenderData[tg.id]">
                                <option [value]="client.clientId" *ngFor="let client of clients">
                                  {{client.clientName}}</option>
                              </select>
                            </td>
                          </ng-template>



                          <div *ngIf="samplingType != 1; then stageThenBlock else stageElseBolck"></div>
                          <ng-template #stageThenBlock>
                            <td *ngIf="step2formRenderData[tg.id].length">

                              <span class="add-stages" *ngFor="let t of step2formRenderData[tg.id]"
                                style="display: flex; flex-direction: column !important;">
                                <div *ngFor="let contractor of contractorDataTradeWise[t.tradeId]">
                                  {{step2workArea[t.tradeId] ? step2workArea[t.tradeId][contractor.contractorId] ?
                                  step2workArea[t.tradeId][contractor.contractorId].length:0 : 0}}
                                  <button type="button" class="btn btn-sm btn-success" data-toggle="modal"
                                    [attr.data-target]="'#step2Add-stage_'+t.tradeId+'_'+contractor.contractorId">+</button>

                                  <div class="modal fade" [id]="'step2Add-stage_'+t.tradeId+'_'+contractor.contractorId"
                                    tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Allocate Stage step2</h5>
                                          <button type="button" class="close" #closebutton data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <input class="form-check" type="checkbox"
                                            (change)="step2SelectAll($event,t.tradeId)">
                                          <label class="form-check-label" for="flexCheckDefault">Select All</label>
                                          <div class="form-check" *ngFor="let o of stages">
                                            <input *ngIf="workArea[t.tradeId].includes(o.stageId)"
                                              class="form-check-input" [class]="'step2StagesCheckbox_'+t.tradeId"
                                              type="checkbox" [value]="o.stageId" id="flexCheckDefault"
                                              (change)="addStep2WorkArea($event, t.tradeId, contractor.contractorId)">
                                            <label *ngIf="workArea[t.tradeId].includes(o.stageId)"
                                              class="form-check-label" for="flexCheckDefault">{{o.stageName}}</label>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </span>
                            </td>
                          </ng-template>
                          <ng-template #stageElseBolck>
                            <td *ngIf="step2formRenderData[tg.id].length">
                              <span class="add-stages" *ngFor="let t of step2formRenderData[tg.id]">
                                {{step2workArea[t.tradeId] ? step2workArea[t.tradeId].length : 0}}
                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal"
                                  [attr.data-target]="'#step2Add-stage_'+t.tradeId">+</button>

                                <div class="modal fade" [id]="'step2Add-stage_'+t.tradeId" tabindex="-1" role="dialog"
                                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Allocate Stage step2</h5>
                                        <button type="button" class="close" #closebutton data-dismiss="modal"
                                          aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <div class="form-check" *ngFor="let o of stages">
                                          <input *ngIf="workArea[t.tradeId].includes(o.stageId)"
                                            class="form-check-input" [class]="'step2StagesCheckbox_'+t.tradeId"
                                            type="checkbox" [value]="o.stageId" id="flexCheckDefault"
                                            (change)="addStep2type1WorkArea($event, t.tradeId)">
                                          <label *ngIf="workArea[t.tradeId].includes(o.stageId)"
                                            class="form-check-label" for="flexCheckDefault">{{o.stageName}}</label>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </span>
                            </td>
                          </ng-template>
                        </tr>

                      </tbody>
                    </table>
                    <div class="form-group my-2">
                      <button class="btn btn-primary" [disabled]="!isStepSecondFormField"
                        (click)="samplingStepSeceondSubmit()">Save</button>
                        <button class="btn btn-primary" [disabled]="!isStepSecondFormField"
                        (click)="goToStepThree()">Next</button>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="tab-pane fade" id="step3" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div *ngIf="samplingType==1; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <div class="table">
                    <table>
                      <thead>
                        <th>Group Name</th>
                        <th>trades</th>
                        <th>From</th>
                        <th>To</th>
                        <th>More</th>
                        <th>Sampled unit</th>
                        <th>Add</th>
                        <th>No of Sampled unit</th>
                        <th>Random Sampling</th>
                        <th>Sampled Area</th>
                      </thead>
                      <tbody>
        
                        <tr *ngFor="let t of testTGStep3">
                          <td>{{t.tradegroupName}}</td>
                          <td style="width: 10%;">
                            <span class="trades" *ngFor="let trade of testTradeStep3[t.id]"
                              [attr.title]="trade.tradeId">{{trade.tradeNane}}</span>
                          </td>
                          <td>
                            <span *ngFor="let trade of testTradeStep3[t.id]">{{stageData[trade.tradeId] &&
                              stageData[trade.tradeId][0].stageName}}</span>
                          </td>
                          <td>
                            <span *ngFor="let trade of testTradeStep3[t.id]">{{stageData[trade.tradeId] &&
                              stageData[trade.tradeId][stageData[trade.tradeId].length- 1].stageName}}</span>
                          </td>
                          <td>
                            <span *ngFor="let trade of testTradeStep3[t.id]" class="btn-span">
                              <button type="button" class="btn btn-sm btn-primary h-2 py-0">+</button>
                              <button type="button" class="btn btn-sm btn-warning h-2">-</button>
                            </span>
                          </td>
                          <td style="width: 5%;">
                            <span [class]="'percentageCount_'+trade.tradeId" [attr.title]="persentageData[trade.tradeId]"
                              *ngFor="let trade of testTradeStep3[t.id]">{{persentageData[trade.tradeId]+' %'}}</span>
                          </td>
                          <td>
                            <span *ngFor="let trade of testTradeStep3[t.id]" class="btn-span">
                              <button type="button" class="btn btn-sm btn-primary h-2 py-0"
                                (click)="addPersentage(trade.tradeId)">+</button>
                              <button type="button" class="btn btn-sm btn-warning h-2"
                                (click)="lessPersentage(trade.tradeId)">-</button>
                            </span>
                          </td>
                          <td style="width: 5%;">
                            <span *ngFor="let trade of testTradeStep3[t.id]">{{sampledUnitnumber[trade.tradeId]}}</span>
                          </td>
                          <td style="width: 5%;">
                            <span *ngFor="let trade of testTradeStep3[t.id]">
                              <button type="button" class="btn btn-sm btn-secondary p-0 m-0"
                                (click)="getRandomStage(trade.tradeId)">Get Random</button>
                            </span>
                          </td>
                          <td tyle="width: 20%;">
                            <span *ngFor="let trade of testTradeStep3[t.id]">
                              <div class="floor-list" *ngIf="randomSampledArea[trade.tradeId]">
                                <h6 *ngFor="let stage of randomSampledArea[trade.tradeId]">{{stage.stageName}}</h6>
                              </div>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
        
                    <div class="form-group my-2">
                      <button class="btn btn-success" (click)="submitStep3Data()">Save</button>
                    </div>
                  </div>
                </ng-template>
        
        
                <ng-template #elseBlock>
                  <div class="table" *ngFor="let data of type2step3data | keyvalue">
                    <h2 class="contractorId" [attr.title]="data.key">{{data.value.contractorName}}</h2>
                    <input type="hidden" [id]="'staffId_'+data.key" [value]="data.value.staffId">
                    <table>
                      <thead>
                        <!-- <th>Group Name</th> -->
                        <th>trades</th>
                        <th>From</th>
                        <th>To</th>
                        <th>More</th>
                        <th>Sampled unit</th>
                        <th>Add</th>
                        <th>No of Sampled unit</th>
                        <th>Random Sampling</th>
                        <th>Sampled Area</th>
                      </thead>
                      <tbody>
        
                        <tr *ngFor="let t of type2step3data[data.key].samplingData | keyvalue">
                          <td style="width: 30%;" class="type2trades" [attr.title]="t.key">{{tradeNameObj[t.key]}}</td>
                          <td>
                            {{type2StageData[data.key][t.key][0].stageName}}
                          </td>
                          <td>
                            {{type2StageData[data.key][t.key][type2StageData[data.key][t.key].length -1 ].stageName}}
                          </td>
                          <td>
                            {{type2StageData[data.key][t.key].length}}
                          </td>
                          <td style="width: 5%;">
                            <span [class]="'percentageCount_'+t.key"
                              [attr.title]="type2PersentageData[data.key][t.key]">{{type2PersentageData[data.key][t.key]+'
                              %'}}</span>
                          </td>
                          <td>
                            <button type="button" class="btn btn-sm btn-primary h-2 py-0"
                              (click)="type2addPersentage(data.key, t.key)">+</button>
                            <button type="button" class="btn btn-sm btn-warning h-2 py-0"
                              (click)="type2lessPersentage(data.key, t.key)">-</button>
                          </td>
                          <td style="width: 5%;">
                            {{ type2SampledUnitnumber[data.key][t.key]}}
                          </td>
                          <td style="width: 5%;">
                            <button type="button" class="btn btn-sm btn-secondary p-0 m-0"
                              (click)="type2GetRandomStage(data.key, t.key)">Get Random</button>
                          </td>
                          <td tyle="width: 20%;">
                            <div class="floor-list" *ngIf="type2RandomSampledArea[data.key]">
                              <h6 *ngFor="let stage of type2RandomSampledArea[data.key][t.key]">{{stage.stageName}}</h6>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
        
                  </div>
                  <div class="form-group my-2">
                    <button class="btn btn-success" (click)="Type2submitStep3Data()">Save</button>
                  </div>
                </ng-template>  
              
              </div>
            </div>
          </div>
          <!-- Example DataTables Card-->

        </div>
      </div>
      <app-footer></app-footer>