<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Sampling</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/sampling'">Manage Sampling </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create Sampling</h1>
          </div>
        </div>
      </div>

      <div class="create-viewform">
        <form [formGroup]="samplingForm" (ngSubmit)="onSubmit()">
          <!-- <div class="form-group">
            <label for="fname" class="col-form-label">Client</label>
            <select class="form-control" formControlName="clientId" [(ngModel)]="SelClientId" #clientId
              (change)="getProjects()" [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }">
              <option [value]="0">Please Select</option>
              <option [value]="o.clientId" *ngFor="let o of clients">
                {{o.clientName}}
              </option>
            </select>
            <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
              <div *ngIf="f.clientId.errors.required">Client is required</div>
            </div>
          </div> -->

          <div class="form-group">
            <label>Project Name</label>
            <select [(ngModel)]="SelProject" formControlName="projectId" class="form-control" (change)="getStructure()"
              [ngClass]="{ 'is-invalid': submitted && f.projectId.errors }">
              <option [value]="project.projectId" *ngFor="let project of projects">
                {{project.projectName}}
              </option>
            </select>
            <div *ngIf="submitted && f.projectId.errors" class="invalid-feedback">
              <div *ngIf="f.projectId.errors.required">Project is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Structure Name</label>
            <select [(ngModel)]="SelStructure" formControlName="structureId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.structureId.errors }" (change)="getStages()">
              <option [value]="0">Please Select</option>
              <option [value]="o.structureId" *ngFor="let o of structures">
                {{o.structureName}}
              </option>
            </select>
            <div *ngIf="submitted && f.structureId.errors" class="invalid-feedback">
              <div *ngIf="f.structureId.errors.required">Structure is required</div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label>Select Stage: </label>
            <select [(ngModel)]="SelStage" formControlName="stageId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.structureId.errors }" multiple>
              <option [value]="o.stageId" *ngFor="let o of stages">
                {{o.stageName}}
              </option>
            </select>
            <div *ngIf="submitted && f.structureId.errors" class="invalid-feedback">
              <div *ngIf="f.structureId.errors.required">Structure is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Trade Group</label>
            <select [(ngModel)]="selTrade" formControlName="tradeGroupId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tradeGroupId.errors }" (change)="getQuestionGroup()">
              <option [value]="trade.tardeId" *ngFor="let trade of trades" >
                {{trade.tradeName}}
              </option>
            </select>
            <div *ngIf="submitted && f.tradeGroupId.errors" class="invalid-feedback">
              <div *ngIf="f.tradeGroupId.errors.required">Trade group is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Trade</label>
            <select formControlName="tradeId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.tradeId.errors }">
              <option [value]="o.questionGroupId" *ngFor="let o of questionGroup">
                {{o.questionGroupText}}
              </option>
            </select>
            <div *ngIf="submitted && f.tradeId.errors" class="invalid-feedback">
              <div *ngIf="f.tradeId.errors.required">Trade is required</div>
            </div>
          </div>

         
          <div class="form-group">
            <label>Persentage %</label>
            <input type="text" formControlName="completePercentage" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.completePercentage.errors }">
            <div *ngIf="submitted && f.completePercentage.errors" class="invalid-feedback">
              <div *ngIf="f.completePercentage.errors.required">Persantage % is required</div>
            </div>
          </div> -->


          <table>
            <thead>
              <th>Srno</th>
              <th>TradeGroup</th>
              <th>Trade</th>
              <th>Work complete status</th>
              <th>Contractor name</th>
              <th>Representative Name</th>
              <th>Allocated Area</th>
            </thead>
            <tbody>
              <tr *ngFor="let tg of testTG">
                <td>1</td>
                <td>{{tg.tradegroupName}}</td>
                <td>
                  <span class="tradename" *ngFor="let t of testTrade[tg.id]" [attr.title]="t.tradeId">
                    {{t.tradeNane}}
                  </span>
                </td>

                <td>
                  <select [class]="'tradeStatusSelect_'+t.tradeId" *ngFor="let t of testTrade[tg.id]">
                    <option value="complted">complted</option>
                    <option value="NA">NA</option>
                    <option value="notStarted">Not Started</option>
                  </select>
                </td>
                <td>
                  <span *ngFor="let t of testTrade[tg.id]">
                    CYX
                  </span>
                </td>

                <td>
                  <span *ngFor="let t of testTrade[tg.id]">
                    YTD
                  </span>
                </td>
                <td>
                  <span class="add-stages" *ngFor="let t of testTrade[tg.id]">
                    {{allocatedarea[t.tradeId] ? allocatedarea[t.tradeId].length : 0}}
                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" [attr.data-target]="'#add-edit-stage_'+t.tradeId">+</button>

                    <div class="modal fade" [id]="'add-edit-stage_'+t.tradeId" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add Stage</h5>
                            <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-check" *ngFor="let o of stages">
                              <input class="form-check-input" [class]="'stagesCheckbox_'+t.tradeId" type="checkbox" [value]="o.stageId" id="flexCheckDefault" (change)="addStageToArea(t.tradeId)">
                              <label class="form-check-label" for="flexCheckDefault">{{o.stageName}}</label> 
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </span>
                </td>

              </tr>

            </tbody>
          </table>

          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>