<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
       <div class="add-container-viewcommon">
         <div class="main-header_createview">
          <div class="left-side-header">
              <div class="create-content-header">
                <h1> Assign Projects </h1>
                
              </div>
          </div>
        
         <div class="right-side-create-view ">
             <div class="create-content-operations">
              <a routerLink="/createProject/-1"> 
                <button type="button"> Assign Projects </button>
               </a>
             </div>
          </div>
        </div>
      </div>

       

    
    <div class="row m-0">
      <div class="col-xl-12 col-sm-12 mb-3">
           <!-- Example DataTables Card-->
   
     
<table datatable  id="customers"  style="width:100%">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Project Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>

</div>


</div>
<!-- Example DataTables Card-->

</div>
</div>
  <app-footer></app-footer>
  