<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create User Equipment</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/userEquipment/'+snapAuditId">Manage User Equipment</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create User Equipment</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="equipmentFrom" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Description</label>
            <textarea formControlName="description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Remark</label>
            <textarea formControlName="remark" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.remark.errors }"></textarea>
            <div *ngIf="submitted && f.remark.errors" class="invalid-feedback">
              <div *ngIf="f.remark.errors.required">Remark is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Image 1</label>
            <input type="file" formControlName="image1" class="form-control" />
          </div>
          <div class="form-group">
            <label>Image 2</label>
            <input type="file" formControlName="image2" class="form-control"/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>