<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Assign Constructor's Supervison</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/client" style="color: white; text-decoration: none;">Manage Client </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create Client </h1>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="form-check card ml-3">
          <div class="card-body p-1">
            <input class="form-check-input" type="radio" value="1" (change)="toggleAllocationType($event)"
              name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Contractor Allocation
            </label>
          </div>
        </div>
        <div class="form-check card ml-3">
          <div class="card-body p-1">
            <input class="form-check-input" type="radio" value="2" (change)="toggleAllocationType($event)"
              name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              PMC Allocation
            </label>
          </div>
        </div>

        <div class="form-check card ml-3">
          <div class="card-body p-1">
            <input class="form-check-input" type="radio" value="3" (change)="toggleAllocationType($event)"
              name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              Client Allocation
            </label>
          </div>
        </div>

      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="row">
          <div class="form-group col-md-4">
            <label>Select Client</label>
            <select [(ngModel)]="SelClient" formControlName="clientId" class="form-control" (change)="getProjects()">
              <option [value]="0">Please Select</option>
              <option [value]="client.clientId" *ngFor="let client of clients">
                {{client.clientName}}
              </option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Project Name</label>
            <select [(ngModel)]="SelProject" formControlName="schemeId" class="form-control" (change)="getStructure()">
              <option [value]="0">Please Select</option>
              <option [value]="project.projectId" *ngFor="let project of projects">
                {{project.projectName}}
              </option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Structure Name</label>
            <select [(ngModel)]="SelStructure" formControlName="structureId" class="form-control"
              (change)="getStages()">
              <option [value]="0">Please Select</option>
              <option [value]="o.structureId" *ngFor="let o of structures">
                {{o.structureName}}
              </option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div>

          <!-- <div class="form-group col-md-4">
            <label>Client Staff</label>
            <select [(ngModel)]="SelclientStaff" formControlName="clientStaffId" class="form-control">
              <option [value]="staff.clientStaffId" *ngFor="let staff of clientStaffs">
                {{staff.clientName}}
              </option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div> -->


          <div *ngIf="allocationType==1" class="form-group col-md-4">
            <label>Contractor</label>
            <select [(ngModel)]="SelContractor" formControlName="contractorId" class="form-control"
              (change)="getSupervisores()">
              <option [value]="contractor.contractorId" *ngFor="let contractor of contractors">
                {{contractor.contractorName}}
              </option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div>

          <div *ngIf="allocationType==2" class="form-group col-md-4">
            <label>PMC</label>
            <select [(ngModel)]="Selpmc" formControlName="pmcId" class="form-control" (change)="getPmcUser()">
              <option [value]="p.pmcId" *ngFor="let p of pmc">
                {{p.pmcName}}
              </option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Select Trade</label>
            <select [(ngModel)]="SelTrade" formControlName="tradeId" class="form-control" (change)="getPreAllocation()">
              <option [value]="0">Please Select</option>
              <option [value]="o.fkTradeId" *ngFor="let o of trades">
                {{o.tradeName}}
              </option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div>


          <!-- <div class="form-group col-md-4">
            <button class="btn btn-sm btn-success mt-4" type="button" (click)="getPreAllocation()">Get
              Allocation</button>
          </div> -->

          <div class="row col-md-12">
            <div class="form-group col-md-4">
              <label style="font-weight: 600;">Select Stages</label>
              <div *ngIf="stageLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div *ngIf="!stageLoad" class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllStageCheckbox($event)">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let o of stages">
                  <input class="form-check-input stagesCheckbox" type="checkbox" [value]="o.stageId"
                    [id]="'stage'+o.stageId" (change)="addStagesTotrade($event)" [checked]=" selectedTrade[o.stageId]">
                  <label [class]="currentStage == o.stageId ? 'form-check-label t-bold':'form-check-label'"
                    (click)="showUnits(o.stageId)" role="button">{{o.stageName}}</label>
                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label style="font-weight: 600;">Select Unit</label>
              <div *ngIf="unitLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div *ngIf="!unitLoad" class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllUnitCheckbox($event)">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let o of units">
                  <input class="form-check-input unitsCheckbox" type="checkbox" [value]="o.unitId"
                    [id]="'unit'+o.unitId" (change)="addUnitToStage($event)"
                    [checked]="selectedTrade[currentStage] && selectedTrade[currentStage].hasOwnProperty(o.unitId)">
                  <!-- <input class="form-check-input" type="checkbox" id="moveUnit"> -->
                  <label [class]="currentUnit == o.unitId ? 'form-check-label t-bold':'form-check-label'"
                    (click)="showSubunits(o.unitId)" role="button">{{o.unitName}}</label>
                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label style="font-weight: 600;">Select Subunit</label>

              <div *ngIf="subunitLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div *ngIf="!subunitLoad" class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllSubUnitCheckbox($event)">
                  <!-- <input class="form-check-input" type="checkbox" id="move"> -->
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>

                <div>
                  <div class="form-check" *ngFor="let o of subunits">
                    <input class="form-check-input subUnitsCheckbox" type="checkbox" [value]="o.subunitId"
                      [id]="'subunit'+o.subunitId" (change)="addSubunit($event)" [disabled]="disableSubunit"
                      [checked]="selectedTrade[currentStage] && selectedTrade[currentStage][currentUnit] && selectedTrade[currentStage][currentUnit].includes(o.subunitId)">
                    <label class="form-check-label">{{o.subunitName}}</label>
                  </div>
                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>
          </div>


          <div *ngIf="allocationType==1" class="row col-md-12">
            <div class="form-group col-md-4">
              <label style="font-weight: 600;">Supervisors</label>
              <div *ngIf="stageLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div *ngIf="!stageLoad" class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllStageCheckbox($event)">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let o of supervisors">
                  <input class="form-check-input stagesCheckbox" type="checkbox" [value]="o.supervisorId"
                    [id]="'stage'+o.supervisorId" (change)="addSupervisor($event)"
                    [checked]="supervisorData.includes(o.supervisorId)">
                  <!-- <input class="form-check-input" type="checkbox" id="moveStage"> -->
                  <label class="form-check-label">{{o.supervisorName}}</label>

                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label style="font-weight: 600;">Formans</label>
              <div *ngIf="!unitLoad" class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllUnitCheckbox($event)">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let o of formans">
                  <input class="form-check-input unitsCheckbox" type="checkbox" [value]="o.foremanId"
                    [id]="'unit'+o.foremanId" (change)="addForman($event)" [checked]="formanData.includes(o.foremanId)">
                  <!-- <input class="form-check-input" type="checkbox" id="moveUnit"> -->
                  <label class="form-check-label">{{o.foremanName}}</label>
                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>
          </div>

          <div *ngIf="allocationType==2" class="row col-md-12">
            <div class="form-group col-md-4">
              <label style="font-weight: 600;">PMC User</label>
              <div *ngIf="stageLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div *ngIf="!stageLoad" class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllStageCheckbox($event)">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let user of pmcUser">
                  <input class="form-check-input stagesCheckbox" type="checkbox" [value]="user.id"
                    [id]="'stage'+user.id" (change)="addPMCUser($event)"
                    [checked]="pmcUserData.includes(user.id)">
                  <!-- <input class="form-check-input" type="checkbox" id="moveStage"> -->
                  <label class="form-check-label" [for]="'stage'+user.id">{{user.userFullName}}</label>

                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>
          </div>

          <div *ngIf="allocationType==3" class="row col-md-12">
            <div class="form-group col-md-4">
              <label  style="font-weight: 600;">Client Staff</label>
              <div *ngIf="stageLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div *ngIf="!stageLoad" class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllStageCheckbox($event)">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let user of pmcUser">
                  <input class="form-check-input stagesCheckbox" type="checkbox" [value]="user.id"
                    [id]="'stage'+user.id" (change)="addPMCUser($event)"
                    [checked]="pmcUserData.includes(user.id)">
                  <!-- <input class="form-check-input" type="checkbox" id="moveStage"> -->
                  <label class="form-check-label" [for]="'stage'+user.id">{{user.userFullName}}</label>

                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>
          </div>

          <div class="form-group col-md-3">

            <button type="submit" class="btn btn-primary">
              <span *ngIf="isbtnLoading" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              <span *ngIf="!isbtnLoading">save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>