<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames d-flex justify-content-between">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Assign Equipment</li>
          </ol>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#new-trade-user">New
              Asset </button>
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#trade-user-list"
              (click)="assetList()">List</button>
            <button type="button" class="btn btn-outline-dark"><a routerLink="/assignEquipementList"
                class="text-dark">Manage Asset</a> </button>
          </div>
        </div>
        <!-- <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/assignEquipementList">Manage Assign Equipment</a> </button>
          </div>
        </div> -->

        <div class="modal fade" id="new-trade-user" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Asset</h5>
                <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="newAssetForm" (ngSubmit)="addNewAsset()">
                  <div class="form-group">
                    <label>Asset Type: </label>
                    <select class="form-control" formControlName="assetTypeId">
                      <option [value]="0">Please Select</option>
                      <option [value]="asset.id" *ngFor="let asset of assets">{{asset.assetName}}</option>
                    </select>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Asset Name: </label>
                    <input class="form-control" formControlName="assetName">
                  </div>

                  <div class="form-group">
                    <label>Asset Cost (₹): </label>
                    <input type="number" class="form-control" formControlName="cost" placeholder="₹ 100">
                  </div>

                  <div class="form-group">
                    <label>Used by: </label>

                    <div class="form-check">
                      <input class="form-check-input usedBy" type="checkbox" [value]="1" id="flexCheckChecked">
                      <label class="form-check-label" for="flexCheckChecked">
                        Civil
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input usedBy" type="checkbox" [value]="2" id="flexCheckChecked">
                      <label class="form-check-label" for="flexCheckChecked">
                        MEP
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input usedBy" type="checkbox" [value]="3" id="flexCheckChecked">
                      <label class="form-check-label" for="flexCheckChecked">
                        Seafty
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input usedBy" type="checkbox" [value]="4" id="flexCheckChecked">
                      <label class="form-check-label" for="flexCheckChecked">
                        Infra
                      </label>
                    </div>
                  </div>
                  <!--  <canvas id="signature" height="100px" width="200px" style="border: 1px solid black;"></canvas>
                  <div id="show">
                  </div> -->
                  <div class="modal-footer">
                    <button class="btn btn-sm btn-success" type="submit">
                      <span *ngIf="newAssetLoad" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                      <span *ngIf="!newAssetLoad">Save</span>
                    </button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>

        <!-- list model -->
        <div class="modal fade" id="trade-user-list" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Asset List</h5>
                <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div *ngIf="assetListLoad" class="userdeailsload row d-flex justify-content-center">
                  <div class="spinner-border text-warning" role="status">
                  </div>
                </div>
                <div *ngIf="!assetListLoad">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="row-border hover inspector_list_table" style="width:100%">
                    <thead>
                      <tr>
                        <th>Sr. No</th>
                        <th>Asset Type</th>
                        <th>Asset Name</th>
                        <th>Asset Cost</th>
                        <th>Used By</th>
                      </tr>
                    </thead>
                    <tbody id="attendeesFrom">
                      <tr *ngFor="let asset of allAssetlist">
                        <td>{{asset.id}}</td>
                        <td>{{asset.asset_type_name}}</td>
                        <td>{{asset.assetName}}</td>
                        <td>{{asset.cost}}</td>
                        <td class="d-flex">
                          <div *ngFor="let usedBy of asset.userBy" class="mx-1">
                            <span class="badge badge-warning" *ngIf="usedBy=='1'">Civil</span>
                            <span class="badge badge-warning" *ngIf="usedBy=='2'">MEP</span>
                            <span class="badge badge-warning" *ngIf="usedBy=='3'">Seafty</span>
                            <span class="badge badge-warning" *ngIf="usedBy=='4'">Infra</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="modal-footer">
                  <button class="btn btn-sm btn-success" type="submit">Save</button>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Assign Equipment</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()" class="row">
          <div class="form-group col-md-4">
            <label>Asset Type: </label>
            <select formControlName="id" class="form-control" (change)="getAssets($event)">
              <option [value]="0">Please Select</option>
              <option [value]="asset.id" *ngFor="let asset of assets">{{asset.assetName}}</option>
            </select>
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Asset Name: </label>
            <select formControlName="assetName" class="form-control">
              <option [value]="0">Please Select</option>
              <option [value]="asset.id" *ngFor="let asset of assetsData">{{asset.assetName}}</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label>Description: </label>
            <input type="text" class="form-control" formControlName="description">
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Asset Serial No.: </label>
            <input type="text" class="form-control" formControlName="assetSerialNo">
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Date of calibration: </label>
            <input type="date" class="form-control" formControlName="dateOfCalibration">
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Remark: </label>
            <input type="text" class="form-control" formControlName="remark">
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Equipment Image: </label>
            <input type="file" class="form-control" formControlName="eImage" accept="image/png, image/gif, image/jpeg">
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Calibration Caertificate: </label>
            <input type="file" class="form-control" formControlName="ccImage">
            <div class="invalid-feedback">
            </div>
          </div>

          <div class="form-group mt-3">
            <button class="btn btn-primary" *ngIf="submitLoad">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
            <button class="btn btn-primary" *ngIf="!submitLoad">
              <span >Save</span>
            </button>
          </div>


        </form>

      </div>
    </div>
  </div>
  <app-footer></app-footer>