<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Question Heading</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/questionheading" style="color: white; text-decoration: none;">Manage
                Question Head</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create Question Heading</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Select Trade</label>
              <select [(ngModel)]="SelTrade" formControlName="tardeId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.tardeId.errors }" (change)="getSubgroups()">
                <option [value]="0">Please Select</option>
                <option [value]="o.tardeId" *ngFor="let o of trades">
                  {{o.tradeName}}
                </option>
              </select>
              <div *ngIf="submitted && f.tardeId.errors" class="invalid-feedback">
                <div *ngIf="f.tardeId.errors.required">Trade is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Select Subgroup</label>
              <select [(ngModel)]="SelSubgroup" formControlName="subgroupId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.subgroupId.errors }" (change)="getQuestionGroups()">
                <option [value]="0">Please Select</option>
                <option [value]="o.subgroupId" *ngFor="let o of subGroups">
                  {{o.subgroupName}}
                </option>
              </select>
              <div *ngIf="submitted && f.subgroupId.errors" class="invalid-feedback">
                <div *ngIf="f.subgroupId.errors.required">Subgroup is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Select Question Group</label>
              <select [(ngModel)]="SelQuestionGp" formControlName="questionGroupId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.questionGroupId.errors }">
                <option [value]="0">Please Select</option>
                <option [value]="o.questionGroupId" *ngFor="let o of questionGroup">
                  {{o.questionGroupText}}
                </option>
              </select>
              <div *ngIf="submitted && f.questionGroupId.errors" class="invalid-feedback">
                <div *ngIf="f.questionGroupId.errors.required">Question group is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Question Heading</label>
              <input type="text" formControlName="questionHeadingText" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.questionHeadingText.errors }" />
              <div *ngIf="submitted && f.questionHeadingText.errors" class="invalid-feedback">
                <div *ngIf="f.questionHeadingText.errors.required">Question heading is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">
              <div *ngIf="isLoad" class="spinner-border spinner-border-sm" role="status">
              </div>
              <span *ngIf="!isLoad">Submit</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-snack-bar></app-snack-bar>
  <app-footer></app-footer>