<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Question Head</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/questionheading">Manage Question Head</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create Question Head</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Select Trade</label>
            <select formControlName="tardeId" class="form-control">
              <option [value]="0">Please Select</option>
              <option [value]="o.tardeId" *ngFor="let o of trades">
                {{o.tradeName}}
              </option>
            </select>
            <div *ngIf="submitted && f.selTrade.errors" class="invalid-feedback">
              <div *ngIf="f.selTrade.errors.required">Trade is required</div>
            </div>
          </div>
          <div class="form-group">
              <label>Select Subgroup</label>
              <select  formControlName="subgroupId" class="form-control" > 
                  <option  [value]="0">Please Select</option>
                  <option [value]="o.subgroupId" *ngFor="let o of subGroups">
                    {{o.subgroupName}}
                  </option>
              </select>
              <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
                  <div *ngIf="f.clientId.errors.required">Sub Trade is required</div>
              </div>
          </div>
          <div class="form-group">
            <label>Select Question Group</label>
            <select  formControlName="questionGroupId" class="form-control" > 
                <option  [value]="0">Please Select</option>
                <option [value]="o.questionGroupId" *ngFor="let o of questionGroup">
                  {{o.questionGroupText}}
                </option>
            </select>
            <div *ngIf="submitted && f.selQuestionGp.errors" class="invalid-feedback">
                <div *ngIf="f.selQuestionGp.errors.required">Sub Trade is required</div>
            </div>
        </div>
            
          <div class="form-group">
            <label>Question Heading</label>
            <input type="text" formControlName="questionHeadingText" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
            <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
              <div *ngIf="f.clientName.errors.required">Question Group Description is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>