<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Configure Checklist</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/project" style="color: white; text-decoration: none;">Manage Projects</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Comfigure Checklist</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="configureForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Select Trade</label>
            <select [(ngModel)]="SelTrade" formControlName="pkTradeId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.tardeId.errors }" (change)="getSubgroups()">
              <option [value]="0">Please Select</option>
              <option [value]="o.fkTradeId" *ngFor="let o of trades">
                {{o.tradeName}}
              </option>
            </select>
            <div *ngIf="submitted && f.tardeId.errors" class="invalid-feedback">
              <div *ngIf="f.tardeId.errors.required">Trade is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Select Subgroup</label>
            <select [(ngModel)]="SelSubgroup" formControlName="pkSubgroupId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.subgroupId.errors }" (change)="getChecklist()">
              <option [value]="0">Please Select</option>
              <option [value]="o.subgroupId" *ngFor="let o of subgroups">
                {{o.subgroupName}}
              </option>
            </select>
            <div *ngIf="submitted && f.subgroupId.errors" class="invalid-feedback">
              <div *ngIf="f.subgroupId.errors.required">Trade is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Select Checklist</label>
            <select formControlName="checklistId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.checklistId.errors }" multiple>
              <option [value]="0">Please Select</option>
              <option [value]="o.checklistMasterId" *ngFor="let o of checklists">
                {{o.checklistName}}
              </option>
            </select>
            <div *ngIf="submitted && f.checklistId.errors" class="invalid-feedback">
              <div *ngIf="f.checklistId.errors.required">Subgroup is required</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">
              <span *ngIf="configLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="!configLoad">Configure</span>
            </button>
          </div>
        </form>

        <div class="row col-md-12 configure_box">
          <label style="font-weight: 700;">Configure Questions</label>
          <div class="col-md-12 mt-2" *ngFor="let checklist of configureData | keyvalue">
            <h6 class="card-title mt-2" style="font-weight: 700;">{{checklistName[checklist.key]}}</h6>
            <div class="col-md-12" *ngFor="let qg of checklist.value | keyvalue">
              <h6 class="card-title">
                <input class="form-check-input" type="checkbox"
                  (change)="addAllByQuestionGroup($event, checklist.key, qg.key)">
                {{questionGroupName[qg.key]}}
              </h6>
              <div class="form-check" *ngFor="let q of qg.value.data">
                <input class="form-check-input" (change)="addQuestion($event, checklist.key, qg.key, q.questionId)"
                  type="checkbox" [value]="q.questionId" [id]="'flexCheckDefault'+q.questionId"
                  [checked]="questionData[checklist.key] && questionData[checklist.key][qg.key] && questionData[checklist.key][qg.key].includes(q.questionId)">
                <label class="form-check-label" [for]="'flexCheckDefault'+q.questionId">
                  {{q.questionText}}

                </label>
              </div>
            </div>
          </div>


        </div>
        <div class="row col-md-12">
          <button class="btn btn-primary" (click)="saveConfiguration()">
            <span *ngIf="saveLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!saveLoad">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-snack-bar></app-snack-bar>
  <app-footer></app-footer>