<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Configure Checklist</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/project">Manage Projects</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Comfigure Checklist</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="configureForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Select Trade</label>
            <select [(ngModel)]="SelTrade" formControlName="pkTradeId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.tardeId.errors }" (change)="getSubgroups()">
              <option [value]="0">Please Select</option>
              <option [value]="o.tardeId" *ngFor="let o of trades">
                {{o.tradeName}}
              </option>
            </select>
            <div *ngIf="submitted && f.tardeId.errors" class="invalid-feedback">
              <div *ngIf="f.tardeId.errors.required">Trade is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Select Subgroup</label>
            <select [(ngModel)]="SelSubgroup" formControlName="pkSubgroupId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.subgroupId.errors }" (change)="getChecklist()">
              <option [value]="0">Please Select</option>
              <option [value]="o.subgroupId" *ngFor="let o of subgroups">
                {{o.subgroupName}}
              </option>
            </select>
            <div *ngIf="submitted && f.subgroupId.errors" class="invalid-feedback">
              <div *ngIf="f.subgroupId.errors.required">Trade is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Select Checklist</label>
            <select formControlName="checklistId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.checklistId.errors }" multiple>
              <option [value]="0">Please Select</option>
              <option [value]="o.checklistMasterId" *ngFor="let o of checklists">
                {{o.checklistName}}
              </option>
            </select>
            <div *ngIf="submitted && f.checklistId.errors" class="invalid-feedback">
              <div *ngIf="f.checklistId.errors.required">Subgroup is required</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>