<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
              Reports
            </li>
            <li class="breadcrumb-item active">Protocol/QIP Not finialise</li>
          </ol>
        </div>
      </div>
      <div class="main-header_createview">

        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Protocol/QIP Not finialise</h1>
          </div>
        </div>
      </div>

      <div class="right-side-create-view ">
        <div class="create-content-operations">
          <button type="button" data-toggle="modal" data-target="#exampleModal">Update Days</button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Days</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="">Protocol Not Finialised : Trade started but protocol not finalised</label><br>
                <label for="">No Of Days:</label>
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="form-group col-md-6">
          <label>Project Name</label>
          <select class="form-control">
            <option [value]="0" [selected]="true">Please Select</option>
            <option [value]="project.projectId" *ngFor="let project of projects">
              {{project.projectName}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label>Status</label>
          <select class="form-control">
            <option [value]="" [selected]="true">Please Select</option>
            <option [value]="s.id" *ngFor="let s of status">
              {{s.value}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-12">
          <button class="btn btn-primary" (click)="search()">
            <span *ngIf="load" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!load">Search</span>
          </button>
        </div>
      </div>



      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" class="row-border hover"
            style="width:100%">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Trade Name</th>
                <th>Trade Starting Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <button class="badge badge-primary mr-1" style="border: none;">Send</button>
                  <button class="badge badge-danger mr-1" style="border: none;">Not Send</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>