<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">

      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Inspector Declaration</li>
          </ol>
        </div>
      </div>

      <div class="main-view">
        <h4>{{userData.userFullName}}</h4>

        <div class="inspector-list mt-5">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover inspector_list_table" style="width:100%">
            <thead>
              <tr>
                <th>Sr no</th>
                <th>Project Name</th>
                <th>My Action</th>
                <th>DTM Action</th>
                <th>Date</th>
                <th>Declaration</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userDetails">
                <td>{{user.srNo}}</td>
                <td>{{user.projectName}}</td>
                <td>
                  <span *ngIf="user.userStatus == null || user.userStatus == 0" class="badge badge-primary">New</span>
                  <span *ngIf="user.userStatus == 1" class="badge badge-success">Accepted</span>
                  <span *ngIf="user.userStatus == 2" class="badge badge-danger">Declined</span>
                </td>
                <td>
                  <span *ngIf="user.dtmStatus == null || user.dtmStatus == 0" class="badge badge-warning">Pending</span>
                  <span *ngIf="user.dtmStatus == 1" class="badge badge-success">Accepted</span>
                  <span *ngIf="user.dtmStatus == 2" class="badge badge-danger">Declined</span>
                </td>
                <td>{{user.trainingDate ? user.trainingDate : ''}}</td>
                <td>
                  <button class="btn btn-sm btn-dark m-0" data-toggle="modal" data-target="#declaration-view"
                    (click)="getUserDetails(user.userId, user.projectId)">View</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- MODALS -->

  <!-- declaration view modal DTM site -->
  <div class="modal fade" id="declaration-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen w-100 h-100 modal-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Declaration {{userData.userFullName}}</h5>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="userDetailsLoad then thenUserDetails else elseUserDetails"></div>
        <ng-template #thenUserDetails>
          <div class="userdeailsload">
            <div class="spinner-border text-warning" role="status">
            </div>
          </div>
        </ng-template>
        <ng-template #elseUserDetails>
          <div class="modal-body modal-full-body">
            <div class="declaration-from-main" id="table">
              <div class="declaration-from-content">
                <div class="form-heading">
                  <h2>Declaration Form</h2>
                  <img src="assets/images/cqra-logo-s-1.png" alt="logo">
                </div>

                <div class="form-heading mt-2">
                  <h5>Team Declaration</h5>
                  <h5>Date: 24/02/2024</h5>
                </div>

                <div class="form-heading mt-2">
                  <h5>User Name: {{userData.userFullName}}</h5>
                </div>

                <div class="mt-2">
                  <p>We the following members hereby declare that we and our blood relatives had/have no
                    formal/informal/personal role/relationship with the above-mentioned construction project in any form
                    with
                    respect to its design, manufacture / construction, supply, installation, purchase, ownership and use
                    or
                    maintenance of the items being inspected</p>

                  <p>We confirm that we have not inspected this project for another contractor service provider to
                    client
                    for
                    last three moriths</p>

                  <p>We shall not accept any kind of gift/inducement in any manner from client/contractor</p>

                  <p>We are committed to follow Impartiality during inspection and are committed to maintain
                    confidentiality of
                    all information obtained or created during the inspection</p>

                  <p>We confirm to have no current association as well as no past association for last two years with
                    client
                    /Vendor /Supplier/contractor/Service provider to client of this project</p>
                </div>

                <table class="table table-bordered mt-3">
                  <thead>
                    <tr>
                      <th scope="col">Sr no</th>
                      <th scope="col">Client Name</th>
                      <th scope="col">Project Name</th>
                      <th scope="col">Approve </th>
                      <th scope="col">Signature</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let userDetail of userDeclaration">
                      <th scope="row">1</th>
                      <td>{{userDetail.clientName}}</td>
                      <td>{{userDetail.projectName}}</td>
                      <td>
                        <div>

                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" [title]="1"
                              id="inlineRadio1" value="option1"
                              (change)="toggleComment(userDetail.projectId,'show', $event)">
                            <label class="form-check-label" for="inlineRadio1">Accept</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" [title]="2"
                              id="inlineRadio2" value="option2"
                              (change)="toggleComment(userDetail.projectId,'show', $event)">
                            <label class="form-check-label" for="inlineRadio2">Decline</label>
                          </div>

                          <!-- <span class="badge badge-secondary mx-1" [title]="1" role="button"
                            (click)="toggleComment(userDetail.projectId,'show', $event)">Accept</span>

                          <span class="badge badge-secondary mx-1" [title]="2" role="button"
                            (click)="toggleComment(userDetail.projectId,'show', $event)">Decline</span> -->

                          <div [class]="'comment-box comment-box-hide comment-box-'+userDetail.projectId">
                            <input type="text" [class]="'comment-'+userDetail.projectId" placeholder="comment..">
                            <button class="badge badge-secondary" role="button"
                              (click)="toggleComment(userDetail.projectId, 'hide', $event)">Close</button>
                          </div>
                        </div>
                      </td>
                      <td>
                        <img [src]="userData.sign" height="100px" width="100px" alt="Signature">
                      </td>
                    </tr>

                  </tbody>
                </table>

                <div class="mt-3">
                  <h5>Review</h5>

                  <p>Whether involved in any other service for this project giving solutions to specific
                    defects-(Yes/No)
                  </p>

                  <p>Whether qualified and competent to carry out inspection for this project as per authorization
                    matrix
                    (Yes/
                    No)</p>
                </div>

                <div class="mt-5">
                  <p>(Sign of Technical Manager/Director)</p>
                </div>

              </div>

            </div>
          </div>
        </ng-template>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" (click)="submitDeclarationFromInspector()">
            <div *ngIf="declarationLoad" class="spinner-border spinner-border-sm" role="status"></div>
            <span  *ngIf="!declarationLoad">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>



  <app-footer></app-footer>