<app-header></app-header>

<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-breadcrames">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Create Sangging Report</li>
        </ol>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create Snagging Report</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">

        <form [formGroup]="snaggingReportFrom" (ngSubmit)="onSubmit()">
          <div class="row">

            <div class="form-group col-md-4">
              <label>Select MasterId</label>
              <select class="form-control col-md-12" formControlName="masterId" (change)="getMasterDetails($event)">
                <option [value]="''">Select Master ID</option>
                <option [value]="id.masterId" *ngFor="let id of masterIds">{{id.masterId}}</option>
              </select>
            </div>
            
            <div class="form-group col-md-4">
              <label>Select Client</label>
              <select [(ngModel)]="SelClientId" formControlName="clientId" class="form-control"
                (change)="getProjects()">
                <option [value]="0">Please Select</option>
                <option [value]="client.clientId" *ngFor="let client of clients">
                  {{client.clientName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Project Name</label>
              <select [(ngModel)]="SelProjectId" formControlName="schemeId" class="form-control"
                (change)="getStructures()">
                <option [value]="0">Please Select</option>
                <option [value]="project.projectId" *ngFor="let project of projects">
                  {{project.projectName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Structure Name</label>
              <div class="card col-md-12" style="height: 150px; overflow-y: auto;">
                <div class="form-check" *ngFor="let s of structures">
                  <input class="form-check-input" (change)="addStrucure($event)" type="checkbox" [value]="s.structureId"
                    [id]="'structure'+s.structureId"
                    [checked]="structureList.includes(s.structureId)">
                  <label class="form-check-label" [for]="'structure'+s.structureId">
                    {{s.structureName}}
                  </label>
                </div>
              </div>
              <!-- <label>Structure Name</label>
              <select [(ngModel)]="SelstructureId" formControlName="structureId" class="form-control" multiple>
                <option [value]="0">Please Select</option>
                <option [value]="o.structureId" *ngFor="let o of structures">
                  {{o.structureName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div> -->
            </div>
            <div class="form-group col-md-4">
              <label>Trade</label>
              <div class="card col-md-12" style="height: 150px; overflow-y: auto;">
                <div class="form-check" *ngFor="let trade of trades">
                  <input class="form-check-input" (change)="addTrade($event)" type="checkbox" [value]="trade.fkTradeId"
                    [id]="'trade'+trade.fkTradeId"
                    [checked]="tradeList.includes(trade.fkTradeId)">
                  <label class="form-check-label" [for]="'trade'+trade.fkTradeId">
                    {{trade.tradeName}}
                  </label>
                </div>
              </div>
              <!-- <select formControlName="tradeId" class="form-control" multiple>
                <option [value]="trade.fkTradeId" *ngFor="let trade of trades">
                  {{trade.tradeName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div> -->
            </div>
            <div class="form-group col-md-4">
              <label>Contractor</label>
              <div class="card col-md-12" style="height: 150px; overflow-y: auto;">
                <div class="form-check" *ngFor="let contractor of contractors">
                  <input class="form-check-input" (change)="addContractor($event)" type="checkbox" [value]="contractor.contractorId"
                    [id]="'contractor'+contractor.contractorId"
                    [checked]="contractorList.includes(contractor.contractorId)">
                  <label class="form-check-label" [for]="'contractor'+contractor.contractorId">
                    {{contractor.contractorName}}
                  </label>
                </div>
              </div>
              <!-- <select [(ngModel)]="SelContractor" formControlName="clientRep" class="form-control" multiple>
                <option [value]="contractor.contractorId" *ngFor="let contractor of contractors">
                  {{contractor.contractorName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div> -->
            </div>

            <div class="form-group col-md-4">
              <label>Assessment Date</label>
              <input type="date" class="form-control" formControlName="assessmentDate">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>NABC Report </label>
              <select formControlName="nabc" class="form-control">
                <option [value]="0" [selected]="0">Please select</option>
                <option [value]="1">With NABCB</option>
                <option [value]="2">Without NABCB</option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>NABC Note </label>
              <select formControlName="nabcNote" class="form-control">
                <option [selected]="0">Please select</option>
                <option [value]="1">Conlusion NABL lab</option>
                <option [value]="2">Conlusion Non NABL lab</option>
                <option [value]="3">None/option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Date From:</label>
              <input type="date" class="form-control" formControlName="fromDate">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Date To:</label>
              <input type="date" class="form-control" formControlName="toDate">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Approver: </label>
              <select formControlName="approverId" class="form-control">
                <option [value]="user.id" *ngFor="let user of approvers">
                  {{user.userFullName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Approve Design: </label>
              <input type="text" class="form-control" formControlName="approverDesign">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Reviewer: </label>
              <select formControlName="reviewerId" class="form-control">
                <option [value]="user.id" *ngFor="let user of reviwers">
                  {{user.userFullName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Reviewer Design: </label>
              <input type="text" class="form-control" formControlName="reviewerDesign">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Creater Name: </label>
              <select formControlName="createrId" class="form-control">
                <option [value]="user.id" *ngFor="let user of creaters">
                  {{user.userFullName}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Create Design: </label>
              <input type="text" class="form-control" formControlName="createrName">
              <div class="invalid-feedback">
              </div>
            </div>


            <div class="form-group col-md-4">
              <label>Report Header: </label>
              <input type="text" class="form-control" formControlName="reportHeader">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Image 1: </label>
              <input type="file" class="form-control" formControlName="image1">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Image 2: </label>
              <input type="file" class="form-control" formControlName="image1">
              <div class="invalid-feedback">
              </div>
            </div>


            <div class="form-group col-md-4">
              <label>Cycle of Inpection: </label>
              <select formControlName="cycleId" class="form-control">
                <option [value]="cycle.cycle_id" *ngFor="let cycle of cycleOfInspection">
                  {{cycle.cycle_name}}
                </option>
              </select>
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Type of Project: </label>
              <input type="text" class="form-control" formControlName="typeOfReport">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>UIC no: </label>
              <input type="text" class="form-control" formControlName="uicNo">
              <div class="invalid-feedback">
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Index: </label>
              <input type="text" class="form-control" formControlName="saIndex">
              <div class="invalid-feedback">
              </div>
            </div>
          </div>



          <div class="form-group">
            <button class="btn btn-primary">
              <span *ngIf="loadBtn" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="!loadBtn">Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- add Popup design -->
<app-snack-bar></app-snack-bar>
<app-footer></app-footer>