<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Client Staff</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/clientStaff">Manage Client Staff</a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create Client </h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="clientStaffForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-4">
              <label for="fname" class="col-sm-3 col-form-label">Client</label>
              <select class="form-control" formControlName="clientId" [(ngModel)]="SelClientId" (change)="getProjects()"
                [ngClass]="{ 'is-invalid': submitted && f.clientId.errors }">
                <option [value]="0">Please Select</option>
                <option [value]="o.clientId" *ngFor="let o of clients">
                  {{o.clientName}}
                </option>
              </select>
              <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
                <div *ngIf="f.clientId.errors.required">Client is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="fname" class="col-sm-3 col-form-label">Project</label>
              <select class="form-control" formControlName="schemeId"
                [ngClass]="{ 'is-invalid': submitted && f.schemeId.errors }">
                <option [value]="0">Please Select</option>
                <option [value]="o.projectId" *ngFor="let o of projects">
                  {{o.projectName}}
                </option>
              </select>
              <!-- <div *ngIf="submitted && f.schemeId.errors" class="invalid-feedback">
              <div *ngIf="f.schemeId.errors.required">Project is required</div>
            </div> -->
            </div>
            <div class="form-group col-md-4">
              <label>Client Person</label>
              <input type="text" formControlName="clientName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
              <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                <div *ngIf="f.clientName.errors.required">Address is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Degignation</label>
              <input type="text" formControlName="designation" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
              <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                <div *ngIf="f.designation.errors.required">Contact Person is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Email</label>
              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Phone</label>
              <input type="text" formControlName="phone" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Phone number is required</div>
                <div *ngIf="f.phone.errors">Must be 10 character</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="common-ul-li-drop">
                <div class="form-group px-0">
                  <label for="fname" class="col-sm-3 col-form-label">Level</label>
                  <select class="form-control" formControlName="level"
                    [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                    <option [value]="0" selected>Please Select Level</option>
                    <option [value]="1">Level 0</option>
                    <option [value]="2">Level 1</option>
                    <option [value]="3">Level 2</option>
                    <option [value]="4">Level 3</option>
                  </select>
                  <div *ngIf="submitted && f.level.errors" class="invalid-feedback">
                    <div *ngIf="f.level.errors.required">Email is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div *ngIf="isbtnLoading; then btnthenBlock else elsebtnBlock"></div>
            <ng-template #btnthenBlock>
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </ng-template>
            <ng-template #elsebtnBlock>
              <button type="submit" class="btn btn-primary">Save</button>
            </ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>