/* .multiple-checkbox{
    height: 100px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
    border-radius: 5px;
    padding: 1rem;
  }
  .multiple-checkbox > input{
    margin: 1rem;
  } */


  .userdeailsload{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

.modal-body {
    max-height: 300px;
    overflow-y: auto;
}