<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create User</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/users">Manage User</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create User</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-4">
              <label>Representing Type</label>
              <select [(ngModel)]="representingType" formControlName="representingTypeId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.representingTypeId.errors }" (change)="getRepresentors()">
                <option [value]="1" [selected]="1">CQRA</option>
                <option [value]="2">Client</option>
                <option [value]="3">Contractor</option>
                <option [value]="4">PMC</option>
                <option [value]="5">Other</option>
              </select>
              <div *ngIf="submitted && f.representingTypeId.errors" class="invalid-feedback">
                <div *ngIf="f.representingTypeId.errors.required">Representor Type is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Representor</label>
              <select formControlName="representingId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.representingId.errors }">
                <option [selected]="true">Select Representor</option>
                <option [value]="user.id" *ngFor="let user of representator">
                  {{user.name}}
                </option>
              </select>
              <div *ngIf="submitted && f.representingId.errors" class="invalid-feedback">
                <div *ngIf="f.representingId.errors.required">Representor is required</div>
              </div>
            </div>

            <div class="form-group col-md-4" *ngIf="showCadre">
              <label>CADRE</label>
              <select formControlName="cadre" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.cadre.errors }">
                <option [selected]="1">Select CADRE</option>
                <option [value]="'m1'">M1</option>
                <option [value]="'m2'">M2</option>
                <option [value]="'m3'">M3</option>
                <option [value]="'m4'">M4</option>
                <option [value]="'m5'">M5</option>
                <option [value]="'c1'">C1</option>
                <option [value]="'c2'">C2</option>
                <option [value]="'c3'">C3</option>
                <option [value]="'o1'">O1</option>
                <option [value]="'o2'">O2</option>
                <option [value]="'o3'">O3</option>
                <option [value]="'o4'">O4</option>
                <option [value]="'t1'">T1</option>
                <option [value]="'t2'">T2</option>
              </select>

            </div>

            <div class="form-group col-md-4" *ngIf="showCadre">
              <label>CQRA Employee Id</label>
              <input type="text" formControlName="empolyeeId" class="form-control">
            </div>

            <div class="form-group col-md-4">
              <label>User Name</label>
              <input type="text" formControlName="userFullName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.userFullName.errors }" />
              <div *ngIf="submitted && f.userFullName.errors" class="invalid-feedback">
                <div *ngIf="f.userFullName.errors.required">User Full Name is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Login Name</label>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Login Name is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Password</label>
              <input type="text" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Designation</label>
              <input type="text" formControlName="designation" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
              <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                <div *ngIf="f.designation.errors.required">Designation is required</div>
              </div>
            </div>

            <div class="form-group col-md-4" *ngIf="showCadre">
              <label>Department</label>
              <select formControlName="department" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
                <option [selected]="true">Select Department</option>
                <option [value]="1">Administrative</option>
                <option [value]="2">Billing(QS)</option>
                <option [value]="3">Central Audit Team</option>
                <option [value]="4">Digital Marketing</option>
                <option [value]="5">Finance</option>
                <option [value]="6">Human Resource</option>
                <option [value]="7">Management & Operation</option>
                <option [value]="8">Marketing</option>
                <option [value]="9">MEP Operations</option>
                <option [value]="10">Operations</option>
                <option [value]="11">Quality Operations</option>
                <option [value]="12">RMC Operations</option>
                <option [value]="13">Safety</option>
              </select>
              <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                <div *ngIf="f.department.errors.required">User Type is required</div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Contact No.</label>
              <input type="text" formControlName="mobile" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Contact number is required</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Email ID</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Must be email.</div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>User Type</label>
              <select formControlName="userType" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.userType.errors }">
                <option [value]="'empty'">Please Select</option>
                <option [value]="'WD'">Both</option>
                <option [value]="'D'">Device</option>
                <option [value]="'W'">Web</option>
              </select>
              <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                <div *ngIf="f.userType.errors.required">User Type is required</div>
              </div>
            </div>
            <div class="form-group col-md-4" *ngIf="showCadre">
              <label>Role</label>
              <select formControlName="roleId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }">
                <option [value]="role.id" *ngFor="let role of roles">{{role.name}}</option>
              </select>
              <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
                <div *ngIf="f.roleId.errors.required">Role is required</div>
              </div>
            </div>

            <div class="form-group col-md-4" *ngIf="showCadre">
              <label>Region</label>
              <div class="card col-md-12">
                <div class="card-body" style="height: 10rem; overflow-y: auto;">
                  <div class="form-check" *ngFor="let region of regions">
                    <input class="form-check-input" type="checkbox" [value]="region.regionId" 
                    [id]="'regionCheck'+region.regionId" (change)="addRegionToList($event)"
                    [checked]="userRegions[region.regionId]">
                    <label class="form-check-label" [for]="'regionCheck'+region.regionId">
                      {{region.regionName}}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4" *ngIf="showCadre">
              <label>Date OF join</label>
              <input type="date" class="form-control" formControlName="dateOfJoining">
              <div *ngIf="submitted && f.dateOfJoining.errors" class="invalid-feedback">
                <div *ngIf="f.dateOfJoining.errors.required">Role is required</div>
              </div>
            </div>
          </div>


          <!-- <mat-form-field appearance="fill">
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field appearance="fill">
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field> -->


          <div class="row d-flex" *ngIf="showCadre">
            <div class="form-group col-md-4">
              <div class="card col-md-12">
                <div class="card-body">
                  <input type="checkbox" formControlName="approverN" [value]="0" id="approvercheck"
                    class="form-check-input" />
                  <label class="form-check-label" for="approvercheck">Approver</label>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="card col-md-12" for="reviwerCheck">
                <div class="card-body">
                  <input type="checkbox" formControlName="reviewerN" [value]="1" class="form-check-input"
                    id="reviwerCheck" />
                  <label class="form-check-label" for="reviwerCheck">Reviewer</label>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="card col-md-12">
                <div class="card-body">
                  <input type="checkbox" formControlName="createrN" [value]="2" class="form-check-input"
                    id="creatorCheck" />
                  <label class="form-check-label" for="creatorCheck">Site Admin</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row d-flex" *ngIf="showCadre">
            <div class="form-group col-md-3">
              <div class="card col-md-12">
                <div class="card-body">
                  <input type="checkbox" formControlName="l0" [value]="0" class="form-check-input" id="l0" />
                  <label class="form-check-label" for="l0">L0</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="card col-md-12">
                <div class="card-body">
                  <input type="checkbox" formControlName="l1" [value]="1" class="form-check-input" id="l1" />
                  <label class="form-check-label" for="l1">L1</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="card col-md-12">
                <div class="card-body">
                  <input type="checkbox" formControlName="l2" [value]="2" class="form-check-input" id="l2" />
                  <label class="form-check-label" for="l2">L2</label>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="card col-md-12">
                <div class="card-body">
                  <input type="checkbox" formControlName="l3" [value]="3" class="form-check-input" id="l3" />
                  <label class="form-check-label" for="l3">L3</label>
                </div>
              </div>
            </div>
          </div>


          <div class="row">

            <div class="form-group col-md-4">
              <label>Signature</label>
              <input type="file" id="userSign" formControlName="userImage" class="form-control" />
            </div>

            <div class="form-group col-md-4">
              <label>Profile</label>
              <input type="file" id="profile" formControlName="profile" class="form-control" />
            </div>

          </div>

          <div class="form-group" *ngIf="!showCadre">
            <button class="btn btn-sm btn-primary" type="button" data-toggle="modal"
              data-target="#new-trade-user">Assign
              Projects</button>

            <div class="modal fade" id="new-trade-user" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Projects</h5>
                    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div *ngIf="isProjectLoad; then newTradeThen else newTradeElse"></div>
                    <ng-template #newTradeThen>
                      <div class="userdeailsload">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #newTradeElse>
                      <div class="form-check col-md-12" *ngFor="let project of projects">
                        <input class="form-check-input" (change)="addToProjectList($event)" type="checkbox"
                          [value]="project.projectId" id="flexCheckDefault"
                          [checked]="assignProjectObject[project.projectId] ? true: false">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{project.projectName}}
                        </label>
                      </div>
                    </ng-template>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-sm btn-success" (click)="saveAssignProjects()">Save</button>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="form-group col-md-4">
            <div *ngIf="isLoading; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </ng-template>
            <ng-template #elseBlock>
              <button type="submit" class="btn btn-primary">Save</button>
            </ng-template>

          </div>
        </form>


      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>