<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create User</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/users">Manage User</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create User</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Representing Type</label>
            <select [(ngModel)]="representingType" formControlName="userType" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.userType.errors }" (change)="getRepresentors()">
              <option [value]="1" [selected]="1">CQRA</option>
              <option [value]="2">Client</option>
              <option [value]="3">Contractor</option>
              <option [value]="4">PMC</option>
              <option [value]="4">Other</option>
            </select>
            <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
              <div *ngIf="f.userType.errors.required">User Type is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Representor</label>
            <select formControlName="userType" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.userType.errors }">
              <option [value]="client.clientId" *ngFor="let client of clients">
                {{client.clientName}}
              </option>
            </select>
            <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
              <div *ngIf="f.userType.errors.required">User Type is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>User Name</label>
            <input type="text" formControlName="userFullName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.userFullName.errors }" />
            <div *ngIf="submitted && f.userFullName.errors" class="invalid-feedback">
              <div *ngIf="f.userFullName.errors.required">User Full Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Login Name</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Login Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="text" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Designation</label>
            <input type="text" formControlName="designation" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
            <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
              <div *ngIf="f.designation.errors.required">Designation is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Contact No.</label>
            <input type="text" formControlName="mobile" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Contact number is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email ID</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Must be email.</div>
            </div>
          </div>
          <div class="form-group">
            <label>User Type</label>
            <select formControlName="userType" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.userType.errors }">
              <option [value]="'empty'">Please Select</option>
              <option [value]="'WD'">Both</option>
              <option [value]="'D'">Device</option>
              <option [value]="'W'">Web</option>
            </select>
            <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
              <div *ngIf="f.userType.errors.required">User Type is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Role</label>
            <select formControlName="roleId" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.roleId.errors }">
              <option [value]="0">Please Select</option>
              <option [value]="1">Admin </option>
              <option [value]="2">Supervisor or Engg</option>
            </select>
            <div *ngIf="submitted && f.roleId.errors" class="invalid-feedback">
              <div *ngIf="f.roleId.errors.required">Role is required</div>
            </div>
          </div>


          <!-- <mat-form-field appearance="fill">
            <mat-label>Toppings</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field> -->



          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Approver
                  <input type="checkbox" formControlName="approverN" [value]="0" class="form-control" /></label>
              </div>
            </div>
            <!-- [(ngModel)] = "SelRole" [ngModelOptions]="{standalone: true}" [value]="0" -->
            <div class="col-md-4">
              <div class="form-group">
                <label>Reviewer
                  <input type="checkbox" formControlName="reviewerN" [value]="1" class="form-control" /></label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Site Admin
                  <input type="checkbox" formControlName="createrN" [value]="2" class="form-control" /></label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Image1</label>
            <input type="file" formControlName="userImage" class="form-control" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>


      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>