<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Manage Question </h1>

            </div>
          </div>

          <div class="right-side-create-view ">
            <div class="create-content-operations">

              <a routerLink="/createQuestion/-1">
                <button type="button"> Create Question </button>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="card form-group m-2">
        <label class="col-md-12"><b>Filters</b></label>
        <div class="row col-md-12">

          <div class="form-group col-md-4" *ngIf="!showCadre">
            <label>Trade</label>
            <select class="form-control" [(ngModel)]="SelTrade" (change)="getSubgroups()">
              <option [value]="0" [selected]="true">Please Select</option>
              <option [value]="o.tardeId" *ngFor="let o of trades">
                {{o.tradeName}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="!showCadre">
            <label>Subgroup</label>
            <select class="form-control" [(ngModel)]="SelSubgroup" (change)="getQuestionGroup()">
              <option [value]="0" [selected]="true">Please Select</option>
              <option [value]="o.subgroupId" *ngFor="let o of subgroups">
                {{o.subgroupName}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="!showCadre">
            <label>Question Group</label>
            <select class="form-control" [(ngModel)]="SelQuestionGroup" (change)="getQuestionHeading()">
              <option [value]="0" [selected]="true">Please Select</option>
              <option [value]="o.questionGroupId" *ngFor="let o of questionGroups">
                {{o.questionGroupText}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="!showCadre">
            <label>Question Heading</label>
            <select class="form-control" [(ngModel)]="SelQuestionHeading">
              <option [value]="0" [selected]="true">Please Select</option>
              <option [value]="o.questionHeadingId" *ngFor="let o of questionHeading">
                {{o.questionHeadingText}}
              </option>
            </select>
          </div>

          <div class="form-group col-md-4" *ngIf="!showCadre">
            <label>Question Type</label>
            <select class="form-control" [(ngModel)]="SelQuestionType">
              <option [value]="0" [selected]="true">Please Select</option>
              <option [value]="1">Non-comformity/conformity</option>
              <option [value]="2">MCQ</option>
              <option [value]="3">n/m</option>
              <option [value]="4">n</option>
              <option [value]="5">nm ></option>
              <option [value]="6">nm < </option>
              <option [value]="7">External NC</option>
            </select>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-warning" (click)="filterQuestions()">
            <span *ngIf="!filterLoad">Display</span>
            <span *ngIf="filterLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>

      </div>


      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>

      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" class="row-border hover"
            style="width:100%">
            <thead>
              <tr>
                <th>Trade Name</th>
                <th>Subgroup Name</th>
                <th>Question Group</th>
                <th>Question Heading Group</th>
                <th>Question </th>
                <th>Actions </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of questions">
                <td>{{ client.tradeName }}</td>
                <td>{{ client.subgroupName }}</td>
                <td>{{ client.questionGroupText }}</td>
                <td>{{ client.questionHeadingText }}</td>
                <td>{{ client.questionText }}</td>
                <td>
                  <div class="action-commonview">
                    <button type="text" (click)="editQuestion(client.questionId)" class="edit-modal add-modal"
                      data-toggle="modal" data-target="#exampleModalCenter">
                      <span class="edit-tessst">
                        <i class="las la-pencil-alt"></i>
                      </span>
                    </button>

                    <button type="text" (click)="editforQuestion(client.questionId)" class="edit-modal add-modal"
                      data-toggle="modal" data-target="#exampleModalCenter">
                      <span class="edit-tessst">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </span>
                    </button>

                    <button type="text" (click)="deActivateQuestion(client.questionId)" class="Delete-modal">
                      <span class="edit-tessst">
                        <i class="lar la-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>