<app-header></app-header>
<div class="content-wrapper">
    <div class="container-fluid ">
      <div class="add-bg-here">
        <div class="add-container-viewcommon">
         <div class="add-breadcrames">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home </a>
              </li>
              <li class="breadcrumb-item active">Create Client</li>
            </ol>
         </div>
          <div class="right-side-create-view">
               <div class="create-content-operations">
                 <button type="button"> <a routerLink="/client">Manage Client </a> </button>
               </div>
            </div>
          </div>
         <div class="main-header_createview">
            <div class="left-side-header">
                <div class="create-content-header">
                  <h1> Create Client </h1>
                </div>
            </div>
         </div>
         <div class="create-viewform">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Client Name</label>
                <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
                <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                    <div *ngIf="f.clientName.errors.required">Client Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Client Code</label>
                <input type="text" formControlName="clientCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientCode.errors }" />
                <div *ngIf="submitted && f.clientCode.errors" class="invalid-feedback">
                    <div *ngIf="f.clientCode.errors.required">Client Code is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" formControlName="clientAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientAddress.errors }" />
                <div *ngIf="submitted && f.clientAddress.errors" class="invalid-feedback">
                    <div *ngIf="f.clientAddress.errors.required">Address is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Contact Person</label>
                <input type="text" formControlName="clientContactPerson" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientContactPerson.errors }" />
                <div *ngIf="submitted && f.clientContactPerson.errors" class="invalid-feedback">
                    <div *ngIf="f.clientContactPerson.errors.required">Contact Person is required</div>
                </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="clientEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientEmail.errors }" />
              <div *ngIf="submitted && f.clientEmail.errors" class="invalid-feedback">
                  <div *ngIf="f.clientEmail.errors.required">Email is required</div>
                  <div *ngIf="f.clientEmail.errors.email">Email must be a valid email address</div>
              </div>
          </div>
            <div class="form-group">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
         </div>
      </div>
    </div>
<app-footer></app-footer>