<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
       <div class="add-container-viewcommon">
         <div class="main-header_createview">
          <div class="left-side-header">
              <div class="create-content-header">
                <h1> Manage User Equipment </h1>
                
              </div>
          </div>
         <div class="right-side-create-view ">
             <div class="create-content-operations">
              <a routerLink="/createUserEquipment/-1"> 
                <button type="button"> Create User Equipment </button>
               </a>
             </div>
          </div>
        </div>
      </div>
    <div class="row m-0">
      <div class="col-xl-12 col-sm-12 mb-3">
           <!-- Example DataTables Card-->
          <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" id="customers" class="row-border hover" style="width:100%">
            <thead>
              <tr>
                <th>Description</th>
                <th>Remark</th>
                <th>Equipment Type</th>
                <th>Image 1</th>
                <th>Image 2</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>
  