<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create User Access</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <!-- <button type="button"> <a routerLink="/userAccess">Manage User Access</a></button> -->
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create User Access</h1>
          </div>
        </div>
      </div>

      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>

      <div class="create-viewform">
        <form [formGroup]="accessFrom" (submit)="onSubmit()">
          <!-- <div class="form-group">
            <label>Users</label>
            <select [(ngModel)]="SelUser" class="form-control" formControlName="pkUserId" (change)="getUserAccess()">
              <option [value]="1">Select user</option>
              <option [value]="user.userId" *ngFor="let user of users">{{user.userFullName}}</option>
            </select>
          </div> -->
          <hr>
          <div class="row ml-4 my-3">
            <input type="checkbox" class="btn-check mb-1" id="btn-check-outlined" autocomplete="off">
            <label class="label" for="btn-check-outlined">Select All </label><br>
          </div>
          <h5>User Maintainance</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" formControlName="roleMenu" type="checkbox" [value]="1"
                  id="roleMenu" [checked]="userMenu.roleMenu" (change)="addCheckMenu($event)">
                <label class="form-check-label" for="roleMenu">
                  Role
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" formControlName="userMenu" type="checkbox" [value]="1"
                  id="userMenu" [checked]="userMenu.userMenu">
                <label class="form-check-label" for="userMenu">
                  CQRA User
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="manageUserAccessMenu"
                  fromControlName="manageUserAccessMenu" [value]="1" id="manageUserAccessMenu"
                  [checked]="userMenu.manageUserAccessMenu">
                <label class="form-check-label" for="manageUserAccessMenu">
                  Manage CQRA User Access
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="userAllocationMenu" [value]="1"
                  id="userAllocationMenu" [checked]="userMenu.userAllocationMenu">
                <label class="form-check-label" for="userAllocationMenu">
                  CQRA User Allocation
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="mockupMenu" [value]="1"
                  id="mockupMenu" [checked]="userMenu.mockupMenu">
                <label class="form-check-label" for="mockupMenu">
                  CQRA Mockup Allocation
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="clientStaffMenu" [value]="1"
                  id="clientStaffMenu" [checked]="userMenu.clientStaffMenu">
                <label class="form-check-label" for="clientStaffMenu">
                  Client Person
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="inductionMenu" [value]="1"
                  id="inductionMenu" [checked]="userMenu.inductionMenu">
                <label class="form-check-label" for="inductionMenu">
                  Client Engeneer's induction
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="contractorMenu" [value]="1"
                  id="contractorMenu" [checked]="userMenu.contractorMenu">
                <label class="form-check-label" for="contractorMenu">
                  Contractor
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="supervisorMenu" [value]="1"
                  id="supervisorMenu" [checked]="userMenu.supervisorMenu">
                <label class="form-check-label" for="supervisorMenu">
                  Contractor Supervisor
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="foremanMenu" [value]="1"
                  id="foremanMenu" [checked]="userMenu.foremanMenu">
                <label class="form-check-label" for="foremanMenu">
                  Contractor Foreman
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="assignContractor" [value]="1"
                  id="assignContractor" [checked]="userMenu.assignContractor">
                <label class="form-check-label" for="assignContractor">
                  Assign Contractor Supervisor
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="assignContractor" [value]="1"
                  id="assignContractor" [checked]="userMenu.assignContractor">
                <label class="form-check-label" for="assignContractor">
                  Assign Contractor Foreman
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [value]="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Sampling
                </label>
              </div>
            </div>

          </div>

          <h5 class="mt-3">Master Maintainance</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="clientMenu" [value]="1"
                  id="clientMenu" [checked]="userMenu.clientMenu">
                <label class="form-check-label" for="clientMenu">
                  Client
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="schemeMenu" [value]="1"
                  id="schemeMenu" [checked]="userMenu.schemeMenu">
                <label class="form-check-label" for="schemeMenu">
                  Project
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="buildingMenu" [value]="1"
                  id="buildingMenu" [checked]="userMenu.buildingMenu">
                <label class="form-check-label" for="buildingMenu">
                  Structure
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="floorMenu" [value]="1"
                  id="floorMenu" [checked]="userMenu.floorMenu">
                <label class="form-check-label" for="floorMenu">
                  Stages
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="cis" [value]="1" id="cis"
                  [checked]="userMenu.cis">
                <label class="form-check-label" for="cis">
                  Change Image
                </label>
              </div>
            </div>

          </div>

          <h5 class="mt-3">Trade Maintainance</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="tradeGroup" [value]="1"
                  id="tradeGroup" [checked]="userMenu.tradeGroup">
                <label class="form-check-label" for="tradeGroup">
                  Trade Group
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="tradeMenu" [value]="1"
                  id="tradeMenu" [checked]="userMenu.tradeMenu">
                <label class="form-check-label" for="tradeMenu">
                  Trade
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="subgroupMenu" [value]="1"
                  id="subgroupMenu" [checked]="userMenu.subgroupMenu">
                <label class="form-check-label" for="subgroupMenu">
                  Subgroup
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="questionGroupMenu" [value]="1"
                  id="questionGroupMenu" [checked]="userMenu.questionGroupMenu">
                <label class="form-check-label" for="questionGroupMenu">
                  Question Group
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="questionHeadingMenu" [value]="1"
                  id="questionHeadingMenu" [checked]="userMenu.questionHeadingMenu">
                <label class="form-check-label" for="questionHeadingMenu">
                  Quesstion Heading
                </label>
              </div>
            </div>

            <!-- <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [value]="1" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Question Title
                </label>
              </div>
            </div> -->

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="questionMenu" [value]="1"
                  id="questionMenu" [checked]="userMenu.questionMenu">
                <label class="form-check-label" for="questionMenu">
                  Question
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="checklistGenerationMenu" [value]="1"
                  id="checklistGenerationMenu" [checked]="userMenu.checklistGenerationMenu">
                <label class="form-check-label" for="checklistGenerationMenu">
                  Checklist
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="queView" [value]="1"
                  id="queView" [checked]="userMenu.queView">
                <label class="form-check-label" for="queView">
                  Question View
                </label>
              </div>
            </div>

          </div>



          <h5 class="mt-3">Report</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="kickoffMenu" [value]="1"
                  id="kickoffMenu" [checked]="userMenu.kickoffMenu">
                <label class="form-check-label" for="kickoffMenu">
                  Kickoff Meeting
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qualityIpMenu" [value]="1"
                  id="qualityIpMenu" [checked]="userMenu.qualityIpMenu">
                <label class="form-check-label" for="qualityIpMenu">
                  Quality Inspection Parameter
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qpaMenu" [value]="1"
                  id="qpaMenu" [checked]="userMenu.qpaMenu">
                <label class="form-check-label" for="qpaMenu">
                  Qaulity Procedure Ammendement
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="trainingMenu" [value]="1"
                  id="trainingMenu" [checked]="userMenu.trainingMenu">
                <label class="form-check-label" for="trainingMenu">
                  Training
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="logMenu" [value]="1"
                  id="logMenu" [checked]="userMenu.logMenu">
                <label class="form-check-label" for="logMenu">
                  User log
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qur" [value]="1" id="qur"
                  [checked]="userMenu.qur">
                <label class="form-check-label" for="qur">
                  Quality Update Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qrr" [value]="1" id="qrr"
                  [checked]="userMenu.qrr">
                <label class="form-check-label" for="qrr">
                  Quality Review Report (R0)
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="nc" [value]="1" id="nc"
                  [checked]="userMenu.nc">
                <label class="form-check-label" for="nc">
                  Edit Nc
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qrr1" [value]="1" id="qrr1"
                  [checked]="userMenu.qrr1">
                <label class="form-check-label" for="qrr1">
                  Quality Review Report (R1)
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncco1" [value]="1"
                  id="ncco1" [checked]="userMenu.ncco1">
                <label class="form-check-label" for="ncco1">
                  NC Count and Observation Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qi" [value]="1" id="qi"
                  [checked]="userMenu.qi">
                <label class="form-check-label" for="qi">
                  Quality Index Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="gdremark" [value]="1"
                  id="gdremark" [checked]="userMenu.gdremark">
                <label class="form-check-label" for="gdremark">
                  Edit Good Work Practices
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="schemeMomMenu" [value]="1"
                  id="schemeMomMenu" [checked]="userMenu.schemeMomMenu">
                <label class="form-check-label" for="schemeMomMenu">
                  Minute of Meeting
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qualityRecommendation" [value]="1"
                  id="qualityRecommendation" [checked]="userMenu.qualityRecommendation">
                <label class="form-check-label" for="qualityRecommendation">
                  Quality Recommendation
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="methodStatementMenu" [value]="1"
                  id="methodStatementMenu" [checked]="userMenu.methodStatementMenu">
                <label class="form-check-label" for="methodStatementMenu">
                  Method Statement
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="addExt" [value]="1"
                  id="addExt" [checked]="userMenu.addExt">
                <label class="form-check-label" for="addExt">
                  Add NC
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncClosureMenu" [value]="1"
                  id="ncClosureMenu" [checked]="userMenu.ncClosureMenu">
                <label class="form-check-label" for="ncClosureMenu">
                  NC Closure Procedure
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncr" [value]="1" id="ncr"
                  [checked]="userMenu.ncr">
                <label class="form-check-label" for="ncr">
                  NC Count Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncStatusMenu" [value]="1"
                  id="ncStatusMenu" [checked]="userMenu.ncStatusMenu">
                <label class="form-check-label" for="ncStatusMenu">
                  NC Status
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="nccloseHistory" [value]="1"
                  id="nccloseHistory" [checked]="userMenu.nccloseHistory">
                <label class="form-check-label" for="nccloseHistory">
                  NC Closure History
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="nclogMenu" [value]="1"
                  id="nclogMenu" [checked]="userMenu.nclogMenu">
                <label class="form-check-label" for="nclogMenu">
                  NC Log
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="misLink" [value]="1"
                  id="misLink" [checked]="userMenu.misLink">
                <label class="form-check-label" for="misLink">
                  MIS
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="deletedNcMenu" [value]="1"
                  id="deletedNcMenu" [checked]="userMenu.deletedNcMenu">
                <label class="form-check-label" for="deletedNcMenu">
                  Deleted NC's
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="downloadReports" [value]="1"
                  id="downloadReports" [checked]="userMenu.downloadReports">
                <label class="form-check-label" for="downloadReports">
                  Download Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="sar" [value]="1" id="sar"
                  [checked]="userMenu.sar">
                <label class="form-check-label" for="sar">
                  Snap Audit Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="iu" [value]="1" id="iu"
                  [checked]="userMenu.iu">
                <label class="form-check-label" for="iu">
                  Image Upload
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="momlog" [value]="1"
                  id="momlog" [checked]="userMenu.momlog">
                <label class="form-check-label" for="momlog">
                  MOM Log
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="rgct" [value]="1" id="rgct"
                  [checked]="userMenu.rgct">
                <label class="form-check-label" for="rgct">
                  Red Green card token
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="hi" [value]="1" id="hi"
                  [checked]="userMenu.hi">
                <label class="form-check-label" for="hi">
                  HomeInspection Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qos " [value]="1" id="qos"
                  [checked]="userMenu.qos">
                <label class="form-check-label" for="qos">
                  Quality Observation Summary
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncClosureMenu1" [value]="1"
                  id="ncClosureMenu1" [checked]="userMenu.ncClosureMenu1">
                <label class="form-check-label" for="ncClosureMenu1">
                  Nc Closure Menu 1
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="misLinkNew" [value]="1"
                  id="misLinkNew" [checked]="userMenu.misLinkNew">
                <label class="form-check-label" for="misLinkNew">
                  Observation summary report (Phoenix)
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="mirLink" [value]="1"
                  id="mirLink" [checked]="userMenu.mirLink">
                <label class="form-check-label" for="mirLink">
                  Audit Observation report (Rheonix)
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncBeanCreaterNew" [value]="1"
                  id="ncBeanCreaterNew" [checked]="userMenu.ncBeanCreaterNew">
                <label class="form-check-label" for="ncBeanCreaterNew">
                  NC Closure(R1)
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncBeanReviewerNew" [value]="1"
                  id="ncBeanReviewerNew" [checked]="userMenu.ncBeanReviewerNew">
                <label class="form-check-label" for="ncBeanReviewerNew">
                  NC Reviewwer(R1)
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncBeanApproverNew" [value]="1"
                  id="ncBeanApproverNew" [checked]="userMenu.ncBeanApproverNew">
                <label class="form-check-label" for="ncBeanApproverNew">
                  NC Approver(R1)
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="webCard" [value]="1"
                  id="webCard" [checked]="userMenu.webCard">
                <label class="form-check-label" for="webCard">
                  Web cart
                </label>
              </div>
            </div>
          </div>


          <h3 class="row">Audit Report</h3>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="aSnapAudit" [value]="1"
                  id="aSnapAudit" [checked]="userMenu.aSnapAudit">
                <label class="form-check-label" for="aSnapAudit">
                  Snap Audit
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="aQualityIndex" [value]="1"
                  id="aQualityIndex" [checked]="userMenu.aQualityIndex">
                <label class="form-check-label" for="aQualityIndex">
                  Qaulity index
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="aHomeInspect" [value]="1"
                  id="aHomeInspect" [checked]="userMenu.aHomeInspect">
                <label class="form-check-label" for="aHomeInspect">
                  Home inspect
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="aDownloadReport" [value]="1"
                  id="aDownloadReport" [checked]="userMenu.aDownloadReport">
                <label class="form-check-label" for="aDownloadReport">
                  Download Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="aInspectReport" [value]="1"
                  id="aInspectReport" [checked]="userMenu.aInspectReport">
                <label class="form-check-label" for="aInspectReport">
                  Inspection Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncBeanCreater" [value]="1"
                  id="ncBeanCreater" [checked]="userMenu.ncBeanCreater">
                <label class="form-check-label" for="ncBeanCreater">
                  NC Closure Sa
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncBeanReviewer" [value]="1"
                  id="ncBeanReviewer" [checked]="userMenu.ncBeanReviewer">
                <label class="form-check-label" for="ncBeanReviewer">
                  NC Reviewer SA
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ncBeanApprover" [value]="1"
                  id="ncBeanApprover" [checked]="userMenu.ncBeanApprover">
                <label class="form-check-label" for="ncBeanApprover">
                  NC Approvar Sa
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="clientDash" [value]="1"
                  id="clientDash" [checked]="userMenu.clientDash">
                <label class="form-check-label" for="clientDash">
                  Client Dashboard
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="aHomeInspect1" [value]="1"
                  id="aHomeInspect1" [checked]="userMenu.aHomeInspect1">
                <label class="form-check-label" for="aHomeInspect1">
                  SifnOff report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="wash" [value]="1" id="wash"
                  [checked]="userMenu.wash">
                <label class="form-check-label" for="wash">
                  Inspection Survey Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="qipr" [value]="1" id="qipr"
                  [checked]="userMenu.qipr">
                <label class="form-check-label" for="qipr">
                  Qaulity and quantity assessment report KSA
                </label>
              </div>
            </div>
          </div>


          <h5 class="row">EXT Alert</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="pnf" [value]="1" id="pnf"
                  [checked]="userMenu.pnf">
                <label class="form-check-label" for="pnf">
                  Trade Started but QIP
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="mnp" [value]="1" id="mnp"
                  [checked]="userMenu.mnp">
                <label class="form-check-label" for="mnp">
                  Trade satrted but Mockup
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="sfa" [value]="1" id="sfa"
                  [checked]="userMenu.sfa">
                <label class="form-check-label" for="sfa">
                  Contractor Supervisor/Foreman Changed
                </label>
              </div>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" fromControlName="nnc" [value]="1" id="nnc"
                [checked]="userMenu.nnc">
              <label class="form-check-label" for="nnc">
                NC not closed
              </label>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ra" [value]="1" id="ra"
                  [checked]="userMenu.ra">
                <label class="form-check-label" for="ra">
                  Nc's Red Alert
                </label>
              </div>
            </div>

          </div>


          <h5 class="row">INT Alert</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ta" [value]="1" id="ta"
                  [checked]="userMenu.ta">
                <label class="form-check-label" for="ta">
                  Trade Started but training
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="ma" [value]="1" id="ma"
                  [checked]="userMenu.ma">
                <label class="form-check-label" for="ma">
                  Trade Started but Mockup
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="pat" [value]="1" id="pat"
                  [checked]="userMenu.pat">
                <label class="form-check-label" for="pat">
                  Traning given without QIP
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="pam" [value]="1" id="pam"
                  [checked]="userMenu.pam">
                <label class="form-check-label" for="pam">
                  Mockup done without OIP
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="tam" [value]="1" id="tam"
                  [checked]="userMenu.tam">
                <label class="form-check-label" for="tam">
                  Mockup done without Traning
                </label>
              </div>
            </div>
          </div>


          <h5 class="row">Client Access</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="clientMis" [value]="1"
                  id="clientMis" [checked]="userMenu.clientMis">
                <label class="form-check-label" for="clientMis">
                  Client MIS Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="clientNcr" [value]="1"
                  id="clientNcr" [checked]="userMenu.clientNcr">
                <label class="form-check-label" for="clientNcr">
                  Client NC Closure
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="clientDr" [value]="1"
                  id="clientDr" [checked]="userMenu.clientDr">
                <label class="form-check-label" for="clientDr">
                  Client Download Report
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="aorClientReport" [value]="1"
                  id="aorClientReport" [checked]="userMenu.aorClientReport">
                <label class="form-check-label" for="aorClientReport">
                  Observation Tracker Closure Report (CLient)
                </label>
              </div>
            </div>

          </div>

          <h5 class="row">Client Access</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="dtmDeclaration" [value]="1"
                  id="dtmDeclaration" [checked]="userMenu.dtmDeclaration">
                <label class="form-check-label" for="dtmDeclaration">
                  DTM Declaration
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="inspectorDeclaration" [value]="1"
                  id="inspectorDeclaration" [checked]="userMenu.inspectorDeclaration">
                <label class="form-check-label" for="inspectorDeclaration">
                  Inspector Declaration
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="newInsTraining" [value]="1"
                  id="newInsTraining" [checked]="userMenu.newInsTraining">
                <label class="form-check-label" for="newInsTraining">
                  New Inspector Training
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="underInsTraining" [value]="1"
                  id="underInsTraining" [checked]="userMenu.underInsTraining">
                <label class="form-check-label" for="underInsTraining">
                  Inspector Training
                </label>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" fromControlName="preSnapAuditForm" [value]="1"
                  id="preSnapAuditForm" [checked]="userMenu.preSnapAuditForm">
                <label class="form-check-label" for="preSnapAuditForm">
                  Pre Snapaudit Form
                </label>
              </div>
            </div>

          </div>

          <div class="form-group mt-4">
            <button class="btn btn-primary">
              <span *ngIf="userAllocationLoad" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              <span *ngIf="!userAllocationLoad">Save</span>
            </button>
          </div>

          <app-snack-bar></app-snack-bar>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>