<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create First Note</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/firstNote/' + snapAuditId">Manage First Note </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create First Note</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="firstNoteForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Note</label>
            <input type="text" formControlName="firstNoteText" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstNoteText.errors }" />
            <div *ngIf="submitted && f.firstNoteText.errors" class="invalid-feedback">
              <div *ngIf="f.firstNoteText.errors.required">Note is required</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary mt-1">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>