<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="main-header_createview">
          <div class="left-side-header">
            <div class="create-content-header">
              <h1> Manage Client Staff </h1>

            </div>
          </div>

          <div class="right-side-create-view ">
            <div class="create-content-operations">
              <a routerLink="/createclientStaff/-1">
                <button type="button"> Create Client Staff </button>
              </a>
            </div>
          </div>
        </div>
      </div>



      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>

      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" class="row-border hover"
            style="width:100%">
            <thead>
              <tr>

                <th>Staff Name</th>
                <th>Project Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Level</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let staff of staffData">

                <td>{{ staff.clientName }}</td>
                <td>{{ staff.projectName }}</td>
                <td>{{ staff.email }}</td>
                <td>{{ staff.phone }}</td>
                <td>{{ staff.level }}</td>
                <td>
                  <div class="action-commonview">
                    <button type="text" (click)="editClientStaff(staff.clientStaffId)" class="edit-modal add-modal"
                      data-toggle="modal" data-target="#exampleModalCenter">
                      <span class="edit-tessst">
                        <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                      </span>
                    </button>
                    <button *ngIf="staff.isActive" type="text"
                      style="width: 20px; display: flex; justify-content: center;"
                      (click)="deActivateUser(staff.clientStaffId)" class="Delete-modal">
                      <span class="edit-tessst">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </button>
                    <button *ngIf="!staff.isActive" type="text"
                      style="width: 20px; display: flex; justify-content: center;"
                      (click)="activateUser(staff.clientStaffId)" class="Delete-modal text-primary">
                      <span class="edit-tessst">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>

        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>