<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Manage Activity Not Available During Inspection</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a
                [routerLink]="'/createActivityNotAvailableDuringInspection/'+snapAuditId+'/-1'">Create Activity</a>
            </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Manage Activity Not Available During Inspection</h1>
          </div>
        </div>
      </div>
      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>
      <div class="row m-0">
        <div class="col-xl-12 col-sm-12 mb-3">
          <!-- Example DataTables Card-->
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers" class="row-border hover"
            style="width:100%">
            <thead>
              <tr>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of activityData">
                <td>{{activity.description}}</td>
                <!-- <td>{{ getContractorName(client.contractorId) }}</td> -->
                <td>
                  <div class="action-commonview">
                    <button type="text" class="edit-modal add-modal" data-toggle="modal"
                      data-target="#exampleModalCenter" (click)="editInspaectionActivity(activity.activiteId)">
                      <span class="edit-tessst">
                        <i class="las la-pencil-alt"></i>
                      </span>
                    </button>
                    <button type="text" class="Delete-modal">
                      <span class="edit-tessst">
                        <i class="lar la-trash-alt"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>

          </table>

        </div>


      </div>
      <!-- Example DataTables Card-->

    </div>
  </div>
  <app-footer></app-footer>