<app-header></app-header>
<div class="content-wrapper">
    <div class="container-fluid ">
      <div class="add-bg-here">
        <div class="add-container-viewcommon">
         <div class="add-breadcrames">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home </a>
              </li>
              <li class="breadcrumb-item active">Create Contractor</li>
            </ol>
         </div>
          <div class="right-side-create-view">
               <div class="create-content-operations">
                 <button type="button"> <a routerLink="/contractor">Manage Contractor </a> </button>
               </div>
            </div>
          </div>
         <div class="main-header_createview">
            <div class="left-side-header">
                <div class="create-content-header">
                  <h1> Create Contractor </h1>
                </div>
            </div>
         </div>
         <div class="create-viewform">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Client Name</label>
              <select  [(ngModel)]="SelClientId" formControlName="clientId"  class="form-control"> 
                  <option  [value]="0">Please Select</option>
                  <option [value]="o.clientId" *ngFor="let o of clients">
                    {{o.clientName}}
                  </option>
              </select>
              <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
                  <div *ngIf="f.clientId.errors.required">Client Name is required</div>
              </div>
          </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="contractorName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.contractorName.errors }" />
                <div *ngIf="submitted && f.contractorName.errors" class="invalid-feedback">
                    <div *ngIf="f.contractorName.errors.required">Contractor Name is required</div>
                </div>
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea formControlName="contarctorAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contarctorAddress.errors }" ></textarea>
              <div *ngIf="submitted && f.contarctorAddress.errors" class="invalid-feedback">
                  <div *ngIf="f.contarctorAddress.errors.required">Address is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" formControlName="contarctorEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contarctorEmail.errors }" />
              <div *ngIf="submitted && f.contarctorEmail.errors" class="invalid-feedback">
                  <div *ngIf="f.contarctorEmail.errors.required">Email is required</div>
                  <div *ngIf="f.contarctorEmail.errors.email">Email must be a valid email address</div>
              </div>
          </div>
          <div class="form-group">
            <label>Phone No</label>
            <input type="text" formControlName="contarctorPhone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contarctorPhone.errors }" />
            <div *ngIf="submitted && f.contarctorPhone.errors" class="invalid-feedback">
                <div *ngIf="f.contarctorPhone.errors.required">Phone number is required</div>
                <div *ngIf="f.contarctorPhone.errors">Must be 10 char</div>

            </div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary">Save</button>
          </div>
        </form>
         </div>
      </div>
    </div>
<app-footer></app-footer>