<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Assessor Name</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/assessorName/'+snapAuditId">Manage Assessor Name </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create Assessor Name</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="assessorForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Assessor Name</label>
            <input type="text" formControlName="assessordName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.assessordName.errors }" />
            <div *ngIf="submitted && f.assessordName.errors" class="invalid-feedback">
              <div *ngIf="f.assessordName.errors.required">Client Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>