<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create User Allocation</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button" class="manage-btn"><a routerLink="/users">Manage User Allocation</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create User Allocation</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="userAllocationForm" (ngSubmit)="onSubmit()" class="row">
          <div class="form-group col-md-6">
            <label>User</label>
            <select [(ngModel)]="SelUser" formControlName="userId" class="form-control" (change)="getProjectByuser($event)">
              <option [value]="o.id" *ngFor="let o of userList">
                {{o.userFullName}}
              </option>
            </select>
            <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
              <div *ngIf="f.userId.errors.required">User is required</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Project Name</label>
            <select [(ngModel)]="SelProject" formControlName="projectId" class="form-control" (change)="getStructure()">
              <option [value]="project.projectId" *ngFor="let project of projects">
                {{project.projectName}}
              </option>
            </select>
            <div *ngIf="submitted && f.selProject.errors" class="invalid-feedback">
              <div *ngIf="f.selProject.errors.required">Project is required</div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Structure Name</label>
            <select [(ngModel)]="SelStructure" formControlName="structureId" class="form-control"
              (change)="getStages()">
              <option [value]="0">Please Select</option>
              <option [value]="o.structureId" *ngFor="let o of structures">
                {{o.structureName}}
              </option>
            </select>
            <div *ngIf="submitted && f.selStructure.errors" class="invalid-feedback">
              <div *ngIf="f.selStructure.errors.required">Structure is required</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Trade Name</label>
            <select [(ngModel)]="SelTrade" formControlName="tradeId" class="form-control" (change)="getChecklist()">
              <option [value]="o.tradeId"*ngFor="let o of approvedTrades">
                {{o.tradeName}}
              </option>
            </select>
            <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
              <div *ngIf="f.clientId.errors.required">Trade Group is required</div>
            </div>
          </div>

          <div class="row col-md-12">

            <div class="form-group col-md-3">
              <label>Select Stages</label>
              <div *ngIf="stageLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let o of stages">
                  <input class="form-check-input stagesCheckbox" type="checkbox" [value]="o.stageId"
                    [id]="'stage'+o.stageId" (change)="addStages($event)" [checked]="this.selectedData.hasOwnProperty(o.stageId)">
                  <!-- <input class="form-check-input" type="checkbox" id="moveStage"> -->

                  <label [class]="currentStage == o.stageId ? 'form-check-label t-bold':'form-check-label'" role="button" (click)="showunits(o.stageId)">{{o.stageName}}</label>
                </div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label>Select Unit</label>
              <div *ngIf="unitLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div  class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllUnitCheckbox($event)">
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>
                <div class="form-check" *ngFor="let o of units">
                  <input class="form-check-input unitsCheckbox" type="checkbox" [value]="o.unitId"
                    [id]="'unit'+o.unitId" (change)="addUnitToStage($event)" [checked]="this.selectedData[currentStage] && this.selectedData[currentStage].hasOwnProperty(o.unitId)">
                  <!-- <input class="form-check-input" type="checkbox" id="moveUnit"> -->
                  <label [class]="currentUnit == o.unitId ? 'form-check-label t-bold':'form-check-label'"
                    (click)="showSubunits(o.unitId)" role="button">{{o.unitName}}</label>
                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>



            <div class="form-group col-md-3">
              <label>Select Subunit</label>
              <div *ngIf="subunitLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div class="ckechbox-select">
                <div class="form-check" *ngIf="stages">
                  <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox"
                    (change)="selectAllSubUnitCheckbox($event)"
                    >
                  <!-- <input class="form-check-input" type="checkbox" id="move"> -->
                  <label class="form-check-label" for="flexCheckDefault">Select All</label>
                </div>

                <div>
                  <div class="form-check" *ngFor="let o of subunits">
                    <input class="form-check-input subUnitsCheckbox" type="checkbox" [value]="o.subunitId"
                          [id]="'subunit'+o.subunitId" (change)="addSubunit($event)" [checked]="this.selectedData[currentStage] && this.selectedData[currentStage][[currentUnit]] && this.selectedData[currentStage][currentUnit].includes(o.subunitId)">
                    <label class="form-check-label">{{o.subunitName}}</label>
                  </div>
                </div>
              </div>
              <div class="invalid-feedback">
              </div>
            </div>


            <div class="form-group col-md-3">
              <label>Select Checklist</label>
              <div *ngIf="subunitLoad" class="userdeailsload row d-flex justify-content-center ckechbox-select">
                <div class="spinner-border text-warning" role="status">
                </div>
              </div>
              <div class="ckechbox-select">
                <div class="form-group col-md-4">
                  <div class="form-check" *ngIf="stages">
                    <input class="form-check-input" type="checkbox" id="selectAllTradeCheckbox">
                    <!-- <input class="form-check-input" type="checkbox" id="move"> -->
                    <label class="form-check-label" for="flexCheckDefault">Select All</label>
                  </div>
    
                  <div class="col-md-12">
                    <div class="form-check col-md-12" *ngFor="let o of checklists">
                      <input class="form-check-input subUnitsCheckbox" 
                      [id]="'checklist'+o.checkistIdChecklist" type="checkbox" [value]="o.checkistIdChecklist" (change)="addChecklist($event)" [checked]="checkListMap[o.checkistIdChecklist]">
                      <label class="form-check-label" [for]="'checklist'+o.checkistIdChecklist">{{o.checklistNameChecklist}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="form-group col-md-3">
            <div *ngIf="isbtnLoading; then btnthenBlock else elsebtnBlock"></div>
            <ng-template #btnthenBlock>
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </ng-template>
            <ng-template #elsebtnBlock>
              <button type="submit" class="btn btn-primary">Save</button>
            </ng-template>

          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>