<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Contractor Supervisor</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/contractorSupervisor/'+contractorId">Manage Contractor Supervisor
              </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create Contractor Supervisor</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="supervisorForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-md-6">
              <label>Contractor Name</label>
              <select formControlName="contractorId" class="form-control">
                <option [value]="0">Please Select</option>
                <option [value]="o.contractorId" *ngFor="let o of clients">
                  {{o.contractorName}}
                </option>
              </select>
              <div *ngIf="submitted && f.contractorId.errors" class="invalid-feedback">
                <div *ngIf="f.contractorId.errors.required">Contractor is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Name</label>
              <input type="text" formControlName="supervisorName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.supervisorName.errors }" />
              <div *ngIf="submitted && f.supervisorName.errors" class="invalid-feedback">
                <div *ngIf="f.supervisorName.errors.required">Supervisor Name is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>