<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Create Training</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/trade">Manage Training</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create Training</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Client</label>
            <select  [(ngModel)]="SelClient" formControlName="selClient"  class="form-control"> 
                <option  [value]="0">Please Select</option>
                <option [value]="o.selClient" *ngFor="let o of clients">
                  {{o.clientName}}
                </option>
            </select>
            <div *ngIf="submitted && f.selClient.errors" class="invalid-feedback">
                <div *ngIf="f.selClient.errors.required">Client Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Project</label>
            <select  [(ngModel)]="SelProject" formControlName="selProject" class="form-control" > 
                <option  [value]="0">Please Select</option>
                <option  [value]="1">Both</option>
                <option  [value]="2">Device</option>
                <option  [value]="3">Web</option>
            </select>
            <div *ngIf="submitted && f.selProject.errors" class="invalid-feedback">
                <div *ngIf="f.selProject.errors.required">Project is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Trade</label>
            <select  [(ngModel)]="SelTrade" formControlName="selTrade" class="form-control" > 
                <option  [value]="0">Please Select</option>
                <option  [value]="1">Both</option>
                <option  [value]="2">Device</option>
                <option  [value]="3">Web</option>
            </select>
            <div *ngIf="submitted && f.selTrade.errors" class="invalid-feedback">
                <div *ngIf="f.selTrade.errors.required">Project is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Trainer Name </label>
            <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
            <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                <div *ngIf="f.clientName.errors.required">Trainer Name  is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Training Topic </label>
            <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
          </div>
          <div class="form-group">
            <label>Training Duration </label>
            <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
          </div>
          <div class="form-group">
            <label>Training Date </label>
            <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
            <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
              <div *ngIf="f.clientName.errors.required">Training Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Image 1 </label>
            <input type="file" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
          </div>
          <div class="form-group">
            <label>Image 2</label>
            <input type="file" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
          </div>
          <div class="form-group">
            <label>Other Attendees</label>
            <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
          </div>
          <div class="form-group">
            <label>Contractor Name1</label>
            <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
          </div>
          
          <table border="1" datatable id="customers" class="row-border hover" style="width:100%">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Client Person</th>
                <th>Designation</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" /></td>
                <td><input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" /></td>
                <td><button class="btn btn-danger">Add Row</button></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table border="1" datatable id="customers" class="row-border hover" style="width:100%">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Contractor Person</th>
                <th>Designation</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" /></td>
                <td><input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" /></td>
                <td><button class="btn btn-danger">Add Row</button></td>
              </tr>
            </tbody>
          </table>
          <br>
          <div class="form-group">
            <button class="btn btn-primary">View PDF Report</button>&nbsp;
            <button class="btn btn-primary">Mail PDF</button>&nbsp;
          </div>
        </form>
      </div>
    </div>
  </div>
<app-footer></app-footer>