<app-header></app-header>

<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-breadcrames">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Create WBS</li>
        </ol>
      </div>
      <div *ngIf="isLoading; then thenBlock"></div>
      <ng-template #thenBlock>
        <app-loader></app-loader>
      </ng-template>
      <div class="main-header_createview">
        <div class="col-sm-9 px-0">
          <div class="form-group row">
            <label for="fname" class="col-sm-3 col-form-label">Client</label>
            <div class="col-sm-8 common-ul-li-drop">
              <div class="form-group px-0">
                <select [(ngModel)]="SelClientId" #clientId (change)="getProjects();">
                  <option [value]="0">Please Select</option>
                  <option [value]="o.clientId" *ngFor="let o of clients">
                    {{o.clientName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="fname" class="col-sm-3 col-form-label">Project</label>
            <div class="col-sm-8 common-ul-li-drop">
              <div class="form-group px-0">
                <select [(ngModel)]="SelProjectId" #projectId (change)="getStructures();">
                  <option [value]="0">Please Select</option>
                  <option [value]="o.projectId" *ngFor="let o of projects">
                    {{o.projectName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <div class="row m-0">
          <div class="col-sm-3">
            <div class="project-view-list">
              <div class="st-structure-common">
                <h2> Structure</h2>
              </div>
              <div class="structure-createview new">

                <div *ngIf="loadStructure" class="text-center">
                  <div class="spinner-border" role="status">
                  </div>
                </div>

                <div *ngIf="!loadStructure">
                  <div class="oneLine" *ngFor="let name of structures">
                    <label>
                      <input type="checkbox" [name]="name.structureId"
                        (change)="isChangeLimitAccessToggle($event,name.structureId)"
                        [disabled]="isChecked && (isCheckedName!=name.structureId)">
                      {{name.structureName}}
                    </label>
                  </div>
                </div>

              </div>
              <div class="common-view-edit-delete my-1">
                <button class="common-bnts add-view" [disabled]="isChecked" data-toggle="modal" data-target="#add-view"
                  (click)="changeStatus(1)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button class="common-bnts edit-view" [disabled]="!isChecked" data-toggle="modal"
                  data-target="#edit-view" (click)="changeStatus(0)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="common-bnts delete-view" [disabled]="!isChecked" (click)="deleteStructure()">
                  <span *ngIf="deleteStructureLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <i *ngIf="!deleteStructureLoad" class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-view-list">
              <div class="st-structure-common">
                <h2> Stage</h2>
              </div>
              <div class="structure-createview new">
                <div *ngIf="loadStages" class="text-center">
                  <div class="spinner-border" role="status">
                  </div>
                </div>
                <div *ngIf="!loadStages">
                  <div class="oneLine" *ngFor="let o of stages">
                    <label>
                      <input type="checkbox" id=st{{o.stageId}} name={{o.stageId}}
                        (change)="isstageSelectionchange($event,o.stageId)">
                      {{o.stageName}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="common-view-edit-delete my-1">
                <span class="common-bnts add-view" data-toggle="modal" data-target="#add-edit-stage"
                  (click)="changeStatus(1)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <span class="common-bnts edit-view" data-toggle="modal" data-target="#add-edit-stage"
                  (click)="changeStatus(0)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <span class="common-bnts delete-view" (click)="deleteStage()">
                  <span *ngIf="deleteStageLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <i *ngIf="!deleteStageLoad" class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-view-list">
              <div class="st-structure-common">
                <h2> Unit</h2>
              </div>
              <div class="structure-createview new">
                <div *ngIf="loadUnit" class="text-center">
                  <div class="spinner-border" role="status">
                  </div>
                </div>
                <div *ngIf="!loadUnit">
                  <div class="oneLine" *ngFor="let o of units">
                    <label>
                      <input type="checkbox" id=st{{o.unitId}} name={{o.unitId}}
                        (change)="isUnitSelectionchange($event,o.unitId)">
                      {{o.unitName}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="common-view-edit-delete my-1">
                <span class="common-bnts add-view" data-toggle="modal" data-target="#add-edit-unit"
                  (click)="changeStatus(1)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <span class="common-bnts edit-view" data-toggle="modal" data-target="#add-edit-unit"
                  (click)="changeStatus(0)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <span class="common-bnts delete-view" (click)="deleteUnit()">
                  <span *ngIf="deleteUnitLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <i *ngIf="!deleteUnitLoad"  class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="project-view-list">
              <div class="st-structure-common">
                <h2> Sub-Unit</h2>
              </div>
              <div class="structure-createview new">
                <div *ngIf="loadSubunit" class="text-center">
                  <div class="spinner-border" role="status">
                  </div>
                </div>
                <div *ngIf="!loadSubunit">
                  <div class="oneLine" *ngFor="let o of subunits">
                    <label>
                      <input type="checkbox" id=st{{o.subunitId}} name={{o.subunitId}}
                        (change)="isSubunitSelectionchange($event,o.subunitId)">
                      {{o.subunitName}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="common-view-edit-delete my-1">
                <span class="common-bnts add-view" data-toggle="modal" data-target="#add-edit-subunit"
                  (click)="changeStatus(1)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                <span class="common-bnts edit-view" data-toggle="modal" data-target="#add-edit-subunit"
                  (click)="changeStatus(0)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <span class="common-bnts delete-view" (click)="deleteSubunit()">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Add</h5>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="strctureForm" (ngSubmit)="onStructureSubmit()">
          <div class="add-grid-from">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Structure Name:</label>
                  <input type="text" (ngModel)="structureName" formControlName="structureName" #structureName
                    placeholder="Structure Name" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Structure Code:</label>
                  <input type="text" #structureCode formControlName="structureCode" placeholder="Structure Code"
                    class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Structure Area:</label>
                  <input type="number" #structureCode formControlName="structureArea" placeholder="100000 sq"
                    class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">
                <span *ngIf="loadStructureSubmit" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span *ngIf="!loadStructureSubmit">Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- add Popup design -->
<!-- Modal -->
<div class="modal fade" id="edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="strctureForm" (ngSubmit)="onStructureSubmit()">
          <div class="add-grid-from">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Structure Name:</label>
                  <input type="text" (ngModel)="structureName" formControlName="structureName" #structureName
                    placeholder="Structure Name" id="user">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Structure Code:</label>
                  <input type="text" #structureCode formControlName="structureCode" placeholder="Structure Code"
                    id="user" class="form-control">
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Structure Area:</label>
                  <input type="number" #structureCode formControlName="structureArea" placeholder="100000 sq" id="user"
                    class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">
                <span *ngIf="loadStructureSubmit" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span *ngIf="!loadStructureSubmit">Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- add Popup design -->




<!-- STAGE ADD/EDIT MODAL -->
<div class="modal fade" id="add-edit-stage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Add Stage</h5>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="stageForm" (ngSubmit)="onStageSubmit()">
          <div class="add-grid-from">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Stage Name:</label>
                  <input type="text" formControlName="stageName" placeholder="Stage Name" id="user"
                    class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Stage area:</label>
                  <input type="number" formControlName="stageArea" placeholder="10000 sqft" class="form-control">
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="chechbox"
                    (change)="showBulkOption($event)">
                  <label class="form-check-label" for="flexCheckDefault">Add Bulk</label>
                </div>
                <div class="form-group d-flex d-hidden bulkAdd">
                  <div class="col-md-5">
                    <label class="form-check-label" for="flexCheckDefault">From:</label>
                    <input class="form-control" type="number" value="" id="flexCheckDefault"
                      formControlName="stageFrom">
                  </div>

                  <div class="col-md-5">
                    <label class="form-check-label" for="flexCheckDefault">To:</label>
                    <input class="form-control" type="number" value="" id="flexCheckDefault" formControlName="stageTo">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">
                <span *ngIf="loadStageSubmit" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span *ngIf="!loadStageSubmit">Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- STAGE ADD/EDIT MODAL -->


<!-- UNIT ADD/EDIT MODAL -->
<div class="modal fade" id="add-edit-unit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Add Unit</h5>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="unitForm" (ngSubmit)="onUnitSubmit()">
          <div class="add-grid-from">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">Unit Name:</label>
                  <input type="text" formControlName="unitName" placeholder="Unit Name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">Unit area:</label>
                  <input type="number" formControlName="unitArea" placeholder="100000 sqft" class="form-control">
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="chechbox"
                    (change)="showBulkOption($event)">
                  <label class="form-check-label" for="flexCheckDefault">Add Bulk</label>
                </div>
                <div class="form-group d-flex d-hidden bulkAdd">
                  <div class="col-md-5">
                    <label class="form-check-label" for="flexCheckDefault">From:</label>
                    <input class="form-control" type="number" value="" id="flexCheckDefault" formControlName="unitFrom">
                  </div>

                  <div class="col-md-5">
                    <label class="form-check-label" for="flexCheckDefault">To:</label>
                    <input class="form-control" type="number" value="" id="flexCheckDefault" formControlName="unitTo">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">

                <span *ngIf="loadUnitSubmit" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span *ngIf="!loadUnitSubmit">Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- UNIT ADD/EDIT MODAL -->


<!-- SUBUNIT ADD/EDIT MODAL -->
<div class="modal fade" id="add-edit-subunit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Add SubUnit</h5>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subunitForm" (ngSubmit)="onSubunitSubmit()">
          <div class="add-grid-from">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="email">subunit Name:</label>
                  <input type="text" formControlName="subunitName" placeholder="Subunit Name" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email">subunit Area:</label>
                  <input type="number" formControlName="subunitArea" placeholder="10000 sqft" class="form-control">
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="chechbox"
                    (change)="showBulkOption($event)">
                  <label class="form-check-label" for="flexCheckDefault">Add Bulk</label>
                </div>
                <div class="form-group d-flex d-hidden bulkAdd">
                  <div class="col-md-5">
                    <label class="form-check-label" for="flexCheckDefault">From:</label>
                    <input class="form-control" type="number" value="" id="flexCheckDefault"
                      formControlName="subunitFrom">
                  </div>

                  <div class="col-md-5">
                    <label class="form-check-label" for="flexCheckDefault">To:</label>
                    <input class="form-control" type="number" value="" id="flexCheckDefault"
                      formControlName="subunitTo">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">

                <span *ngIf="loadSubunitSubmit" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span *ngIf="!loadSubunitSubmit">Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- SUBUNIT ADD/EDIT MODAL -->
<app-footer></app-footer>