  select{
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    display: inline-block;
    
  }

  oneLine {
    display: block;
}
.d-hidden{
  /* display: hidden; */
  display: none !important;
}
