.table {
    width: 100vw;
}

.table table{
    width: 76%;
}
.table table th {
    background-color: lightgrey;
    border: 1px solid black;
}
tr td{
    border: 1px solid black;
    padding: 0;
}

td span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 2px 5px;
    height: 50px !important;


}
.btn-span{
    display: flex !important;
    flex-direction: row !important;
}
.btn-span button{
    height: 30px;
}

.floor-list{
    display: flex;
}

.floor-list h6{
    font-size: 12px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 2px;
}