<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Sampling Step 3</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a [routerLink]="'/sampling'">Manage Sampling </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Sampling Step 3</h1>
          </div>
        </div>
      </div>

      <div class="create-viewform">
        <div class="form">
          <div class="form-group">
            <label>Project Name</label>
            <select [(ngModel)]="SelProject" class="form-control" (change)="getStructure()">
              <option [value]="project.projectId" *ngFor="let project of projects">
                {{project.projectName}}
              </option>
            </select>

          </div>
          <div class="form-group">
            <label>Structure Name</label>
            <select [(ngModel)]="SelStructure" class="form-control">
              <option [value]="0">Please Select</option>
              <option [value]="o.structureId" *ngFor="let o of structures">
                {{o.structureName}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Cycle of Inspection</label>
            <select [(ngModel)]="Selcycle" class="form-control">
              <option [value]="0">Please Select</option>
              <option [value]="o.cycle_id" *ngFor="let o of cycles">
                {{o.cycle_name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>From date</label>
            <input type="date" class="form-control" [(ngModel)]="fromDate">
          </div>
          <div class="form-group">
            <label>To date</label>
            <input type="date" class="form-control" [(ngModel)]="toDate">
          </div>

          <div class="form-group my-2">
            <button class="btn btn-success">Get</button>
          </div>
        </div>


        <div *ngIf="samplingType==1; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <div class="table">
            <table>
              <thead>
                <th>Group Name</th>
                <th>trades</th>
                <th>From</th>
                <th>To</th>
                <th>More</th>
                <th>Sampled unit</th>
                <th>Add</th>
                <th>No of Sampled unit</th>
                <th>Random Sampling</th>
                <th>Sampled Area</th>
              </thead>
              <tbody>

                <tr *ngFor="let t of testTG">
                  <td>{{t.tradegroupName}}</td>
                  <td style="width: 10%;">
                    <span class="trades" *ngFor="let trade of testTrade[t.id]"
                      [attr.title]="trade.tradeId">{{trade.tradeNane}}</span>
                  </td>
                  <td>
                    <span *ngFor="let trade of testTrade[t.id]">{{stageData[trade.tradeId] &&
                      stageData[trade.tradeId][0].stageName}}</span>
                  </td>
                  <td>
                    <span *ngFor="let trade of testTrade[t.id]">{{stageData[trade.tradeId] &&
                      stageData[trade.tradeId][stageData[trade.tradeId].length- 1].stageName}}</span>
                  </td>
                  <td>
                    <span *ngFor="let trade of testTrade[t.id]" class="btn-span">
                      <button type="button" class="btn btn-sm btn-primary h-2 py-0">+</button>
                      <button type="button" class="btn btn-sm btn-warning h-2">-</button>
                    </span>
                  </td>
                  <td style="width: 5%;">
                    <span [class]="'percentageCount_'+trade.tradeId" [attr.title]="persentageData[trade.tradeId]"
                      *ngFor="let trade of testTrade[t.id]">{{persentageData[trade.tradeId]+' %'}}</span>
                  </td>
                  <td>
                    <span *ngFor="let trade of testTrade[t.id]" class="btn-span">
                      <button type="button" class="btn btn-sm btn-primary h-2 py-0"
                        (click)="addPersentage(trade.tradeId)">+</button>
                      <button type="button" class="btn btn-sm btn-warning h-2"
                        (click)="lessPersentage(trade.tradeId)">-</button>
                    </span>
                  </td>
                  <td style="width: 5%;">
                    <span *ngFor="let trade of testTrade[t.id]">{{sampledUnitnumber[trade.tradeId]}}</span>
                  </td>
                  <td style="width: 5%;">
                    <span *ngFor="let trade of testTrade[t.id]">
                      <button type="button" class="btn btn-sm btn-secondary p-0 m-0"
                        (click)="getRandomStage(trade.tradeId)">Get Random</button>
                    </span>
                  </td>
                  <td tyle="width: 20%;">
                    <span *ngFor="let trade of testTrade[t.id]">
                      <div class="floor-list" *ngIf="randomSampledArea[trade.tradeId]">
                        <h6 *ngFor="let stage of randomSampledArea[trade.tradeId]">{{stage.stageName}}</h6>
                      </div>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="form-group my-2">
              <button class="btn btn-success" (click)="submitStep3Data()">Save</button>
            </div>
          </div>
        </ng-template>


        <ng-template #elseBlock>
          <div class="table" *ngFor="let data of type2step3data | keyvalue">
            <h2 class="contractorId" [attr.title]="data.key">{{data.value.contractorName}}</h2>
            <input type="hidden" [id]="'staffId_'+data.key" [value]="data.value.staffId">
            <table>
              <thead>
                <!-- <th>Group Name</th> -->
                <th>trades</th>
                <th>From</th>
                <th>To</th>
                <th>More</th>
                <th>Sampled unit</th>
                <th>Add</th>
                <th>No of Sampled unit</th>
                <th>Random Sampling</th>
                <th>Sampled Area</th>
              </thead>
              <tbody>

                <tr *ngFor="let t of type2step3data[data.key].samplingData">
                  <td style="width: 10%;" class="type2trades" [attr.title]="t.tradeId">{{t.tradeId}}</td>
                  <td>
                    {{type2StageData[data.key][t.tradeId][0].stageName}}
                  </td>
                  <td>
                    {{type2StageData[data.key][t.tradeId][type2StageData[data.key][t.tradeId].length -1 ].stageName}}
                  </td>
                  <td>
                    <!-- <span *ngFor="let trade of testTrade[t.id]" class="btn-span"> -->
                    <button type="button" class="btn btn-sm btn-primary h-2 py-0">+</button>
                    <button type="button" class="btn btn-sm btn-warning h-2">-</button>
                    <!-- </span> -->
                  </td>
                  <td style="width: 5%;">
                    <span [class]="'percentageCount_'+t.tradeId"
                      [attr.title]="type2PersentageData[data.key][t.tradeId]">{{type2PersentageData[data.key][t.tradeId]+'
                      %'}}</span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-primary h-2 py-0"
                      (click)="type2addPersentage(data.key, t.tradeId)">+</button>
                    <button type="button" class="btn btn-sm btn-warning h-2 py-0"
                      (click)="type2lessPersentage(data.key, t.tradeId)">-</button>
                  </td>
                  <td style="width: 5%;">
                    {{ type2SampledUnitnumber[data.key][t.tradeId]}}
                  </td>
                  <td style="width: 5%;">
                    <button type="button" class="btn btn-sm btn-secondary p-0 m-0"
                      (click)="type2GetRandomStage(data.key, t.tradeId)">Get Random</button>
                  </td>
                  <td tyle="width: 20%;">
                    <div class="floor-list" *ngIf="type2RandomSampledArea[data.key]">
                      <h6 *ngFor="let stage of type2RandomSampledArea[data.key][t.tradeId]">{{stage.stageName}}</h6>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="form-group my-2">
            <button class="btn btn-success" (click)="Type2submitStep3Data()">Save</button>
          </div>
        </ng-template>


      </div>
    </div>
  </div>
  <app-footer></app-footer>