<app-header></app-header>
<div class="content-wrapper">
  <div class="add-bg-here">
    <div class="container-fluid ">
      <div class="row">
        <div class="img col text-center">
          <img src="../../assets/images/cqraa.png" class="imgg" alt="cqra">
        </div>
        <div class="info col">
          <h2>Top Construction Inspection and Certification Company</h2><br>
          <a href="https://cqra.com/" target="_blank">CQRA</a> was conceptualised in the late 90's by its founder Ujwal
          Kunte, a
          dedicated Concrete
          technologist and
          management expert. The company was formally established as an independent inspection and certification company
          in the field of Construction in 2004 and has not looked back since. Recently the company has also obtained
          ISO/IEC 17020:2012 certification from NABCB and also offered major equity participation to ACTS Lebanon- a
          world renowned Construction technology company.
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="container-fluid">
  

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
    </ol>


    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="mr-5">Total NC</div>
            <h4 class="card-title mb-0">100</h4>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="mr-5"> Inprogres NC's</div>
            <h4 class="card-title mb-0">60</h4>

          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="mr-5">Closed NC's</div>
            <h4 class="card-title mb-0">54</h4>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="mr-5">New Alert</div>
            <h4 class="card-title mb-0">15</h4>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8">
      

        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bar-chart"></i> Completed Work
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-8 my-auto">
                <div class="chart-container">
                  <canvas id="MyChart" (click)="handleClick($event)">{{ chart }}</canvas>
                </div>
              </div>
              <div class="col-sm-4 text-center my-auto">
                <div class="h4 mb-0 text-primary">100</div>
                <div class="small text-muted">Total Observations</div>
                <hr>
                <div class="h4 mb-0 text-warning">75</div>
                <div class="small text-muted">Non conformaties</div>
                <hr>
                <div class="h4 mb-0 text-success">25</div>
                <div class="small text-muted">Conformaties</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
      

        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-pie-chart"></i> Nc's chart
          </div>
          <div class="card-body">
            <canvas id="myPieChart" width="100%" height="100"></canvas>
          </div>

        </div>
      </div>
    </div>
  

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i> Area Chart Example
      </div>
      <div class="card-body">
      </div>
    </div>
  </div> -->

  <script></script>
  <app-footer></app-footer>