<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">

      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home Home </a>
            </li>
            <li class="breadcrumb-item active">Inspector Declaration</li>
          </ol>
        </div>
      </div>

      <div class="main-view">
        <h4>Inspector Declaration</h4>

        <div class="new-inspector row mt-5">
          <div class="form-group col-md-3">
            <label>New User: </label>
            <select [(ngModel)]="SelUserId" class="form-control col-md-12">
              <option [value]="1">Select user</option>
              <option [value]="user.id" *ngFor="let user of userList">{{user.userFullName}}</option>
            </select>
          </div>
          <div class="form-group col-md-1 mt-4 pt-2 pr-0">
            <button class="btn btn-sm btn-primary p-0 m-0" data-toggle="modal" data-target="#new-trade-user">Assign
              Projects</button>

            <div class="modal fade" id="new-trade-user" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Projects</h5>
                    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div *ngIf="isProjectLoad; then newTradeThen else newTradeElse"></div>
                    <ng-template #newTradeThen>
                      <div class="userdeailsload">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #newTradeElse>
                      <div class="form-check col-md-12" *ngFor="let project of products">
                        <input class="form-check-input" (change)="addToProjectList($event)" type="checkbox"
                          [value]="project.projectId" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{project.projectName}}
                        </label>
                      </div>
                    </ng-template>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-sm btn-success" (click)="saveAssignProjects()">Save</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="inspector-list mt-5">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers"
            class="row-border hover inspector_list_table" style="width:100%">
            <thead>
              <tr>
                <th>Sr no</th>
                <th>User Name</th>
                <th>Status</th>
                <th>Date</th>
                <th>Declaration</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of declarationUserList">
                <td>1</td>
                <td>{{user.username ? user.username : ''}}</td>
                <td>
                  <span class="badge badge-primary">New</span>
                </td>
                <td>{{user.trainingDate ? user.trainingDate : 'not specified'}}</td>
                <td>
                  <button class="btn btn-sm btn-dark m-0" data-toggle="modal"
                    data-target="#declaration-view" (click)="getUserDetails(user.userId)" >View D</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- MODALS -->

  <!-- declaration view modal DTM site -->
  <div class="modal fade" id="declaration-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen w-100 h-100 modal-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Declaration</h5>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-full-body">

          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers"
          class="row-border hover inspector_list_table" style="width:100%">
          <thead>
            <tr>
              <th>Sr no</th>
              <th>Client Name</th>
              <th>Project Name</th>
              <th>User Status</th>
              <th>Comment</th>
              <th>Date</th>
              <th>Approve</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userDeclaration">
              <td>1</td>
              <td>
                {{user.clientName}}
              </td>
              <td>
                {{user.projectName}}
              </td>
              <td>
                <span class="badge badge-success" *ngIf="user.userStatus == 1">Accepted</span>
                <span class="badge badge-danger" *ngIf="user.userStatus == 0">Declined</span>
              </td>
              <td>
                {{user.comment}}
              </td>
              <td>{{user.trainingDate ? user.trainingDate: 'not specified'}}</td>

              <td>
                <div *ngIf="user.dtmStatus === null">
                  <span class="badge badge-success" (click)="addToApproveProject(user.projectId, 1)" role="button">Approve</span>
                  <span class="badge badge-danger" (click)="addToApproveProject(user.projectId, 2)"  role="button">Decline</span>
                </div>
                <div *ngIf="user.dtmStatus != null">
                  <span class="badge badge-success" *ngIf="user.dtmStatus == 1">User Approved</span>
                  <span class="badge badge-danger" *ngIf="user.dtmStatus == 0">User Not Approved</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success" (click)="submitDTMStatus()">Save</button>
        </div>
      </div>
    </div>
  </div>



  <app-footer></app-footer>