<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="add-bg-here">

      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Inspector Declaration</li>
          </ol>
        </div>
      </div>

      <div class="main-view">
        <h4>Inspector Declaration</h4>

        <div class="new-inspector row mt-5">
          <div class="form-group col-md-3">
            <label>New User: </label>
            <select [(ngModel)]="SelUserId" class="form-control col-md-12" (change)="getUSerProjects()">
              <option [value]="1">Select user</option>
              <option [value]="user.id" *ngFor="let user of userList">{{user.userFullName}}
                <span
                  *ngIf="user.l1 || user.l2 || user.l3 || user.infra || user.hep || user.fireSafety || user.constructionSafety">
                  ({{ user.l1 ? 'L1' : '' }} {{ user.l2 ? 'L2' : '' }} {{ user.l3 ? 'L3' : '' }} {{ user.infra ?
                  'Infra' : '' }}
                  {{ user.hep ? 'HEP' : '' }} {{ user.fireSafety ? 'Fire_Safety' : '' }} {{ user.constructionSafety ?
                  'Construction_Safety' : '' }})
                </span>
              </option>
            </select>
          </div>
          <div class="form-group col-md-1 mt-4 pt-2 pr-0">
            <button class="btn btn-sm btn-primary p-0 m-0" data-toggle="modal" data-target="#new-trade-user">Assign
              Projects</button>

            <div class="modal fade" id="new-trade-user" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Projects</h5>
                    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div *ngIf="isProjectLoad; then newTradeThen else newTradeElse"></div>
                    <ng-template #newTradeThen>
                      <div class="userdeailsload">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #newTradeElse>
                      <div class="form-group col-md-6 mb-6">
                        <input type="search" class="form-control col-md-12" (input)="searchProjcets($event)"
                          placeholder="Search projects">
                      </div>
                      <div class="form-check col-md-12" *ngFor="let project of products">
                        <input class="form-check-input" (change)="addToProjectList($event)" type="checkbox"
                          [value]="project.projectId" id="flexCheckDefault"
                          [checked]="assignProjectList.includes(project.projectId)"
                          [disabled]="preAllocatedProjects[project.projectId]">
                        <label class="form-check-label" for="flexCheckDefault">
                          {{project.projectName}}
                        </label>
                      </div>
                    </ng-template>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-sm btn-success" (click)="saveAssignProjects()">
                      <span *ngIf="!assignLoad">Save</span>
                      <span *ngIf="assignLoad"><span class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span></span>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="dtmuserLoad then thenUserDtm else elseUserDTM"></div>
        <ng-template #thenUserDtm>
          <div class="userdeailsload">
            <div class="spinner-border text-warning" role="status">
            </div>
          </div>
        </ng-template>

        <ng-template #elseUserDTM>
          <div class="inspector-list mt-5">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="customers"
              class="row-border hover inspector_list_table" style="width:100%">
              <thead>
                <tr>
                  <th>Sr no</th>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Contact</th>
                  <th>Declaration</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of declarationUserList; index as i">
                  <td style="text-align: left;">{{i+1}}</td>
                  <td style="text-align: left;">
                    <div style="display: flex; flex-direction: column;">
                      <span>
                        <b>{{user.userFullName ? user.userFullName : ''}}</b>
                      </span>
                      <span class="text-secondary">
                        <b>Level:</b> <span
                          *ngIf="user.l1 || user.l2 || user.l3 || user.infra || user.hep || user.fireSafety || user.constructionSafety">
                          ({{ user.l1 ? 'L1' : '' }} {{ user.l2 ? 'L2' : '' }} {{ user.l3 ? 'L3' : '' }} {{ user.infra ?
                          'Infra' : '' }}
                          {{ user.hep ? 'HEP' : '' }} {{ user.fireSafety ? 'Fire_Safety' : '' }} {{
                          user.constructionSafety
                          ?
                          'Construction_Safety' : '' }})</span>
                      </span>
                    </div>
                  </td>
                  <td>
                    <span>{{user.email}}</span>
                  </td>
                  <td>
                    <span>{{user.mobile}}</span>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-dark m-0" data-toggle="modal" data-target="#declaration-view"
                      (click)="getUserDetails(user.userId)">Details</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </div>
    </div>
  </div>


  <!-- MODALS -->

  <!-- declaration view modal DTM site -->
  <div class="modal fade" id="declaration-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen w-100 h-100 modal-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Declaration - {{userDeclaration[0] ?
            userDeclaration[0].userFullName : ''}}</h5>
          <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-full-body">
          <div *ngIf="userDetailsLoad then thenUserDetails else elseUserDetails"></div>
          <ng-template #thenUserDetails>
            <div class="userdeailsload">
              <div class="spinner-border text-warning" role="status">
              </div>
            </div>
          </ng-template>
          <ng-template #elseUserDetails>
            <table datatable [dtOptions]="dtOptions2" [dtTrigger]="dtTrigger2" id="customers"
              class="row-border hover inspector_list_table" style="width:100%">
              <thead>
                <tr>
                  <th>Sr no</th>
                  <th>Client Name</th>
                  <th>Project Name</th>
                  <th>User Status</th>
                  <th>User Comment</th>
                  <th>Action</th>
                  <th>Declaration Date</th>
                  <th>Status</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of userDeclaration; index as i">
                  <td>{{i+1}}</td>
                  <td style="text-align: left;">
                    {{user.clientName}}
                  </td>
                  <td style="text-align: left;">
                    {{user.projectName}}
                  </td>
                  <td>
                    <span class="badge badge-success" *ngIf="user.userStatus == 1">Accepted</span>
                    <span class="badge badge-danger" *ngIf="user.userStatus == 2">Declined</span>
                    <span class="badge badge-warning"
                      *ngIf="user.userStatus == null || user.userStatus == 0">Pending</span>
                  </td>
                  <td>
                    {{user.comment}}
                  </td>

                  <!-- <td>
                  <span *ngIf="user.dtmStatus != 1" class="badge badge-success"
                    (click)="addToApproveProject(user.projectId, 1, user.userId)" role="button">
                    <div *ngIf="approveLoad" class="spinner-border spinner-border-sm" role="status"></div>
                    <span *ngIf="!approveLoad">Approve</span>
                  </span>
                  <span *ngIf="user.dtmStatus == 1" class="badge badge-danger"
                    (click)="addToApproveProject(user.projectId, 2, user.userId)" role="button">
                    <div *ngIf="declineLoad" class="spinner-border spinner-border-sm" role="status"></div>
                    <span *ngIf="!declineLoad">Decline</span>
                  </span>
                </td> -->

                  <td>
                    <button title="Allocate" *ngIf="user.dtmStatus != 1" class="badge bg-primary text-light border-none"
                      (click)="addToApproveProject(user.projectId, 1, user.userId)">
                      <i *ngIf="!approveBtnLoad[user.projectId]" class="las la-check"></i>
                      <span *ngIf="approveBtnLoad[user.projectId] && approveBtnLoad[user.projectId].load"
                        class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                    <button title="De-allocate" *ngIf="user.dtmStatus == 1"
                      class="badge bg-danger text-light border-none mx-2"
                      (click)="addToApproveProject(user.projectId, 2, user.userId)">
                      <i *ngIf="!approveBtnLoad[user.projectId]" class="las la-times"></i>
                      <span *ngIf="approveBtnLoad[user.projectId] && approveBtnLoad[user.projectId].load"
                        class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                  </td>

                  <td>{{user.trainingDate ? user.trainingDate: '-'}}</td>

                  <td>
                    <div *ngIf="user.dtmStatus != null">
                      <span class="badge badge-success" *ngIf="user.dtmStatus == 1">Approved</span>
                      <span class="badge badge-danger" *ngIf="user.dtmStatus == 2">Declined</span>
                    </div>
                    <div *ngIf="user.dtmStatus == null || user.dtmStatus == 0">
                      <span class="badge badge-warning">Pending</span>
                    </div>
                  </td>

                  <td>
                    <button *ngIf="!formLoad[user.projectId]" title="Donwload and view" class="btn btn-sm btn-secondary"
                      (click)="downloadDeclarationForm( user.userId, user.projectId)">
                      <i *ngIf="!formLoad[user.projectId]" class="fa fa-download" aria-hidden="true"></i>
                    </button>

                    <button *ngIf="formLoad[user.projectId] && formLoad[user.projectId].load" title="Donwload and view"
                      class="btn btn-sm btn-secondary">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>

                    <a *ngIf="formLoad[user.projectId] && formLoad[user.projectId].url!=''"
                      [href]="formLoad[user.projectId] && formLoad[user.projectId].url" title="Donwload and view"
                      class="btn btn-sm btn-success" target="_blank">View</a>
                  </td>

                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
        <div class="modal-footer">
          <!-- <button class="btn btn-sm btn-success" (click)="submitDTMStatus()">Save</button> -->
        </div>
      </div>
    </div>
  </div>


  <app-snack-bar></app-snack-bar>
  <app-footer></app-footer>