<app-header></app-header>

<div class="content-wrapper">
    <div class="container-fluid ">
      <div class="add-bg-here">
        <div class="add-container-viewcommon">
         <div class="add-breadcrames">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home </a>
              </li>
              <li class="breadcrumb-item active">User Log</li>
            </ol>
         </div>
         <div class="main-header_createview">
            <div class="left-side-header">
                <div class="create-content-header">
                  <h1> Create Project </h1>
                </div>
            </div>
         </div>
         <div class="create-viewform">
         
                                                 
      
          <div class="form-group">
              <button class="btn btn-primary"  (click) = "onSubmit()">Submit</button>
          </div>
        
         </div>
      </div>
    </div>
<app-footer></app-footer>