<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="card p-0">
      <div class="card-header add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Checklist</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="">
            <button type="button" class="btn btn-success"> <a routerLink="/checklist" class="text-light">Manage
                Checklist</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create Checklist</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">

        <form [formGroup]="registerForm" (ngSubmit)="onGetListSubmit()">
          <div class="row m-2">
            <div class="form-group col-md-6">
              <label>Select Trade</label>
              <select formControlName="selTrade" class="form-control">
                <option [value]="0" selected >Please Select</option>
                <option [value]="o.tardeId" *ngFor="let o of trades">
                  {{o.tradeName}}
                </option>
              </select>
              <div *ngIf="submitted && f.selTrade.errors" class="invalid-feedback">
                <div *ngIf="f.selTrade.errors.required">Trade Group is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Checklist Name</label>
              <input type="text" formControlName="checkListName" class="form-control"
                (ngClass)="{ 'is-invalid': submitted && f.clientName.errors }" />
              <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                <div *ngIf="f.clientName.errors.required">Question Group Description is required</div>
              </div>
            </div>
          </div>
          <div class="row m-2">

            <div class="form-group col-md-6">
              <label>Select Subgroup</label>
              <select (ngModel)="SelClientId" formControlName="subgroupId" class="form-control">
                <option [value]="0" selected>Please Select</option>
                <option [value]="o.subgroupId" *ngFor="let o of subgroups">
                  {{o.subgroupName}}
                </option>
              </select>
              <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
                <div *ngIf="f.clientId.errors.required">Sub Trade is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Select Question Group</label>
              <select (ngModel)="SelClientId" formControlName="groupId" class="form-control">
                <option [value]="0" selected>Please Select</option>
                <option [value]="o.clientId" *ngFor="let o of clients">
                  {{o.clientName}}
                </option>
              </select>
              <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
                <div *ngIf="f.clientId.errors.required">Sub Trade is required</div>
              </div>
            </div>
          </div>
          <div class="form-group mx-3">
            <button class="btn btn-primary">Get List</button>
          </div>


          <div class="wrapper kanban row mt-5 mb-5">
            <section class="content pb-3 col-md-5">
              <div class="container-fluid">
                <div class="card card-row p-0">
                  <div class="card-header bg-primary">
                    <h5 class="card-title text-light">
                      Questions list
                    </h5>
                  </div>
                  <!-- <form [formGroup]="checklistForm" (ngSubmit)="onSubmit()"> -->
                  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="questionList2"
                     class="example-list" (cdkDropListDropped)="drop($event)"
                    class="card-body kamban-card-body" id="all_structure">
                    <div *ngFor="let qgroup of questionGroup">
                      <span><b>{{qgroup.subgroupId}}</b></span>
                      <ul *ngFor=" let q of qgroup.questions" class="card question-list-primary" cdkDrag>
                        <li class="d-flex justify-content-between">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" (change)="onMoveCheck(q, $event.target.checked)"
                              id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              {{q.questionText}}
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!-- <ul *ngFor="let q of questionList2" class="card question-list-success" cdkDrag>
                      <li class="d-flex justify-content-between">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" (change)="onRemoveCheck(q, $event.target.checked)"
                            value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{q.questionText}}
                          </label>
                        </div>
                      </li>
                    </ul> -->
          
                  </div>
          
                  <!-- </form> -->
                </div>
              </div>
            </section>
          
            <section class="col-md-1">
              <div class="row">
                <button class="btn btn-sm btn-primary col-md-12 m-1" (click)='addToCheckList()'><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
                <button class="btn btn-sm btn-success m-1 col-md-12" (click)="removeFromCheckList()"><i class="fa fa-chevron-left"
                    aria-hidden="true"></i></button>
              </div>
            </section>
          
            <section class="content pb-3 col-md-5">
              <div class="container-fluid">
                <div class="card card-row p-0">
                  <div class="card-header bg-success">
                    <h5 class="card-title text-light">
                      Checked Questions
                    </h5>
                  </div>
                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="finalQuestion"
                     class="example-list" (cdkDropListDropped)="drop($event)"
                    class="card-body kamban-card-body" id="all_stages">
                    <ul *ngFor="let q of finalQuestion" class="card question-list-success" cdkDrag>
                      <li class="d-flex justify-content-between">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" (change)="onRemoveCheck(q, $event.target.checked)"
                            value="" id="flexCheckDefault">
                          <label class="form-check-label" for="flexCheckDefault">
                            {{q.questionText}}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" (click)="sendCheckList()">Save</button>
                  </div>
                </div>
              </div>
            </section>
          </div>

         
        </form>
        <!-- Check list Card -->
        <!-- /Check list Card -->


      </div>
    </div>
  </div>
  <app-footer></app-footer>