<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create PMC</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/pmcList">Manage PMC </a> </button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1> Create PMC </h1>
          </div>
        </div>
      </div>
      
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Client Name</label>
            <select [(ngModel)]="SelClient" formControlName="clientId" class="form-control" (change)="getProjects()">
              <option [value]="0">Please Select</option>
              <option [value]="o.clientId" *ngFor="let o of clients">
                {{o.clientName}}
              </option>
            </select>
            <div *ngIf="submitted && f.clientId.errors" class="invalid-feedback">
              <div *ngIf="f.clientId.errors.required">Client Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Project Name</label>
            <select formControlName="projectId" class="form-control">
              <option [value]="0">Please Select</option>
              <option [value]="project.projectId" *ngFor="let project of projects">
                {{project.projectName}}
              </option>
            </select>
            <div  class="invalid-feedback">
            </div>
          </div>
          <div class="form-group">
            <label>Company Name</label>
            <input type="text" formControlName="pmcName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.pmcName.errors }" />
            <div *ngIf="submitted && f.pmcName.errors" class="invalid-feedback">
              <div *ngIf="f.pmcName.errors.required">PMC Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea formControlName="pmcAddress" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.pmcAddress.errors }"></textarea>
            <div *ngIf="submitted && f.pmcAddress.errors" class="invalid-feedback">
              <div *ngIf="f.pmcAddress.errors.required">Address is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" formControlName="pmcEmail" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.pmcEmail.errors }" />
            <div *ngIf="submitted && f.pmcEmail.errors" class="invalid-feedback">
              <div *ngIf="f.pmcEmail.errors.required">Email is required</div>
              <div *ngIf="f.pmcEmail.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label>Phone No</label>
            <input type="text" formControlName="pmcPhone" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.pmcPhone.errors }" />
            <div *ngIf="submitted && f.pmcPhone.errors" class="invalid-feedback">
              <div *ngIf="f.pmcPhone.errors.required">Phone number is required</div>
              <div *ngIf="f.pmcPhone.errors">Must be 10 char</div>

            </div>
          </div>

          <div class="form-group">
            <label>GST number</label>
            <input type="text" formControlName="gstNumber" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.gstNumber.errors }" />
            <div *ngIf="submitted && f.gstNumber.errors" class="invalid-feedback">
              <div *ngIf="f.gstNumber.errors.required">GST Number is required</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>