<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid ">
    <div class="add-bg-here">
      <div class="add-container-viewcommon">
        <div class="add-breadcrames">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Home </a>
            </li>
            <li class="breadcrumb-item active">Create Subgroup</li>
          </ol>
        </div>
        <div class="right-side-create-view">
          <div class="create-content-operations">
            <button type="button"> <a routerLink="/subgroup">Manage Subgroup</a></button>
          </div>
        </div>
      </div>
      <div class="main-header_createview">
        <div class="left-side-header">
          <div class="create-content-header">
            <h1>Create Subgroup</h1>
          </div>
        </div>
      </div>
      <div class="create-viewform">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Select Trade</label>
            <select formControlName="tardeId" class="form-control">
              <option [value]="0">Please Select</option>
              <option [value]="o.tardeId" *ngFor="let o of trades">
                {{o.tradeName}}
              </option>
            </select>
            <div *ngIf="submitted && f.selTrade.errors" class="invalid-feedback">
              <div *ngIf="f.selTrade.errors.required">Trade Group is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="subgroupName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
            <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
              <div *ngIf="f.clientName.errors.required">Trade Name is required</div>
            </div>
          </div>
          <!-- <div class="form-group">
              <label>Description</label>
              <input type="text" formControlName="clientName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
              <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
                  <div *ngIf="f.clientName.errors.required">Trade Description is required</div>
              </div>
            </div> -->
          <div class="form-group">
            <button class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>